<!-- <kt-portlet [options]="{hideHeader: true}">
    <kt-portlet-body class="pd-0" style="min-height: 1000px;">
        <div class="kt-form__filtration">
            <div class="my-form-header" *ngIf="!selectedItem">
                <div class="form-subheader">
                    <div class="task-user-add -compact">
                        <div class="avatar">
                            <i class="las la-close icon"></i>
                        </div>
                        <div class="txt" mat-icon-button>
                            <span (click)="Add()" class="action"
                                matTooltip="{{ 'projects.taocongviec' | translate }}"
                                translate="projects.taocongviec"></span> {{'filter.hoac'|translate}}
                            <span (click)="AddWorkGroup()" class="action"
                                matTooltip="{{ 'projects.taonhomcongviec' | translate }}"
                                translate="projects.taonhomcongviec"></span>
                        </div>
                    </div>
                    <div class="side">
                        <div class="pd-0 float-left">
                            <div class="calendar__wrapper">
                                <div class="calendar__input-wrapper" (click)="show = !show">
                                    <input readonly class="calendar__input" [(ngModel)]="selectedDate">
                                    <img class="icon_calendar" [src]="'./assets/images/calendar-icon.png'"
                                        alt="calendar icon" />
                                </div>
                                <div class="calendar url" *ngIf="show" #calendar>
                                    <div class="calendar__navs">
                                        <div class="calendar__month-nav">
                                            <button class="calendar__nav-btn" (click)="prevMonth()">&lt;</button>
                                            <span>{{currentDate.format('MMMM').toUpperCase()}}
                                                {{currentDate.format('YYYY')}}</span>
                                            <button class="calendar__nav-btn" (click)="nextMonth()">&gt;</button>
                                        </div>
                                    </div>
                                    <div class="calendar__month">
                                        <div class="calendar__day-names">
                                            <div class="calendar__day-name" *ngFor="let name of namesOfDays">{{name}}
                                            </div>
                                        </div>
                                        <div class="calendar__weeks">
                                            <div class="calendar__week" *ngFor="let week of weeks"
                                                (click)="selectDate(week)">
                                                <ng-container *ngFor="let day of week">
                                                    <div class="calendar__date" [ngClass]="{
                                                  'prev': !isSelectedMonth(day.mDate) && isDayBeforeLastSat(day.mDate),
                                                  'today': day.today,
                                                  'selected': day.selected
                                                }">
                                                        <span class="calendar__number">{{day.mDate.date()}}</span>
                                                    </div>
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="dd ">
                            <div class="search" id="js-side-search">
                                <div class="input">
                                    <span class="las la-search"
                                        style="position: absolute; top: 2px; left: 10px; font-size: 18px;"></span>
                                    <input type="text" (keyup.enter)="loadData()" [(ngModel)]="keyword"
                                        placeholder="{{ 'projects.timnhanhcongviec' | translate }}"
                                        autocomplete="off" style="overflow: hidden;">
                                </div>
                            </div>
                        </div>
                        
                        <div class="dd " style="max-width:200px">
                            <div [matMenuTriggerFor]="menu2"> <em>{{'projects.filter'|translate}}:
                                    {{filterStage.title}}</em><i class="fas fa-sort-down"
                                    style="vertical-align: text-top; padding-left:5px"></i>
                                <mat-menu #menu2="matMenu">
                                    <button (click)="LoadFilter(item)" [ngStyle]="{'font-weight': isitemTT(item)}"
                                        mat-menu-item *ngFor="let item of _listFilterTrangthai">
                                        {{item.title}}

                                    </button>
                                </mat-menu>
                            </div>
                        </div>
                        <div class="dd ">
                            <div [matMenuTriggerFor]="menu3">
                                <em>{{'projects.filter_tuychonhienthi'|translate}} </em><i
                                    class="fas fa-sort-down" style="vertical-align: text-top; padding-left:5px"></i>
                                <mat-menu #menu3="matMenu">
                                    <div class="form-group" (click)="$event.stopPropagation()">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <mat-select [(value)]="filtersubtask"
                                                class="mat-form-field mat-form-field-fluid"
                                                placeholder="{{ 'filter.hienthisubtask' | translate }}"
                                                (selectionChange)="loadData()">
                                                <mat-option value="1"><span translate="filter.hienthisubtask"></span>
                                                </mat-option>
                                                <mat-option value="0"><span translate="filter.ansubtask"></span>
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <mat-form-field class="mat-form-field-fluid">
                                            <mat-select [(value)]="filterCVC"
                                                class="mat-form-field mat-form-field-fluid"
                                                placeholder="PERIOD BASED ON " (selectionChange)="loadData()">
                                                <mat-option value="CreatedDate"><span
                                                        translate="filter.thoigiantao"></span>
                                                </mat-option>
                                                <mat-option value="UpdatedDate"><span
                                                        translate="filter.thoigiancapnhat"></span>
                                                </mat-option>
                                                <mat-option value="deadline"><span translate="filter.deadline"></span>
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <mat-form-field class="mat-form-field-fluid">
                                            <mat-select [(value)]="filternhom"
                                                class="mat-form-field mat-form-field-fluid"
                                                placeholder="{{ 'filter.nhomboi' | translate }}"
                                                (selectionChange)="loadData()">
                                                <mat-option value="1"><span translate="filter.nhomcongviec"></span>
                                                </mat-option>
                                                <mat-option value="2"><span translate="filter.muctieu"></span>
                                                </mat-option>
                                                <mat-option value="3"><span translate="filter.thanhvien"></span>
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <mat-checkbox>
                                            <span translate="filter.nhomcongviechoanthanh"></span>
                                        </mat-checkbox>
                                    </div>
                                </mat-menu>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group kt-form__group row">
            <div class=" kt--margin-bottom-10-mobile {{selectedItem==undefined? 'col-md-12 pd-0':'col-md-4'}}">
                <kt-period-view [data]="data" [selectedItem]="selectedItem" [listUser]="listUser"
                    (Reload)="ReloadData($event)" (ItemSelected)="selected($event)">
                </kt-period-view>
            </div>
            <div class="col-md-8 kt--margin-bottom-10-mobile" *ngIf="selectedItem!=undefined">
                <lib-dynamic-component [childComponentType]="childComponentType" [data]="childComponentData"
                    (getInstance)="getInstance($event)"></lib-dynamic-component>
            </div>
        </div>
    </kt-portlet-body>
</kt-portlet> -->