<style>
	.header {
		height: 60px;
		border-bottom: 1px solid #ebedf2;
		padding-top: 20px;
		padding-left: 20px
	}

	.h5 {
		font-size: 1.3rem;
		font-weight: 500;
		font-family: Roboto
	}

	.mat-form-field-appearance-legacy .mat-form-field-wrapper {
		padding-bottom: 1.25em;
		padding-top: 10px
	}

	.mat-form-field-appearance-legacy .mat-form-field-wrapper {
		padding-bottom: 1.25em;
		padding-top: 10px
	}

	.m-buttons--list {
		text-align: center;
		width: 100px;
		height: 40px;
		margin-top: 10px;
	}

	:host>>>.inp-error {
		color: red;
	}

	.mat-table__wrapper .mat-table {
		min-width: 100%;
	}
</style>
<kt-portlet [options]="{headLarge: true, enableSticky: true}" [loading$]="loading1$">
	<kt-portlet-header [sticky]="true" [class]="'kt-portlet__head--lg'">
		<ng-container ktPortletTitle>
			<div class="kt-portlet__head-title">
				<h3 class="kt-portlet__head-text">
					<span translate="phanquyen.tieude2"></span>
				</h3>
			</div>
		</ng-container>
		<ng-container ktPortletTools>

		</ng-container>
	</kt-portlet-header>
	<kt-portlet-body>
		<div class="kt-form" style="z-index: 99 !important;">
			<div class="m-form__filtration">
				<div class="row align-items-center">
					<div class="col-md-4 m--margin-bottom-10-mobile">
						<mat-form-field class="mat-form-field-fluid ">
							<input matInput placeholder="Search product" #searchInputHoTen
								placeholder="{{ 'phanquyen.timkiem' | translate }}"
								class="mat-form-field mat-form-field-fluid">
						</mat-form-field>
					</div>
				</div>
			</div>
		</div>
		<div class="example-container-hc1 mat-table__wrapper" [ngStyle]="{'height': getHeight()}">
			<table mat-table class="lmat-elevation-z8" [dataSource]="dataSource" matSort matSortActive="id"
				style="width: 100%" matSortDirection="asc" matSortDisableClear>
				<ng-container matColumnDef="ID_NV">
					<th mat-header-cell *matHeaderCellDef class="mat-column-vinCode">
						<span translate="GeneralKey.idnv"></span>
					</th>
					<td mat-cell *matCellDef="let item" class="mat-column-vinCode">{{item.ID_NV}}</td>
				</ng-container>
				<ng-container matColumnDef="HoTen">
					<th mat-header-cell *matHeaderCellDef class="mat-column-vinCode">
						<span translate="phanquyen.hoten"></span>
						&nbsp;
                        <app-sort-icon column="HoTen" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
                            (sort)="sortField($event)"></app-sort-icon>
					</th>
					<td mat-cell *matCellDef="let item" class="mat-column-vinCode">{{item.HoTen}}</td>
				</ng-container>
				<ng-container matColumnDef="Username">
					<th mat-header-cell *matHeaderCellDef class="mat-column-vinCode">
						<span translate="phanquyen.tendangnhap"></span>
						&nbsp;
                        <app-sort-icon column="Username" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
                            (sort)="sortField($event)"></app-sort-icon>
					</th>
					<td mat-cell *matCellDef="let item" class="mat-column-vinCode">{{item.Username}}</td>
				</ng-container>
				<ng-container matColumnDef="CCTC">
					<th mat-header-cell *matHeaderCellDef class="mat-column-vinCode">
						<span translate="GeneralKey.cocautochuc"></span>
					</th>
					<td mat-cell *matCellDef="let item" class="mat-column-vinCode">{{item.CCTC}}</td>
				</ng-container>
				<ng-container matColumnDef="ChucDanh">
					<th mat-header-cell *matHeaderCellDef class="mat-column-vinCode">
						<span translate="phanquyen.chucvu"></span>
						&nbsp;
                        <app-sort-icon column="ChucDanh" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
                            (sort)="sortField($event)"></app-sort-icon>
					</th>
					<td mat-cell *matCellDef="let item" class="mat-column-vinCode">
						<span>{{item.ChucDanh}}</span>
					</td>
				</ng-container>
				<ng-container matColumnDef="actions">
					<th mat-header-cell *matHeaderCellDef style="justify-content: center">
						<span translate="GeneralKey.tacvu"></span>
					</th>
					<td mat-cell *matCellDef="let item" style="justify-content: center">
						<button mat-icon-button color="primary" type="button" (click)="PhanQuyen(item)"
							matTooltip="{{ 'phanquyen.phanquyen' | translate }}">
							<mat-icon>enhanced_encryption</mat-icon>
						</button>&nbsp;
					</td>
				</ng-container>

				<tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
				<tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="row.highlighted = !row.highlighted"
					[ngClass]="{hovered: row.hovered, highlighted: row.highlighted}"></tr>
			</table>
		</div>
		<app-paginator class="d-flex justify-content-between align-items-center flex-wrap" style="padding: 0 20px;" [paginator]="paginatorNew"
        [isLoading]="dataSource.loading$  | async" (paginate)="paginate($event)"></app-paginator>
	</kt-portlet-body>
</kt-portlet>