<style>
    .conntentmess {
        font-size: 15px;
    }

    .body {
        padding: 1.25rem !important;
    }

    .attchamentfile {
        background: #F0F2F5;
        display: flex;
        border-radius: 5px;
        margin-bottom: 5px;
        align-items: center;
    }

    .avatar-group {
        display: flex;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        flex-wrap: wrap;
    }

    .btn-class {

        width: 60px;
        margin: 0px 10px 8px;
        background: #80808047;
        border-radius: 10% !important;

    }

    .closebtn {
        align-items: center;
        display: flex;
        width: 25px;
        height: 25px;
        justify-content: center;
    }

    .composing {
        padding-left: 10px;
    }

    .sizeiconreaction {
        font-size: 25px;
        color: black;

    }

    .sizeicon {
        font-size: 25px;

    }

    .leave {
        display: flex;
        padding: 10px;
        background: rgb(0 0 0 / 8%);
        margin-bottom: 10px;
        border-radius: 10px;
    }
</style>
<div [ngClass]="getClass()" id="{{user.user.IdGroup}}" class="card chat-box" style="z-index: 1;">
    <div style="padding: 5px;" *ngIf="!user.user.isGroup" class="card-header">
        <div class="d-flex" *ngFor="let item of user.user.InfoGroupUser">
            <div [ngClass]="getClassActive(user.user.Active)">

                <ngx-avatar [size]="45" src="{{item.Avatar}}">
                </ngx-avatar>
                <ngx-avatar [size]="45" [name]="item.Fullname.slice(0, 1)" bgColor="{{ item.BgColor }}"
                            *ngIf="!item.Avatar"></ngx-avatar>

            </div>
            <div style="padding-left: 10px;">

                <span *ngIf="item.Fullname.length<25;then show1;else show2">

                </span>
                <ng-template #show1>
                    <a href="javascript:;" class="text-primary" style="text-decoration: none;">{{item.Fullname}}

                    </a>
                </ng-template>
                <ng-template #show2>
                    <a href="javascript:;" class="text-primary" style="text-decoration: none;">{{item.Fullname|
                        slice:0:15 }}...

                    </a>
                </ng-template>

                <!-- <div class="text-muted">{{user.lastActive}}</div> -->
                <div *ngIf="user.user.Active" class="text-muted">Online</div>
                <div *ngIf="!user.user.Active" class="text-muted">
                    <div *ngFor="let time of listInfor">

                        <span *ngIf="time.InfoGroupUser[0].TimeAgo.length>0">
                            {{time.InfoGroupUser[0].TimeAgo[0].Time | date : 'yyyy/M/dd h:mm'| timeAgo}}

                        </span>
                        <span *ngIf="time.InfoGroupUser[0].TimeAgo.length==0">
                            Offline
                        </span>

                    </div>
                </div>
            </div>
            <div class="child-right">
                <a class="mr btn" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
                   aria-controls="collapseChatBox">
                    <mat-icon>remove</mat-icon>
                </a>
                <a class="mr" href="javascript:;" (click)="closeBoxChat()">

                    <mat-icon>clear</mat-icon>
                </a>
            </div>
        </div>


    </div>

    <div style="padding: 5px;" *ngIf="user.user.isGroup" class="card-header">
        <div class="d-flex">
            <div>


                <div *ngFor="let gr of listInfor" style="display: -webkit-inline-box;">
                    <div class="avatar-group">

                        <div *ngFor="let mb of gr.ListMember | slice:0:4;let i=index">

                            <div *ngFor="let it of mb.InfoMemberUser ">
                                <div *ngIf="i>=0&&i<3">
                                    <ngx-avatar [size]="25" [name]="it.Fullname.slice(0, 1)" bgColor="{{ it.BgColor }}"
                                                *ngIf="!it.Avatar"></ngx-avatar>
                                    <ngx-avatar [size]="25" src="{{ it.Avatar }}" *ngIf="it.Avatar"></ngx-avatar>

                                </div>

                                <ngx-avatar *ngIf="i==3&& gr.ListMember.length>=4" [size]="25"
                                            value="{{gr.ListMember.length-3}}" bgColor="#ad3838"></ngx-avatar>

                            </div>
                        </div>
                    </div>

                    <!-- <div class="mr">     <img src="./assets/iconGroup.jpg"  class="rounded-circle img-person" alt="" /></div> -->
                    <div style="margin: auto;    padding-left: 5px;">

                        <span *ngIf="user.user.GroupName.length<25;then show1;else show2">

                        </span>
                        <ng-template #show1>
                            <span style="text-decoration: none;font-weight: bold;">{{gr.GroupName}}

                            </span>
                            <span class="chatmore">


                                <ng-container>
                                    <button style="float: right;" mat-icon-button [matMenuTriggerFor]="menuGroup"
                                            aria-label="Example icon-button with a menu">
                                        <mat-icon class="action" style="font-size: 22px;">more_vert</mat-icon>
                                    </button>

                                    <mat-menu #menuGroup="matMenu">

                                        <button (click)="EditNameGroup(user.user.IdGroup)" mat-menu-item
                                                matTooltip="Đổi tên nhóm">
                                            <mat-icon>edit</mat-icon>
                                            <span>Đổi tên nhóm</span>
                                        </button>
                                        <button mat-menu-item matTooltip="Thêm thành viên"
                                                (click)="InsertThanhVienGroup()">
                                            <mat-icon>group_add</mat-icon>
                                            <span>Thêm thành viên</span>
                                        </button>
                                    </mat-menu>

                                </ng-container>
                            </span>
                            <br>
                            <a (click)="OpenThanhVien()" href="javascript:;">
                                {{gr.ListMember.length}} Thành viên
                            </a>
                        </ng-template>
                        <ng-template #show2>
                            <span style="text-decoration: none; font-weight: bold;
                       ">{{gr.GroupName| slice:0:25 }}...

                            </span>
                            <a (click)="OpenThanhVien()" href="javascript:;">{{gr.ListMember.length}} Thành viên</a>
                        </ng-template>

                        <!-- <div class="text-muted">{{user.lastActive}}</div> -->
                    </div>
                </div>
            </div>
            <div class="child-right">
                <a class="mr btn" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
                   aria-controls="collapseChatBox">
                    <mat-icon>remove</mat-icon>
                </a>
                <a class="mr" href="javascript:;" (click)="closeBoxChat()">

                    <mat-icon>clear</mat-icon>
                </a>
            </div>
        </div>
    </div>
    <div [collapse]="isCollapsed" [isAnimated]="true" id="collapseChatBox">

        <div>
            <cdk-virtual-scroll-viewport itemSize="30" style="height: 350px;    width: 295px;" ngx-auto-scroll
                                         lock-y-offset="10" observe-attributes>


                <ul class="chat chat-frame">
                    <a href="{{hostjeechat}}" target="_blank"
                       *ngIf="(messageService.messageThread$ | async)?.length==100">Xem thêm tin nhắn</a>
                    <li class="pd-5" *cdkVirtualFor="let message of (messageService.messageThread$ | async)">
                        <div class="displaytimeGroup"   [innerHTML]="DisplayTime(message.disPlaytimeGroup)">
                        </div>
                        <div [ngClass]=" message.UserName !==userCurrent ? 'd-flex' : 'parent-sent' ">
                            <div class="mr" *ngIf="message.UserName !== userCurrent">
                                <div *ngFor="let info of  message.InfoUser">
                                    <ngx-avatar *ngIf="info.Avatar&&!message.IsDelAll&&!message.isInsertMember"
                                                [size]="20" src="{{info.Avatar}}">
                                    </ngx-avatar>
                                    <ngx-avatar [size]="20" [name]="info.Fullname.slice(0, 1)"
                                                bgColor="{{ info.BgColor }}"
                                                *ngIf="!info.Avatar&&!message.IsDelAll&&!message.isInsertMember"></ngx-avatar>


                                </div>
                            </div>


                            <span
                                    *ngIf="!message.IsHidenAll&&message.UserName==userCurrent&&!message.IsDelAll&&!message.isInsertMember"
                                    class="chatmore">


                                <ng-container>
                                    <button style="float: right;" mat-icon-button [matMenuTriggerFor]="menu"
                                            aria-label="Example icon-button with a menu">
                                        <mat-icon class="action" style="font-size: 22px;">more_horiz</mat-icon>
                                    </button>
                                    <mat-menu #menu="matMenu">

                                        <button mat-menu-item (click)="HidenMess(message.IdChat,user.user.IdGroup)"
                                                matTooltip="Thu hồi tin nhắn">
                                            <mat-icon>delete</mat-icon>
                                            <span>Thu hồi tin nhắn</span>
                                        </button>
                                    </mat-menu>

                                </ng-container>
                            </span>
                            <!-- begin nơi hiển thị mes xóa thành viên  -->
                            <div *ngIf="message.IsDelAll&&!message.isInsertMember" class="leave">
                                <div style=" margin: auto;padding-right: 5px;">
                                    <ngx-avatar [size]="20" [name]="message.InfoUser[0].Fullname.slice(0, 1)"
                                                bgColor="{{ message.InfoUser[0].BgColor }}" *ngIf="!message.InfoUser[0].Avatar">
                                    </ngx-avatar>
                                    <ngx-avatar [size]="20" src="{{message.InfoUser[0].Avatar}}"
                                                *ngIf="message.InfoUser[0].Avatar"></ngx-avatar>
                                </div>
                                <div>
                                    <span *ngIf="message.UserName===userCurrent" style="font-weight: bold;">Bạn</span>
                                    <span *ngIf="message.UserName!==userCurrent"
                                          style="font-weight: bold; ">{{message.InfoUser[0].Fullname}}</span>
                                    {{message.Content_mess}}
                                    <span style="font-weight: bold;">{{message.Note}}</span>khỏi nhóm
                                </div>
                            </div>
                            <!-- end nơi hiển thị mes xóa thành viên  -->
                            <!-- begin nơi hiển thị mes insert thành viên  -->
                            <div *ngIf="message.isInsertMember" class="leave ">

                                <div style=" margin: auto;padding-right: 5px;">
                                    <ngx-avatar [size]="20" [name]="message.InfoUser[0].Fullname.slice(0, 1)"
                                                bgColor="{{ message.InfoUser[0].BgColor }}" *ngIf="!message.InfoUser[0].Avatar">
                                    </ngx-avatar>
                                    <ngx-avatar [size]="20" src="{{message.InfoUser[0].Avatar}}"
                                                *ngIf="message.InfoUser[0].Avatar"></ngx-avatar>
                                </div>
                                <div>


                                    <span *ngIf="message.UserName===userCurrent" style="font-weight: bold; ">Bạn</span>
                                    <span *ngIf="message.UserName!==userCurrent"
                                          style="font-weight: bold; ">{{message.InfoUser[0].Fullname}}</span>
                                    {{message.Content_mess}}
                                    <span *ngIf="message.Note.length<30"
                                          style="font-weight: bold; padding-right:5px;">{{message.Note}}</span>
                                    <span *ngIf="message.Note.length>30"
                                          style="font-weight: bold; padding-right:5px;">{{message.Note|slice:0:30}}...</span>

                                    vào nhóm
                                </div>
                            </div>
                            <!-- end nơi hiển thị mes insert thành viên  -->














                            <div>
                                <div *ngIf="message.Attachment.length>0&&!message.IsHidenAll">
                                    <div gallerize>
                                        <img *ngFor="let img of message.Attachment"
                                             (click)="loadlightbox(message.IdChat)"
                                             style="width: 100px;padding-right:  5px;border-radius: inherit;cursor: pointer;"
                                             src="{{img.hinhanh}}">

                                    </div>
                                </div>


                                <div style="background: #c3dcc3;
                                        padding: 10px;
                                        border-radius: 15px;"
                                     *ngIf="message.Attachment_File.length>0&&!message.IsHidenAll">
                                    <div *ngFor="let file of message.Attachment_File">
                                        <div (click)="RouterLink(file.Link)" style="display: flex;cursor: pointer;">
                                            <img src=" {{ file.icon }}" />
                                            <span style="    width: 165px;    font-weight: bold;
                                              padding-left: 5px;">{{ file.filename }}</span>

                                        </div>

                                    </div>



                                </div>
                                
                                <div *ngIf="message.Videos.length>0&&!message.IsHidenAll">
                                    <div *ngFor="let video of message.Videos">
                                        <video [src]="video.path" height="100" controls></video>

                                    </div>
                                </div>
                                <div *ngIf="!message.IsHidenAll&&!message.IsDelAll&&!message.isInsertMember&&message.Content_mess!==''"
                                     class="message-body "
                                     [class.message-send]="message.UserName === userCurrent&&!message.IsHidenAll">

                                    <span *ngIf="!message.IsHidenAll"
                                          class="conntentmess">{{message.Content_mess}}</span>


                                </div>
                                <div class="hidenmess" *ngIf="message.IsHidenAll">Đã thu hồi </div>
                            </div>


                            <div *ngIf="(messageService.seenMessage$ | async) === user.username">
                            </div>
                        </div>
                    </li>
                    <div *ngIf="myFilesVideo.length">
                        <div *ngFor="let video of myFilesVideo;let indexvd=index">


                            <div style="width: 20px;">
                                <button (click)="RemoveVideos(indexvd)" class="closebtn" mat-button mat-icon-button>
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </button>
                            </div>
                            <video [src]="video" height="100" controls></video>

                        </div>
                    </div>
                </ul>

            </cdk-virtual-scroll-viewport>
            <div style="height: 20px;">
                <span *ngIf="composing" class="composing">{{composingname}} đang soạn tin...</span>
            </div>
        </div>
        <div style="padding: 0px;">


            <!--  nơi hiên thị  hình ảnh -->
            <div style="    height: 80px;
display: flex;
overflow-x: auto;
overflow-y: hidden;" *ngIf="list_image.length>0">


                <div style="display: flex;" *ngFor="let img of list_image;let viimg=index">
                    <div style="width: 20px;">
                        <button (click)="RemoveChoseImage(viimg)" class="closebtn" mat-button mat-icon-button>
                            <i style="font-size: 10px;" class="flaticon2-cancel-music"></i>
                        </button>
                    </div>
                    <img [src]="img" style="width:50px;height:50px;margin: 10px;">
                </div>
                <button style="height: 80px;
            margin:auto;
            border-radius: 10% !important;" (click)="hiddenfileinput_image.click()" matTooltip="Hỉnh ảnh"
                        mat-icon-button aria-label="Example icon button with a home icon">
                    <mat-icon class="sizeiconreaction">add_photo_alternate</mat-icon>
                </button>
                <input type='file' accept=".jpg, .png, .jpeg, .gif, .bmp, .tif, .tiff|image/*" id="PDFInpdd"
                       #hiddenfileinput_image (change)="onSelectFile_PDF($event)" multiple style="display: none;">
            </div>
            <!--  nơi hiển thị file  -->
            <div style="    height: 50px;
            display: flex;
            overflow-x: auto;
            overflow-y: hidden;" *ngIf="listFileChat.length>0">


                <div style="display: flex;" *ngFor="let file of listFileChat;let vifile=index">
                    <div style="width: 20px;">
                        <button (click)="RemoveChoseFile(vifile)" class="closebtn" mat-button mat-icon-button>
                            <i style="font-size: 10px;" class="flaticon2-cancel-music"></i>
                        </button>
                    </div>
                    <div class="attchamentfile">
                        <mat-icon> insert_drive_file</mat-icon>
                        <span>{{file.filename}}</span>
                    </div>
                </div>
                <button style="
                        margin:auto;
                        border-radius: 10% !important;" (click)="hiddenfileinput.click()" matTooltip="File"
                        mat-icon-button aria-label="Example icon button with a home icon">
                    <mat-icon class="sizeiconreaction">add_to_photos</mat-icon>
                </button>
                <input
                        accept="application/vnd.ms-excel, application/vnd.ms-powerpoint,
                          text/plain, application/pdf,application/msword,.pdf, .xls, .xlsx, application/vnd.ms-powerpoint,application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                        type='file' id="PDFInpdd" #hiddenfileinput (change)="onSelectFile_PDF($event)" multiple
                        style="display: none;">
            </div>

            <div *ngIf="show">

                <div>

                    <button (click)="hiddenfileinput_image.click()" class="btn-class" matTooltip="Hỉnh ảnh"
                        mat-icon-button aria-label="Example icon button with a home icon">
                        <mat-icon class="sizeiconreaction">image</mat-icon>
                    </button>
                    <button (click)="hiddenfileinput.click()" class="btn-class" matTooltip="File" mat-icon-button
                        aria-label="Example icon button with a home icon">
                        <mat-icon class="sizeiconreaction">attachment</mat-icon>
                    </button>

                    <button   class="btn-class" (click)="hiddenfileinput_video.click()"  matTooltip="Videos" mat-icon-button
                    aria-label="Example icon button with a home icon">
                    <mat-icon class="sizeiconreaction">video_library</mat-icon>
                </button>
                <input type='file' accept="video/mp4,video/x-m4v,video/*" id="PDFInpdd"
                #hiddenfileinput_video (change)="onSelectVideo($event)"  style="display: none;">
                    <input type='file' accept=".jpg, .png, .jpeg, .gif, .bmp, .tif, .tiff|image/*" id="PDFInpdd"
                        #hiddenfileinput_image (change)="onSelectFile_PDF($event)" multiple style="display: none;">

                    <input
                        accept="application/vnd.ms-excel, application/vnd.ms-powerpoint,
                          text/plain, application/pdf,application/msword,.pdf, .xls, .xlsx, application/vnd.ms-powerpoint,application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                        type='file' id="PDFInpdd" #hiddenfileinput (change)="onSelectFile_PDF($event)" multiple
                        style="display: none;">

                </div>

            </div>
            <div>


                <div class="input-group">
                    <div class="input-group-append">
                        <button [disabled]="AttachFileChat.length>0|| list_image.length>0" *ngIf="!show" matTooltip="Đa phương tiện" (click)="showPT()" mat-icon-button
                            style="color:#7B7B7E ;" aria-label="Example icon button with a home icon">
                            <mat-icon style="font-size: 25px;">control_point</mat-icon>
                        </button>
                        <button *ngIf="show" matTooltip="Đóng" (click)="showPT()" mat-icon-button
                            style="color:#7B7B7E ;" aria-label="Example icon button with a home icon">
                            <mat-icon style="font-size: 25px;">cancel</mat-icon>
                        </button>
                     
                        <!-- <button [disabled]=""  style="background:#6993FF"class="btn btn-primary" type="submit">Send</button> -->
                    </div>
                    <form style="width: 86%;
                    display: flex;" #messageForm="ngForm" (ngSubmit)="sendMessage()" autocomplete="off">
                        <input (paste)="onPaste($event)" (ngModelChange)="saverange($event)"
                               style="   font-size: 15px;background: #F0F2F5;border-radius: 20px;" type="text"
                               name="messageContent" required [(ngModel)]="messageContent" class="form-control input-sm"
                               placeholder="Send a private message" (focus)="onFocusEvent($event)">
                        <div class="input-group-append">
                            <button style="color:#4E4EFA ;" matTooltip="Gửi tin nhắn" mat-icon-button
                                    aria-label="Example icon button with a home icon">
                                <mat-icon>send</mat-icon>
                            </button>

                            <!-- <button [disabled]=""  style="background:#6993FF"class="btn btn-primary" type="submit">Send</button> -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

<ng-template #itemTemplate let-index="index" let-type="type" let-data="data" let-currIndex="currIndex">
    <ng-container>
        <img [src]="data.src" />
    </ng-container>
</ng-template>
