<style>
	.link-class {
		border: 1px solid white;
		color: white;
		display: grid;
		height: 120px;
		font-weight: bold;
	}

	.link-class:hover {
		background-color: rgb(241 243 240);
		cursor: pointer;
		border-radius: 5px;
	}

	.class-padding{
		padding: 10px;
	}
</style>
<div ngbDropdown placement="bottom-right" autoClose="outside" class="kt-header__topbar-item" *ngIf="listModule.length > 0">
	<div ngbDropdownToggle class="kt-header__topbar-wrapper">
		<span class="kt-header__topbar-icon notification dl-notification"
			[ngClass]="{'kt-pulse kt-pulse--brand': pulse, 'kt-pulse--light' : pulseLight, 'kt-header__topbar-icon--success' : iconType === 'success'	}"
			matBadge="{{total>0?total:''}}" matBadgeColor="warn">
			<i *ngIf="!useSVG" [ngClass]="icon"></i>
			<span *ngIf="useSVG" class="kt-svg-icon" [ngClass]="{'kt-svg-icon--success' : iconType === 'success'}"
				[inlineSVG]="icon"></span>
			<span class="kt-pulse__ring" [hidden]="!pulse"></span> 
		</span>
	</div>

	<div ngbDropdownMenu class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround dropdown-menu-lg">
		<div class="kt-dropdown__inner">
			<div class="kt-dropdown__content">
				<div class="row kt-nav-grid__row" *ngIf="listModule.length > 0">
					<div class="col-md-6 class-padding" *ngFor="let d of listModule">
						<a class="kt-nav__link link-class" (click)="LoadMenu(d)">
							<span style="text-align: center; color: black;"><i class="kt-nav__link-icon" style="font-size: xxx-large"
									[ngClass]="d.Icons"></i></span>
							<span style="text-align: center;font-size: 10pt; color: black;">{{d.Title}}</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
