<div class="row work-item" [ngStyle]="{background: IsShow_Title?'#ffffee':''}"
    [ngClass]="{'selected-item': selectedItem}" style="width: 100%">
    <div class="work-item-detail">
        <div class="{{selectedItem==undefined? 'work-item-title':'col-md-12'}} m--margin-bottom-10-mobile">
            <div class="text-2-line {{IsShow_Title?'d-flex':''}}">
                <mat-checkbox [disabled]="item.assign==null" [ngStyle]="{cursor: item.assign==null?'':'pointer'}" [(ngModel)]="isComplete" (change)="setTrangthai()" >
                </mat-checkbox>&nbsp;&nbsp;
                <div style="flex-grow: 1;" *ngIf="IsShow_Title">
                    <mat-form-field class="mat-form-field-fluid">
                        <input matInput placeholder=""
                            (keydown.enter)="update_Title($event.target.value)"
                            [ngModelOptions]="{standalone: true}" [(ngModel)]="Title">
                    </mat-form-field>
                </div>
                <ng-container *ngIf="!IsShow_Title">
                    <span class="work-title" matTooltip="{{ 'workprocess.taoboi' | translate }}: @{{item.NguoiTao}}"
                        (click)="selected()">{{item.title}}</span>
                    <ng-container *ngIf="item.num_file>0">
                        <span style="color: #e95d0d;"> - {{item.num_file}}</span>
                        <mat-icon class="sizeIcon">attach_file</mat-icon>&nbsp;&nbsp;
                    </ng-container>
                    <ng-container *ngIf="item.num_com>0">
                        <span style="color: #e95d0d;"> - {{item.num_com}}</span>
                        <mat-icon class="sizeIcon">comment</mat-icon>
                    </ng-container>
                </ng-container>
            </div>
            <br>
            <div *ngIf="!IsShow_Title" class="row hide-overflow">
                <div class="d-flex">
                    <mat-chip-list aria-label="Fish selection" style="flex-wrap: nowrap;" *ngIf="!selectedItem">
                        <mat-chip *ngIf="item.status" [color]="getColor(item.status)">
                            {{getItemStatusString(item.status)}}
                        </mat-chip>
                        <mat-chip *ngIf="item.is_htquahan" color="danger">
                            {{ 'filter.htquahan' | translate }}
                        </mat-chip>
                        <mat-chip *ngIf="item.urgent" color="purple">
                            {{ 'filter.khancap' | translate }}
                        </mat-chip>
                        <mat-chip *ngIf="item.important" color="complete">
                            {{ 'filter.quantrong' | translate }}
                        </mat-chip>
                        <mat-chip *ngIf="item.is_quahan" color="danger">
                            {{ 'filter.quahan' | translate }}
                        </mat-chip>
                    </mat-chip-list>
                    <div class="hide-more-text p-mg0 d-flex"
                        style="margin-top: 5px; margin-left: 5px; margin-bottom: -5px;">
                        <span *ngIf="item.start_date != null && item.start_date != ''">
                            <p>{{ 'filter.ngaybatdau' | translate }}:
                                {{item.start_date.split(" ", 1)}} -</p>
                        </span>&nbsp;
                        <span class="work-description url" [innerHTML]="item.description"></span>&nbsp;
                        <span class="hide-text" style=" white-space: nowrap;">
                            <p>- {{ 'workprocess.taoboi' | translate }}:
                                @{{item.NguoiTao}}</p>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="!selectedItem" class="work-item-action m--margin-bottom-10-mobile" style="text-align: right;">
            <div class="row">
                <div class="col-lg-12 m--margin-bottom-20-mobile work-favourite">
                    <div class="work-action-top">
                        <div class="deadline">
                            <ng-container *ngIf="item.start_date != null">
                                <span p matTooltip="Deadline: {{item.deadline}}" style="color: rgb(196, 25, 25); font-size: 11px;">
                                    {{item.deadline.split(" ", 1)}}
                                </span>&nbsp;
                            </ng-container>

                        </div>
                        <div class="assign">
                            <div class="choose-user-small action-user w-100 d-flex" [matMenuTriggerFor]="adduser">
                                <ng-container *ngIf="item.assign;else userIsnull">
                                    <img matTooltip={{item.assign.hoten}} style="width: 25px; height: 25px;"
                                        src="{{item.assign.image}}" alt="">
                                    <div class="hide-more-text" style="padding-left:5px;">{{item.assign.hoten}}</div>
                                </ng-container>
                                <ng-template #userIsnull>
                                    <i matTooltip="Assign todo in checklist" class="las la-plus"></i>
                                    <span style="padding: 2px 0 0 5px;">{{ 'GeneralKey.giaoviec' | translate }}</span>
                                </ng-template>
                            </div>
                            <mat-menu #adduser="matMenu">
                                <div class="page-work-detail" style="max-width:250px">
                                    <kt-choose-users [options]="optionsUser" (ItemSelected)="Assign($event)"
                                        (IsSearch)="stopPropagation($event)">
                                    </kt-choose-users>
                                </div>
                            </mat-menu>
                        </div>
                        <div class="favourite pt-5 url">
                            <div [ngStyle]="{'color': item.favourite=='1'?'#FFD000':'#ebedf2'}" (click)="favourite()">
                                <mat-icon>star</mat-icon>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 m--margin-bottom-20-mobile" style="text-align:right">
                    <popover-content #PopoverTime placement="bottom-right" [closeOnClickOutside]="true">
                        <kt-choose-time [Id]="item.id_row" [Id_key]="11" (Timeselected)="Datechange($event)"
                            [Loai]="'start_date'"></kt-choose-time>
                    </popover-content>
                    <mat-menu style="padding: 0;" #miles="matMenu">
                        <kt-choose-milestone-and-tags [options]="options" [showcheck]="true" (ItemSelected)="SelectedItem($event)" [id_project_Team]="id_project_team"
                            [Id]="item.id_row" [item]="item" [Id_key]="0" [Loai]="loaiItem"></kt-choose-milestone-and-tags>
                    </mat-menu>
                    <mat-menu style="padding: 0;" #tag="matMenu">
                        <kt-choose-milestone-and-tags [options]="options" [showcheck]="true" (ItemSelected)="SelectedItem($event)" [project_team]="project_team"
                            [id_project_Team]="id_project_team" [item]="item" [Id]="item.id_row" [Id_key]="9" [Loai]="loaiItem">
                        </kt-choose-milestone-and-tags>
                    </mat-menu>
                    <button class="btn-node hover btn-hover" mat-icon-button (click)="ShowUpdate()" style="size: 10px"
                        matTooltip="{{ 'GeneralKey.chinhsua' | translate }}" color="primary">
                        <mat-icon>create</mat-icon>
                        <div class="point-hover"></div>
                    </button>
                    <button class="btn-node hover btn-hover" [matMenuTriggerFor]="Setdeadline" mat-icon-button
                        matTooltip="{{ 'filter.deadline' | translate }}" color="warn">
                        <mat-icon>date_range</mat-icon>
                        <div class="point-hover"></div>
                        <mat-menu style="padding: 0;" #Setdeadline="matMenu">
                            <kt-choose-time [Id]="item.id_row" [Id_key]="17" (Timeselected)="Datechange($event)"
                                [Loai]="'deadline'"></kt-choose-time>
                        </mat-menu>
                    </button>

                    <button class="btn-node hover btn-hover" mat-icon-button popoverTitle="{{ 'GeneralKey.ngaybatdau' | translate }}"
                        [popover]="PopoverTime" popoverPlacement="bottom" [popoverOnHover]="false" style="size: 10px"
                        matTooltip="{{ 'GeneralKey.ngaybatdau' | translate }}" color="accent">
                        <mat-icon>watch_later</mat-icon>
                        <div class="point-hover"></div>
                    </button>

                    <button class="btn-node hover btn-hover" mat-icon-button (click)="mark_urgent()" style="size: 10px"
                        matTooltip="{{ 'projects.dokhancap' | translate }}" color="warn">
                        <mat-icon>warning</mat-icon>
                        <div class="point-hover"></div>
                    </button>
                    <button class="btn-node hover btn-hover" mat-icon-button (click)="mark_important()"
                        style="size: 10px" matTooltip="{{ 'projects.quantrong' | translate }}"
                        color="primary">
                        <mat-icon>add_alert</mat-icon>
                        <div class="point-hover"></div>
                    </button>
                    <button class="btn-node hover btn-hover" mat-icon-button [matMenuTriggerFor]="miles"
                        popoverPlacement="bottom" (click)="add_milestone()" style="size: 10px"
                        matTooltip="{{ 'projects.milestone' | translate }}" color="warn">
                        <mat-icon>notifications</mat-icon>
                        <div class="point-hover"></div>
                    </button>
                    <button class="btn-node hover btn-hover" mat-icon-button [matMenuTriggerFor]="tag"
                        (click)="mark_tag()" matTooltip="{{ 'projects.gannhan' | translate }}"
                        color="accent">
                        <mat-icon>label</mat-icon>
                        <div class="point-hover"></div>
                    </button>
                    <button class="btn-node hover btn-hover" mat-icon-button (click)="delete()" style="size: 10px"
                        matTooltip="{{ 'GeneralKey.xoa' | translate }}" color="warn">
                        <mat-icon>clear</mat-icon>
                        <div class="point-hover"></div>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <span style="border-bottom: 1px dotted rgba(0,0,0,0.2);"></span>
</div>
