@import "./../work-list-new.component.scss";
.kt-portlet__head-label{
    width: 100%;
}

.row {
    margin: 0!important; 
}

.filter{
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    color: #999;
    padding: 10px 20px;
    .icon-user{
        padding: 7px 10px;
    }
}

