<!-- <kt-portlet [options]="{hideHeader: true}">
    <kt-portlet-body>
        <div class="kt-form__filtration">
            <div class="my-form-header" *ngIf="!selectedItem">
                <div class="form-subheader">
                    <div class="task-user-add -compact">
                        <div class="avatar">
                            <i class="las la-close icon"></i>
                        </div>
                        <div class="txt" mat-icon-button>
                            <span (click)="Add()" class="action" matTooltip="{{ 'projects.taocongviec' | translate }}" translate="projects.taocongviec"></span> hoặc
                            <span (click)="AddWorkGroup()" class="action" matTooltip="{{ 'projects.taonhomcongviec' | translate }}" translate="projects.taonhomcongviec"></span>

                        </div>
                    </div>
                    <div class="side">
                        <div class="dd search-box">
                            <div class="search">
                                <div class="input">
                                    <span class="las la-search" style="position: absolute; top: 2px; left: 10px; font-size: 18px;"></span>
                                    <input type="text" placeholder="{{ 'projects.timnhanhcongviec' | translate }}"
                                     (keyup.enter)="LoadFilter({})" [(ngModel)]="keyword" autocomplete="off" style="overflow: hidden;">
                                </div>
                            </div>
                        </div>
                        <div class="dd ">
                            <div [matMenuTriggerFor]="menu2"> <em>{{ 'projects.filter' | translate }}: {{filterStage.title}}<i class="fas fa-sort-down" style="vertical-align: text-top; padding-left:5px"></i></em>
                                <mat-menu #menu2="matMenu">
                                    <button mat-menu-item (click)="LoadFilter(item)" *ngFor="let item of _ListTilterTrangthai">
                                        <span [ngStyle]="{'font-weight': filterStage==item?'bold':''}">{{item.title}}</span>
                                    </button>
                                </mat-menu>
                            </div>
                        </div>
                        <div class="dd">
                            <div [matMenuTriggerFor]="sort">
                                <em> {{filtermoicapnhat.title}} <i class="fas fa-sort-down" style="vertical-align: text-top; padding-left:5px"></i></em>
                                <mat-menu #sort="matMenu">
                                    <button mat-menu-item (click)="LoadFilter(item)" *ngFor="let item of _listFilterMoicapnhap">
                                        <span [ngStyle]="{'font-weight': filtermoicapnhat==item?'bold':''}">{{item.title}}</span>
                                    </button>
                                </mat-menu>
                            </div>
                        </div>
                        <div class="dd">
                            <div [matMenuTriggerFor]="subtask">
                                <em> {{filtersubtask.title}} <i class="fas fa-sort-down" style="vertical-align: text-top; padding-left:5px"></i></em>
                                <mat-menu #subtask="matMenu">
                                    <button mat-menu-item (click)="LoadFilter(item)" *ngFor="let item of _listFilterSubtask">
                                        <span [ngStyle]="{'font-weight': filtersubtask==item?'bold':''}">{{item.title}}</span>
                                    </button>
                                </mat-menu>
                            </div>
                        </div>
                        <div class="dd d-none">
                            <div [matMenuTriggerFor]="menu3">
                                <em> {{ 'projects.filter_tuychonhienthi' | translate }} <i class="fas fa-sort-down" style="vertical-align: text-top; padding-left:5px"></i></em>
                                <mat-menu #menu3="matMenu">
                                    <div class="form-group" (click)="$event.stopPropagation()">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <mat-select [(value)]="filtermilestone" class="mat-form-field mat-form-field-fluid" placeholder="{{ 'filter.tatcamuctieu' | translate }}" (selectionChange)="loadData()">
                                                <mat-option value="1"><span translate="filter.tatcamuctieu"></span>
                                                </mat-option>
                                                <mat-option value="2"><span translate="filter.nomilestone"></span>
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <mat-form-field class="mat-form-field-fluid">
                                            <mat-select [(value)]="filterassign" class="mat-form-field mat-form-field-fluid" placeholder="{{ 'filter.giaochotoi' | translate }}" (selectionChange)="loadData()">
                                                <mat-option value="1"><span translate="filter.giaochotoi"></span>
                                                </mat-option>
                                                <mat-option value="2"><span translate="filter.giaoboitoi"></span>
                                                </mat-option>
                                                <mat-option value="3"><span translate="filter.luachonthanhvien"></span>
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </mat-menu>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group kt-form__group row">
            <div class=" kt--margin-bottom-10-mobile {{selectedItem==undefined? 'col-md-12':'col-md-4'}}">
                <kt-stream-view [data]="data" [selectedItem]="selectedItem" (ItemSelected)="selected($event)" [listUser]="listUser"></kt-stream-view>
            </div>
            <div class="col-md-8 kt--margin-bottom-10-mobile" *ngIf="selectedItem!=undefined">
                <lib-dynamic-component [childComponentType]="childComponentType" [data]="childComponentData" 
                (getInstance)="getInstance($event)" (closeDetail)="closeDetail($event)"></lib-dynamic-component>
            </div>
        </div>
    </kt-portlet-body>
</kt-portlet> -->