<div class="form-group kt-form__group {{selectedItem==undefined? 'tab-left':'row'}} " style="margin-bottom: 0;">
    <div class="{{selectedItem==undefined? '':'tab-left  w-100'}} d-flex">
        <div class=" kt--margin-bottom-10-mobile {{selectedItem==undefined? 'col-md-12':'col-md-4 pd-0'}}">
            <div class="my-form-header" *ngIf="!selectedItem">
                <div class="form-subheader">
                    <ng-container *ngIf="selectedTab != 2;else filter">
                        
                    <div class="task-user-add -compact">
                        <div class="avatar" (click)="AddWork()">
                            <i class="las la-close icon"></i>
                        </div>
                        <div class="txt"> <span (click)="AddWork()" mat-icon-button
                                matTooltip="{{ 'workprocess.taocongviec' | translate }}" class="action">{{ 'workprocess.taocongviec' | translate }}</span>
                        </div>
                    </div>
                    <div class="side">
                        <div class="dd hide-more-text" style="max-width:200px">
                            <div [matMenuTriggerFor]="menu">
                                <em> {{filterCV.title}} <i class="fas fa-sort-down"
                                        style="vertical-align: text-top; padding-left:5px"></i></em>
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item (click)="FilterGV(item)" *ngFor="let item of filterGiaoviec">
                                        <span
                                            [ngStyle]="{'font-weight': filterCV==item?'bold':''}">{{item.title}}</span>
                                    </button>
                                </mat-menu>
                            </div>
                        </div>
                        <div class="dd hide-more-text" style="max-width:200px">
                            <div [matMenuTriggerFor]="menu1">
                                <em> {{filterStage.title}} <i class="fas fa-sort-down"
                                        style="vertical-align: text-top; padding-left:5px"></i></em>
                                <mat-menu #menu1="matMenu">
                                    <button mat-menu-item (click)="FilterTT(item)" *ngFor="let item of filterTrangthai">
                                        <span
                                            [ngStyle]="{'font-weight': filterStage==item?'bold':''}">{{item.title}}</span>
                                    </button>
                                </mat-menu>
                            </div>
                        </div>
                        <div class="dd hide-more-text" style="max-width:200px">
                            <div [matMenuTriggerFor]="menu2"> <em> {{Project.title}} <i class="fas fa-sort-down"
                                        style="vertical-align: text-top; padding-left:5px"></i></em>
                                <mat-menu #menu2="matMenu">
                                    <div style="max-width:300px;max-height:300px">
                                        <button mat-menu-item (click)="FilterDA(item)" matTooltip={{item.title}}
                                            *ngFor="let item of listProject">
                                            <span [ngStyle]="{'font-weight': Project.id_row==item.id_row?'bold':''}">{{item.title}}</span>
                                        </button>
                                    </div>
                                </mat-menu>
                            </div>
                        </div>
                        <div class="dd hide-more-text" style="max-width:200px">
                            <div [matMenuTriggerFor]="menu3">
                                <em> {{timeUpdate.title}} <i class="fas fa-sort-down"
                                        style="vertical-align: text-top; padding-left:5px"></i></em>
                                <mat-menu #menu3="matMenu">
                                    <button mat-menu-item (click)="FilterTimeUpdate(item)"
                                        *ngFor="let item of filterTimeUpdate">
                                        <span
                                            [ngStyle]="{'font-weight': timeUpdate==item?'bold':''}">{{item.title}}</span>
                                    </button>
                                </mat-menu>
                            </div>
                        </div>
                    </div>
                    </ng-container>
                </div>
                <ng-template #filter>
                    <div class="border-bottom text-dark filter-search">
                        <i class="fas fa-filter" style="padding: 5px; border: 1px solid #ccc; border-radius: 50%;vertical-align: text-bottom;"></i>
                        &nbsp;
                        <span style="font-size: 20px;font-weight: 500;">{{ 'summary.boloctuychinh' | translate }}: 
                            <span class="-hover url" [matMenuTriggerFor]="lstFilter">  {{showTitleFilter(idFilter)}} </span>
                        </span>
                        <mat-menu #lstFilter="matMenu">
                            <button mat-menu-item (click)="ChangeFilter(item.id_row)" *ngFor="let item of listfilter"> {{item.title}}</button>
                          </mat-menu>
                    </div>
                </ng-template>
            </div>
            <kt-stream-view [data]="data" [selectedItem]="selectedItem" (ItemSelected)="selected($event)"
                (Reload)="Reload($event)" [listUser]="listUser">
            </kt-stream-view>
        </div>
        <div class="col-md-8 pd-0 border-left kt--margin-bottom-10-mobile" *ngIf="selectedItem!=undefined">
            <router-outlet></router-outlet>
        </div>
    </div>
    <div class="tab-right kt--margin-bottom-10-mobile" *ngIf="selectedItem!=undefined">
        <kt-work-detail-tab-right [data]="data" [selectedItem]="selectedItem" (SelectedMilestone)="SelectedMilestone($event)" (ItemSelected)="selected($event)">
        </kt-work-detail-tab-right>
    </div>
</div>
<div *ngIf="selectedItem==undefined" class="tab-right kt--margin-bottom-10-mobile">
    <div id="project-side">
        <div class="section">
            <kt-portlet>
                <kt-portlet-body *ngIf="item">
                    <div class="row font-chu">
                        <div class="col-md-12 ">
                            <div style="display: flex;" class="ng-star-inserted">
                                <div>
                                    <img alt="" class="m--img-rounded m--marginless m--img-centered"
                                        style="width: 50px; height: 50px;border-radius: 50%;" src="{{Image}}">
                                </div>
                                <div class="font-chu">
                                    <div class="col-md-12" style="font-weight: bold; font-size: 20px; color: black;">
                                        <span>{{Ten}}</span>
                                    </div>
                                    <div class="col-md-12">
                                        <span style="color: black;">{{ChucVu ? ChucVu : '...'}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row font-chu">
                        <div class="col-md-12">
                            <span style="font-weight: bold; color: black;">

                                {{count.ht}}
                            </span>/<span style="font-weight: bold; color: black;">{{count.tong}}</span> {{ 'workprocess.hoanthanh' | translate }}
                            <mat-progress-bar mode="determinate" [value]="count.percentage"></mat-progress-bar>
                        </div>
                    </div>
                    <div class="row font-chu">
                        <div class="col-md-12" style="display: contents;">
                            <mat-accordion style="display: contents;">
                                <mat-expansion-panel style="width: 100%">
                                    <mat-expansion-panel-header style="padding: 0 10px;">
                                        <mat-panel-title>
                                            <div class="col-md-12 kt--margin-bottom-10-mobile header-center">
                                                <span class="fas fa-asterisk"></span>&nbsp;&nbsp;
                                                <span style="color: black;"
                                                    translate="summary.moiduocgiao"></span>&nbsp;&nbsp;
                                            </div>
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <perfect-scrollbar class="kt-scrollable kt-scroller"
                                        style="padding-left: 25px; display: contents">
                                        <div class="kt-form" *ngIf="giaoquahan.length > 0">
                                            <div class="row row-class" *ngFor="let item of moigiao">
                                                <div class="col-md-8">
                                                    <span style="font-size: 12px;">{{item.title}}</span><br>
                                                </div>
                                                <div class="col-md-2">
                                                    <span *ngIf="item.urgent"
                                                        class="kt-badge kt-badge--inline kt-badge--pill kt-badge--{{getItemCssClassByurgent(item.urgent)}} kt-badge--wide">{{ getItemurgent(item.urgent) }}</span>&nbsp;
                                                </div>
                                            </div>
                                        </div>
                                    </perfect-scrollbar>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </div>
                    </div>
                    <div class="row font-chu">
                        <div class="col-md-12" style="display: contents;">
                            <mat-accordion style="display: contents;">
                                <mat-expansion-panel style="width: 100%">
                                    <mat-expansion-panel-header style="padding: 0 10px;">
                                        <mat-panel-title>
                                            <div class="col-md-12 kt--margin-bottom-10-mobile header-center">
                                                <span class="fas fa-asterisk"></span>&nbsp;&nbsp;
                                                <span style="color: black;"
                                                    translate="summary.moigiaodi"></span>&nbsp;&nbsp;
                                            </div>
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <perfect-scrollbar class="kt-scrollable kt-scroller"
                                        style="padding-left: 25px; display: contents">
                                        <div class="kt-form" *ngIf="giaoquahan.length > 0">
                                            <div class="row row-class" *ngFor="let item of giaoquahan">
                                                <div class="col-md-8">
                                                    <span style="font-size: 12px;">{{item.title}}</span><br>
                                                </div>
                                                <div class="col-md-2">
                                                    <span *ngIf="item.urgent"
                                                        class="kt-badge kt-badge--inline kt-badge--pill kt-badge--{{getItemCssClassByurgent(item.urgent)}} kt-badge--wide">{{ getItemurgent(item.urgent) }}</span>&nbsp;
                                                </div>
                                            </div>
                                        </div>
                                    </perfect-scrollbar>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </div>
                    </div>
                </kt-portlet-body>
            </kt-portlet>
        </div>
        <div class="section">
            <kt-portlet>
                <kt-portlet-header [sticky]="true" [class]="'kt-portlet__head--lg'">
                    <ng-container ktPortletTitle>
                        <div class="kt-form__filtration">
                            <div class="row align-items-center">
                                <h5><span style="color: black; font-weight: bold;"
                                        translate="projects.muctieu"></span></h5>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container ktPortletTools>
                        <mat-icon class="text-dark" style="padding-left: 25px;" (click)="addMileston()" matTooltip="{{ 'GeneralKey.themmoi' | translate }}"
                            class="-hover">add</mat-icon>
                    </ng-container>
                </kt-portlet-header>
                <kt-portlet-body class="pd-0" *ngIf="milestone" style="max-height:250px;overflow-y: auto;"> 
                    <div class="row item-muctieu" *ngFor="let _item of milestone">
                        <div class="col-md-4">
                            <div class="ms-time">
                                <em>{{_item.deadline_weekday}}</em>
                                <span>{{_item.deadline_day}}</span>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="row text-2-line url -hover" (click)="selectedMileston(_item)" style="color: black;">
                                <b>{{_item.title}}</b>
                            </div>
                            <div *ngIf="_item.person_in_charge" class="row" style="color: black; font-size: 10px;">
                                <span>{{_item.person_in_charge.hoten}}</span>&nbsp;&nbsp;
                                <span>{{_item.Count.ht}}/{{_item.Count.tong}}</span>
                            </div>
                        </div>
                    </div>
                </kt-portlet-body>
            </kt-portlet>
        </div>
        <div class="section">
            <kt-portlet>
                <kt-portlet-header [sticky]="true" [class]="'kt-portlet__head--lg'">
                    <ng-container ktPortletTitle>
                        <div class="kt-form__filtration">
                            <div class="row align-items-center">
                                <h5>
                                    <span style="color: black; font-weight: bold;"
                                        translate="summary.boloctuychinh"></span>
                                </h5>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container ktPortletTools>
                        <mat-icon class="text-dark" style="padding-left: 25px;"  (click)="addFilter()" matTooltip="{{ 'GeneralKey.themmoi' | translate }}" >add</mat-icon>
                    </ng-container>
                </kt-portlet-header>
                <kt-portlet-body *ngIf="listfilter"
                    style="min-height: 100px;max-height: 250px; overflow: auto; line-height: 25px;">
                    <div class="row font-chu" *ngFor="let filter of listfilter">
                        <div class="col-md-8 m--margin-bottom-10-mobile hide-more-text">
                            <span style="color: #5969c5; font-size: 12px; font-weight: bold;">{{filter.title}}</span>
                        </div>
                        <div class="col-md-4 m--margin-bottom-10-mobile text-right">
                            <span class="text-primary" (click)="Update(filter)"
                                matTooltip="{{ 'GeneralKey.capnhat' | translate }}">
                                <mat-icon>create</mat-icon>
                            </span> &nbsp;
                            <span class="text-danger" (click)="DeleteFilter(filter)" mat-icon-button
                                matTooltip="{{ 'GeneralKey.xoa' | translate }}">
                                <mat-icon>clear</mat-icon>
                            </span>
                            
                        </div>
                    </div>
                </kt-portlet-body>
            </kt-portlet>
        </div>
        <div class="section">
            <kt-mystaff [data]="mystaff"></kt-mystaff>
        </div>
    </div>
</div>
