<div class="kt-portlet topic-edit"
    [ngClass]="{ 'kt-portlet--body-progress kt-portlet--body-progress-overlay' : viewLoading }">
    <div class="kt-portlet__head kt-portlet__head__custom">
        <div class="kt-portlet__head-label">
            <h5 class="kt-portlet__head-title">{{getTitle()}}</h5>
        </div>
    </div>
    <form class="kt-form" [formGroup]="itemForm">
        <div class="kt-portlet__body">
            <div class="row">
                <div class="col-md-12 kt--margin-bottom-10-mobile">
                    <mat-form-field class="mat-form-field-fluid ">
                        <input matInput placeholder="{{ 'topic.tieudethaoluan' | translate }}" class="require" required
                            formControlName="title" />
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 kt--margin-bottom-10-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                        <mat-select [disabled]="DisableTeam" (selectionChange)="changeproject($event.value)"
                            formControlName="id_project_team" class="require" required
                            placeholder="{{ 'topic.projectteam' | translate}}">
                            <mat-option>
                                <ngx-mat-select-search [formControl]="projectFilterCtrl" [placeholderLabel]="''"
                                    [noEntriesFoundLabel]="''">
                                </ngx-mat-select-search>
                            </mat-option>
                            <mat-option value="{{user.id_row}}" *ngFor="let user of filtereproject | async">
                                <span style="color: black;">{{ user.title }}</span>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-md-12 row kt--margin-bottom-10-mobile">
                    <span style="padding-right: 20px; align-items: center; font-size: 18px;" class="d-flex"> {{'topic.nguoitheodoi' | translate }} : </span>
                    <div class="row" style="flex-grow: 1;">
                        <ng-container *ngFor="let us of this.selectedUser;let index = index">
                            <div *ngIf="index < 3" class="user url scale-hover-02 position-relative"
                                style="justify-content: flex-end;">
                                <ng-container>
                                    <kt-avatar-user [image]="us.image" size="25" [name]="us.hoten">
                                    </kt-avatar-user>
                                </ng-container>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="this.selectedUser && this.selectedUser.length > 3">
                            <div class="m--img-rounded m--marginless m--img-centered background"
                                [matMenuTriggerFor]="menu1" [ngStyle]="{'width.px': 29,'height.px':29}">
                                <div class="user w-100 h-100"
                                    style="opacity: 1;color:white;padding-top:3px;text-align: center;background: grey;"
                                    [ngStyle]="{'font-size.px': 16}">
                                    +{{this.selectedUser.length-3}}
                                </div>
                            </div>
                            <mat-menu #menu1="matMenu">
                                <div *ngFor="let user of this.selectedUser;let index = index"
                                    style="justify-content: flex-end;">
                                    <ng-container *ngIf="index > 2">
                                        <div class="position-relative">
                                            <i class="fas fa-times scale-hover-01 url"
                                                style="position: absolute;top:0;right:0"
                                                (click)="ItemSelectedUser(user)"></i>
                                            <div class="row">
                                                <kt-avatar-user [image]="user.image" size="35" [name]="user.hoten"
                                                    [showFull]="true" [info]="'@' + user.username">
                                                </kt-avatar-user>
                                            </div>
                                        </div>
                                    </ng-container>
                                </div>
                            </mat-menu>
                        </ng-container>
                        <div matTooltip="Chọn người" matTooltipPosition="above" class="url user"
                            [matMenuTriggerFor]="owner"
                            style="border: 1px dashed #676363;border-radius: 50%;padding: 5px;display: inline-block;width: 29px;height: 29px; ">
                            <mat-icon style="font-size: 16px!important;">person_add</mat-icon>
                        </div>
                    </div>
                    <mat-menu #owner="matMenu">
                        <div class="page-work-detail">
                            <kt-choose-users isNewView="true" [options]="options" (IsSearch)="stopPropagation($event)"
                                (ItemSelected)="ItemSelectedUser($event)">
                            </kt-choose-users>
                        </div>
                    </mat-menu>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 m--margin-bottom-10-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                        <mat-select formControlName="email" class="require" required
                            placeholder="{{ 'topic.guimail' | translate }}">
                            <mat-option value="true">
                                <span translate="GeneralKey.yes"></span>
                            </mat-option>
                            <mat-option value="false">
                                <span translate="GeneralKey.no"></span>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row comment-box" *ngIf="ListAttachments?ListAttachments.length>0:false">
                <div class="col-md-12 kt-margin-bottom-10-mobile" *ngFor="let att2 of ListAttachments;let index = index">
                    <div class="attach-item show-action align-items-center">
                        <div class="attach-item-icon">
                            <img src="{{att2.icon}}" />
                        </div>
                        <div class="attach-item-name">
                            <p class="mg-0">{{att2.filename}}</p>
                        </div>

                        <div class="attach-item-del">
                            <ng-container *ngIf="att2 && att2.path">
                                <button mat-icon-button class="text-success" (click)="preview(att2.path)" type="button"
                                        matTooltip="{{ 'topic.preview' | translate}}">
                                    <mat-icon>remove_red_eye</mat-icon>
                                </button>
                                <button mat-icon-button color="primary" (click)="DownloadFile(att2.path)" type="button"
                                        matTooltip="{{ 'topic.download' | translate}}">
                                    <mat-icon>cloud_download</mat-icon>
                                </button>
                            </ng-container>
                            <button mat-icon-button color="warn" (click)="Delete_File(index)" type="button"
                                matTooltip="Xóa">
                                <mat-icon>clear</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row form-group url">
                <input #csvInput hidden="true" type="file" onclick="this.value=null"
                    (change)="save_file_Direct($event, '1')" />
                <div class="col-12">
<!--                    <span (click)="csvInput.click()" class="text-success">Thêm file đính kèm</span>-->
                    <a class="action" (click)="csvInput.click()" >
                        <i matTooltip="{{ 'topic.upload' | translate }}"
                           class="las la-paperclip"></i>&nbsp;
                        <span translate="work.themtailieu"></span>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 m--margin-bottom-10-mobile">
                    <editor apiKey="test" formControlName="NoiDung" [init]="tinyMCE" style="margin-bottom: 15px;">
                    </editor>
                </div>
            </div>
        </div>
    </form>
    <div class="kt-portlet__foot">
        <div class="kt-form__actions kt-form__actions--solid">
            <div class="row text-right">
                <div class="col-lg-12">
                    <button type="button" class="btn-trolai" class="mat-raised-button" (click)="close()"
                        [disabled]="disabledBtn" cdkFocusInitial matTooltip="{{ 'GeneralKey.trolai' | translate }}">
                        <span translate="GeneralKey.trolai"></span>&nbsp;&nbsp;<div *ngIf="disabledBtn"
                            class="spinner-button-pad"></div>
                    </button>&nbsp;
                    <button class="jee_btn-addclose" type="button" mat-raised-button (click)="onSubmit(true)"
                        [disabled]="disabledBtn" matTooltip="{{ 'GeneralKey.luudong' | translate }}">
                        <span translate="GeneralKey.luudong"></span>&nbsp;&nbsp;
                        <div *ngIf="disabledBtn" class="spinner-button-pad"></div>
                    </button> &nbsp;
                </div>
            </div>
        </div>
    </div>
</div>
