<mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]=" 0">
    <mat-sidenav #snav [mode]="'over'" position="end">
        <mat-nav-list class="pd-0">
            <div class="position-absolute" (click)="snav.toggle()" style="z-index: 100;">
                <a class="btn btn-xs btn-icon btn-light btn-hover-primary">
                    <i class="ki ki-close icon-xs text-muted"></i>
                </a>
            </div>
            <div class="kt-portlet kt-user-detail position-relative">
                <div class="tab-right position-relative" [ngStyle]="{'height': getHeight()}"
                    style="overflow: auto; width: 400px;">
                    <div id="project-side">
                        <div class="section">
                            <kt-portlet>
                                <kt-portlet-body>
                                    <div class="row font-chu">
                                        <div class="col-md-12 ">
                                            <div style="display: flex;" class="ng-star-inserted">
                                                <div>
                                                    <kt-avatar-user [image]="" size="50" [name]="Ten"> </kt-avatar-user>
                                                </div>
                                                <div class="font-chu">
                                                    <div class="col-md-12"
                                                        style="font-weight: bold; font-size: 20px; color: black;">
                                                        <span>{{Ten}}</span>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <span style="color: black;">{{ChucVu ? ChucVu : '...'}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row font-chu">
                                        <div class="col-md-12">
                                            <span style="font-weight: bold; color: black;">

                                                {{count.ht}}
                                            </span>/<span style="font-weight: bold; color: black;">{{count.tong}}</span>
                                            {{ 'workprocess.hoanthanh' | translate }}
                                            <mat-progress-bar mode="determinate" [value]="count.percentage">
                                            </mat-progress-bar>
                                        </div>
                                    </div>
                                    <div class="row font-chu">
                                        <div class="col-md-12" style="display: contents;">
                                            <mat-accordion style="display: contents;">
                                                <mat-expansion-panel style="width: 100%">
                                                    <mat-expansion-panel-header style="padding: 0 10px;">
                                                        <mat-panel-title>
                                                            <div
                                                                class="col-md-12 kt--margin-bottom-10-mobile header-center">
                                                                <span class="fas fa-asterisk"></span>&nbsp;&nbsp;
                                                                <span style="color: black;"
                                                                    translate="summary.moiduocgiao"></span>&nbsp;
                                                                ({{moigiao.length}})&nbsp;
                                                            </div>
                                                        </mat-panel-title>
                                                    </mat-expansion-panel-header>
                                                    <perfect-scrollbar class="kt-scrollable kt-scroller"
                                                        style="padding-left: 25px; display: contents">
                                                        <div class="kt-form" *ngIf="giaoquahan.length > 0">
                                                            <div class="row row-class" *ngFor="let item of moigiao">
                                                                <div class="col-md-8">
                                                                    <span
                                                                        style="font-size: 12px;">{{item.title}}</span><br>
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <span *ngIf="item.urgent"
                                                                        class="kt-badge kt-badge--inline kt-badge--pill kt-badge--{{getItemCssClassByurgent(item.urgent)}} kt-badge--wide">{{
                                                                        getItemurgent(item.urgent) }}</span>&nbsp;
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </perfect-scrollbar>
                                                </mat-expansion-panel>
                                            </mat-accordion>
                                        </div>
                                    </div>
                                    <div class="row font-chu">
                                        <div class="col-md-12" style="display: contents;">
                                            <mat-accordion style="display: contents;">
                                                <mat-expansion-panel style="width: 100%">
                                                    <mat-expansion-panel-header style="padding: 0 10px;">
                                                        <mat-panel-title>
                                                            <div
                                                                class="col-md-12 kt--margin-bottom-10-mobile header-center">
                                                                <span class="fas fa-asterisk"></span>&nbsp;&nbsp;
                                                                <span style="color: black;"
                                                                    translate="summary.moigiaodi"></span>&nbsp;({{giaoquahan.length}})&nbsp;
                                                            </div>
                                                        </mat-panel-title>
                                                    </mat-expansion-panel-header>
                                                    <perfect-scrollbar class="kt-scrollable kt-scroller"
                                                        style="padding-left: 25px; display: contents">
                                                        <div class="kt-form" *ngIf="giaoquahan.length > 0">
                                                            <div class="row row-class" *ngFor="let item of giaoquahan">
                                                                <div class="col-md-8">
                                                                    <span
                                                                        style="font-size: 12px;">{{item.title}}</span><br>
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <span *ngIf="item.urgent"
                                                                        class="kt-badge kt-badge--inline kt-badge--pill kt-badge--{{getItemCssClassByurgent(item.urgent)}} kt-badge--wide">{{
                                                                        getItemurgent(item.urgent) }}</span>&nbsp;
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </perfect-scrollbar>
                                                </mat-expansion-panel>
                                            </mat-accordion>
                                        </div>
                                    </div>
                                </kt-portlet-body>
                            </kt-portlet>
                        </div>
                        <!-- <div class="section">
                            <kt-portlet>
                                <kt-portlet-header [sticky]="true" [class]="'kt-portlet__head--lg'">
                                    <ng-container ktPortletTitle>
                                        <div class="kt-form__filtration">
                                            <div class="row align-items-center">
                                                <h5><span style="color: black; font-weight: bold;"
                                                        translate="projects.muctieu"></span></h5>
                                            </div>
                                        </div>
                                    </ng-container>
                                    <ng-container ktPortletTools>
                                        <mat-icon class="text-dark" style="padding-left: 25px;" (click)="addMileston()"
                                            matTooltip="{{ 'GeneralKey.themmoi' | translate }}" class="-hover">add
                                        </mat-icon>
                                    </ng-container>
                                </kt-portlet-header>
                                <kt-portlet-body class="pd-0" *ngIf="milestone"
                                    style="max-height:250px;overflow-y: auto;">
                                    <div class="row item-muctieu" *ngFor="let _item of milestone">
                                        <div style="padding: 0 10px;">
                                            <div class="ms-time">
                                                <em>{{_item.deadline_weekday}}</em>
                                                <span>{{_item.deadline_day}}</span>
                                            </div>
                                        </div>
                                        <div style="flex-grow: 1;padding-left: 5px;">
                                            <div class="row text-2-line url -hover" (click)="selectedMileston(_item)"
                                                style="color: black;">
                                                <b>{{_item.title}}</b>
                                            </div>
                                            <div *ngIf="_item.person_in_charge" class="row"
                                                style="color: black; font-size: 10px;">
                                                <span>{{_item.person_in_charge.hoten}}</span>&nbsp;&nbsp;
                                                <span>{{_item.Count.ht}}/{{_item.Count.tong}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </kt-portlet-body>
                            </kt-portlet>
                        </div> -->
                        <div class="section">
                            <kt-portlet>
                                <kt-portlet-header [sticky]="true" [class]="'kt-portlet__head--lg'">
                                    <ng-container ktPortletTitle>
                                        <div class="kt-form__filtration">
                                            <div class="row align-items-center">
                                                <h5>
                                                    <span style="color: black; font-weight: bold;"
                                                        translate="summary.boloctuychinh"></span>
                                                </h5>
                                            </div>
                                        </div>
                                    </ng-container>
                                    <ng-container ktPortletTools>
                                        <mat-icon class="text-dark" style="padding-left: 25px;" (click)="addFilter()"
                                            matTooltip="{{ 'GeneralKey.themmoi' | translate }}">add</mat-icon>
                                    </ng-container>
                                </kt-portlet-header>
                                <kt-portlet-body *ngIf="listfilter"
                                    style="min-height: 100px;max-height: 250px; overflow: auto; line-height: 25px;">
                                    <div class="row font-chu" *ngFor="let filter of listfilter">
                                        <div class="col-md-8 m--margin-bottom-10-mobile hide-more-text">
                                            <a [routerLink]="['/tasks/filter',filter.id_row]"
                                                routerLinkActive="router-link-active"
                                                style="color: #5969c5; font-size: 12px; font-weight: bold;">{{filter.title}}</a>
                                        </div>
                                        <div class="col-md-4 m--margin-bottom-10-mobile text-right">
                                            <span class="text-primary url" (click)="Update(filter)"
                                                matTooltip="{{ 'GeneralKey.capnhat' | translate }}">
                                                <mat-icon>create</mat-icon>
                                            </span> &nbsp;
                                            <span class="text-danger url" (click)="DeleteFilter(filter)" mat-icon-button
                                                matTooltip="{{ 'GeneralKey.xoa' | translate }}">
                                                <mat-icon>clear</mat-icon>
                                            </span>
                                        </div>
                                    </div>
                                </kt-portlet-body>
                            </kt-portlet>
                        </div>
                        <!-- <div class="section">
                        <kt-mystaff [data]="mystaff"></kt-mystaff>
                    </div> -->
                    </div>
                </div>
            </div>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <button mat-icon-button (click)="snav.toggle()" style="position: absolute; right: 0;top: 5px;z-index: 999;">
            <mat-icon>menu</mat-icon>
        </button>
        <kt-portlet [options]="{hideheader:true}" class="task mg-0">
            <kt-portlet-body class="pd-0 hide-overflow-x" style="background-color: #eee;">
                <div class="kt--margin-bottom-10-mobile">
                    <div style="margin-right: 30px;">
                        <nav mat-tab-nav-bar>
                            <a mat-tab-link [routerLink]="['./']" (click)="click('home')"
                                [active]="activeLink == 'home'">{{ 'work.congviec' | translate }}</a>
                            <a mat-tab-link [routerLink]="['./team']" (click)="click('team')"
                                [active]="activeLink == 'team'">{{ 'work.nhanviencuatoi' | translate }}</a>


                            <a mat-tab-link href="javascript:;" [active]="activeLink == 'filter'" [popover]="myPopover"
                                [popoverOnHover]="true" [popoverCloseOnMouseOutside]="true">
                                {{ 'work.boloc' | translate }}
                                <mat-icon matSuffix>arrow_drop_down</mat-icon>
                            </a>
                            <a mat-tab-link [routerLink]="['./following']" (click)="click('following')"
                                [active]="activeLink == 'following'">{{ 'work.dangtheodoi' | translate }}</a>
                            <a mat-tab-link [routerLink]="['./calendar']" (click)="click('calendar')"
                                [active]="activeLink == 'calendar'">{{ 'work.lichbieu' | translate }}</a>
                            <a mat-tab-link [routerLink]="['./repeated']" (click)="click('repeated')"
                                [active]="activeLink == 'repeated'">{{ 'work.cvlaplai' | translate }}</a>
                        </nav>
                    </div>
                    <div class="popover-menu">
                        <popover-content #myPopover1 [closeOnMouseOutside]="true" placement="left-bottom">
                            <a [routerLink]="['./team']" (click)="click('team')">{{ 'work.dscongviec' | translate }}</a>
                            <a [routerLink]="['./team/report']" (click)="click('team','report')">{{ 'work.tongquan' |
                                translate }}</a>
                        </popover-content>
                    </div>
                    <div class="popover-menu">
                        <popover-content #myPopover [closeOnMouseOutside]="true" placement="left-bottom">
                            <ng-container *ngFor="let f of listfilter">
                                <a [routerLink]="['./filter',f.id_row]"
                                    (click)="click('filter',f.id_row)">{{f.title}}</a>
                            </ng-container>
                            <a style="border-top:solid 1px #eee" href="javascript:;" (click)="addFilter()">{{
                                'work.themboloctuychinh' | translate }}</a>
                        </popover-content>
                    </div>
                    <router-outlet></router-outlet>
                </div>
            </kt-portlet-body>
        </kt-portlet>
    </mat-sidenav-content>
</mat-sidenav-container>