<style>
    .menu-project{
        min-width: 200px;
        max-height: 400px;
    }
    .filter-duan{
        min-width:100px;
        border: 1px solid #eeeeee;
        padding: 5px 10px;
        border-radius: 20px;
        height: 35px;
        background: #fffeee;
        display: flex;
        align-items: center;
    }
</style>
<kt-portlet class="d-block" [options]="{headLarge: true, enableSticky: true}" [loading$]="loading1$">
    <kt-portlet-body class="pd-0">
        <div class="form-group kt-form__group row mg-0">
            <div class=" kt--margin-bottom-10-mobile pd-0 {{selectedItem==undefined? 'col-md-12':'col-md-3'}}">
                <kt-portlet-header [sticky]="true" [class]="'kt-portlet__head--lg'">
                    <ng-container ktPortletTitle *ngIf="selectedItem==undefined">
                        <div class="kt-form__filtration">
                            <h4>
                                <i class="far fa-comment-dots text-dark" style="padding-right: 5px;"></i>
                                <b class="url text-dark"> {{ 'GeneralKey.danhsachthaoluan' | translate}} </b>
                            </h4>
                        </div>
                    </ng-container>
                    <ng-container ktPortletTools>
                        <div class="row align-items-center">
                            <app-search-box-custom style="transform: translateY(2px);" [placeholder]="'topic.timkiemthaoluan' | translate" #custombox (submitSearch)="applyFilter()"></app-search-box-custom>
                            <ng-container *ngIf="selectedItem==undefined">
                                <div *ngIf="showproject" class="m--margin-bottom-10-mobile text-dark url filter-duan mr-5" >
                                    <div [matMenuTriggerFor]="menuproject"><b translate="topic.projectteam"></b>:
                                        {{itemProject.title_full?itemProject.title_full:'Tất cả dự án'}}</div>
                                </div>
                                <mat-menu #menuproject="matMenu">
                                    <div class="menu-project">
                                        <mat-form-field class="mat-form-field-fluid " (click)="$event.stopPropagation()">
                                            <input matInput [formControl]="projectFilterCtrl" placeholder="{{ 'GeneralKey.nhapdetimkiem' | translate}}" autocomplete="off" />
                                            <mat-icon matPrefix> search</mat-icon>
                                        </mat-form-field>
                                        <button mat-menu-item color="warn"
                                                [ngStyle]="{'font-weight': itemProject?.id_row==proj.id_row?'700':''}"
                                                (click)="selectedProject(proj)" *ngFor="let proj of filtereproject | async">
                                            {{ proj.title_full }}
                                        </button>
                                    </div>
                                </mat-menu>
                                <div class="m--margin-bottom-10-mobile text-dark filter-duan url">
                                    <div [matMenuTriggerFor]="menu"><b translate="wuser.sapxeptheo"></b>:
                                        {{sortfield.title}}</div>
                                </div>
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item color="warn"
                                        [ngStyle]="{'font-weight': sortfield==item?'700':''}"
                                        (click)="selectedField(item)" *ngFor="let item of listSort">
                                        {{ item.title }}
                                    </button>
                                </mat-menu>

                                <button (click)="AddTopic()" class="btn btn-success"
                                    style="border-radius: 20px;margin-left: 10px ;"
                                    matTooltip="{{ 'topic.themmoithaoluan' | translate }}" type="button">
                                    <span translate="topic.themmoithaoluan"></span>
                                </button>
                            </ng-container>

                        </div>

                    </ng-container>
                </kt-portlet-header>
                <kt-topic-view [data]="listTopic | async" [selectedItem]="selectedItem" (ItemSelected)="selected($event)">
                </kt-topic-view>
            </div>
            <div class="col-md-9 kt--margin-bottom-10-mobile pd-0 overflow-y-scroll border-left"
                [ngStyle]="{'height': getHeight()}" style="background-color: rgb(243, 243, 243);"
                *ngIf="selectedItem!=undefined">
                <router-outlet></router-outlet>
            </div>
        </div>
    </kt-portlet-body>
</kt-portlet>
