<div id="project-side">
    <kt-portlet class="bg-none">
        <kt-portlet-body *ngIf="work_model" class="pd-0">
            <div class="section" *ngIf="work_model.is_quahan">
                <div class="overdue">
                    <div class="icon">
                        <i class="fas fa-exclamation-circle"></i>
                    </div>
                    <div class="label"><span translate="work.congviecquahan"></span></div>
                    <div class="side">{{work_model.deadline.substr(0,10)}}</div>
                </div>
            </div>
            <div class="section">
                
                <div class="setmilestone {{  work_model.milestone==null?'nomilestone':'hasmilestone' }}">
                    <div class="icon">
                        <i *ngIf="work_model.milestone==null" class="fas fa-exclamation-circle"></i>
                        <i *ngIf="work_model.milestone!=null" class="fas fa-signal text-success"></i>
                    </div>
                    <div *ngIf="work_model.milestone==null;else hasmilestone"><span
                            translate="summary.chuacomuctieu"></span></div>
                    <ng-template #hasmilestone>
                        <div class="msg url">{{ work_model.milestone}}</div>
                    </ng-template>
                    <em class="url" (click)="add_milestone()" [matMenuTriggerFor]="menu"> <span translate="filter.setmilestone"></span> &nbsp; <i class="fas fa-chevron-down"></i><span
                            class="-ap icon-chevron-down2"></span></em>
                    <mat-menu #menu="matMenu">
                        <kt-choose-milestone-and-tags [options]="options" (ItemSelected)="ItemSelectedMiles($event)"
                            [Id]="selectedItem.id_row" [Id_key]="0" [Loai]="loaiItem">
                        </kt-choose-milestone-and-tags>
                    </mat-menu>
                </div>
                
            </div>
            <div class="section">
                <div class="row font-chu">
                    <div class="col-md-12" style="display: contents;">
                        <mat-accordion style="display: contents;">
                            <mat-expansion-panel style="width: 100%">
                                <mat-expansion-panel-header style="padding: 0 10px;">
                                    <mat-panel-title>
                                        <div class="col-md-12 kt--margin-bottom-10-mobile header-center">
                                            <span class="fas fa-asterisk"></span>&nbsp;&nbsp;
                                            <span style="color: black;"
                                                translate="summary.nguoigiaoviec"></span>&nbsp;&nbsp;
                                        </div>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <perfect-scrollbar class="kt-scrollable kt-scroller"
                                    style="padding-left: 25px; display: contents">
                                    <div class="kt-form pbt-5" *ngIf="work_model.assign != null">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div style="display: flex;" class="ng-star-inserted">
                                                    <div>
                                                        <img alt="" class="m--img-rounded m--marginless m--img-centered"
                                                            style="width: 50px; height: 50px;border-radius: 50%;"
                                                            src="{{work_model.assign.image}}">
                                                    </div>
                                                    <div class="font-chu">
                                                        <div class="col-md-12" style="font-weight: bold;">
                                                            <span>{{work_model.assign.hoten}}</span>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <span>{{work_model.assign.tenchucdanh ? work_model.assign.tenchucdanh : '...'}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </perfect-scrollbar>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </div>
            </div>
            <div class="section time-line">
                <kt-portlet>
                    <kt-portlet-body class="pd-5">
                        <div class="row">
                            <div class="icon">
                                <span class="fas fa-asterisk"></span>
                            </div>
                            <div class="label">
                                <span translate="summary.thoigiantao"></span>
                                <span> : {{work_model.CreatedDate}}</span>&nbsp;&nbsp;
                            </div>
                        </div>
                        <div class="row">
                            <div class="icon">
                                <span class="fas fa-asterisk"></span>
                            </div>
                            <div class="label">
                                <span translate="summary.thoigiancapnhat"></span>
                                <span> : {{work_model.UpdatedDate}}</span>&nbsp;&nbsp;
                            </div>
                        </div>
                        <div class="row">
                            <div class="icon">
                                <span class="fas fa-asterisk"></span>
                            </div>
                            <div class="label">
                                <span translate="summary.batdau"></span>
                                <span> : {{work_model.start_date}}</span>&nbsp;&nbsp;
                            </div>
                        </div>
                        <div class="row">
                            <div class="icon">
                                <span class="fas fa-asterisk"></span>
                            </div>
                            <div class="label">
                                <span translate="summary.deadline"></span>
                                <span> : {{work_model.deadline}}</span>&nbsp;&nbsp;
                            </div>
                        </div>
                    </kt-portlet-body>
                </kt-portlet>
            </div>
            <div class="section">
                <div class="row font-chu">
                    <div class="col-md-12" style="display: contents;">
                        <mat-accordion style="display: contents;">
                            <mat-expansion-panel style="width: 100%">
                                <mat-expansion-panel-header style="padding: 0 10px;">
                                    <mat-panel-title>
                                        <div class="col-md-12 kt--margin-bottom-10-mobile header-center">
                                            <span class="fas fa-asterisk"></span>&nbsp;&nbsp;
                                            <span style="color: black;"
                                                translate="summary.nguoitheodoi"></span>&nbsp;&nbsp;
                                        </div>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <perfect-scrollbar class="kt-scrollable kt-scroller"
                                    style="padding-left: 25px; display: contents">
                                    <div class="kt-form">
                                        <div class="row row-class" *ngFor="let item of work_model.Followers">
                                            <div class="col-md-12">
                                                <div style="display: flex;" class="ng-star-inserted">
                                                    <div>
                                                        <img alt="" class="m--img-rounded m--marginless m--img-centered"
                                                            style="width: 50px; height: 50px;border-radius: 50%;"
                                                            src="{{item.image}}">
                                                    </div>
                                                    <div class="font-chu">
                                                        <div class="col-md-12" style="font-weight: bold;">
                                                            <span>{{item.hoten}}</span>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <span>{{item.tenchucdanh ? item.tenchucdanh : '...'}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="kt-form__group row">
                                        <div class="col-md-6" style="padding: 15px 0px 15px 10px;">
                                            <a class="-hover" href="javascript:;" (click)="initAddUser($event,true)"
                                                popoverTitle="{{'topic.addfollowers'|translate}}" [popover]="myPopoverA"
                                                [popoverOnHover]="false">
                                                <div style="display: flex;" class="ng-star-inserted">
                                                    <div>
                                                        <span class="add-icon"><i class="las la-plus"></i></span>
                                                    </div>
                                                    <div class="font-chu" style="align-self: center;">
                                                        <span style="padding-left:10px" translate="topic.nguoitheodoi">
                                                        </span>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-6" style="padding: 15px 0px 15px 10px;">
                                            <a class="-hover" href="javascript:;" (click)="initAddUser($event)"
                                                popoverTitle="{{'topic.themnguoitheodoitungoai'|translate}}"
                                                [popover]="myPopoverA" [popoverOnHover]="false">
                                                <div style="display: flex;" class="ng-star-inserted">
                                                    <div>
                                                        <span class="add-icon"><i class="las la-plus"></i></span>
                                                    </div>
                                                    <div class="font-chu" style="align-self: center;">
                                                        <span style="padding-left:10px">
                                                            {{'topic.themtungoai'|translate}}
                                                        </span>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="form-group kt-form__group row" *ngIf="false">

                                    </div>
                                </perfect-scrollbar>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </div>
            </div>
            <div class="section">
                <div *ngIf="work_model.Activities.length > 0" class="row font-chu">
                    <div class="col-md-12" style="display: contents;">
                        <mat-accordion style="display: contents;">
                            <mat-expansion-panel style="width: 100%">
                                <mat-expansion-panel-header style="padding: 0 10px;">
                                    <mat-panel-title>
                                        <div class="col-md-12 kt--margin-bottom-10-mobile header-center">
                                            <span class="fas fa-asterisk"></span>&nbsp;&nbsp;
                                            <span style="color: black;"
                                                translate="summary.lichsuhoatdong"></span>&nbsp;&nbsp;
                                        </div>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <perfect-scrollbar class="kt-scrollable kt-scroller" style="max-height: 500px;
                                overflow: auto;padding-left: 25px">
                                    <div class="kt-form">
                                        <div class="row row-class" *ngFor="let item of work_model.Activities">
                                            <div class="col-md-12">
                                                <div style="display: flex;" class="ng-star-inserted">
                                                    <div>
                                                        <img alt="" class="m--img-rounded m--marginless m--img-centered"
                                                            style="width: 30px; height: 30px;border-radius: 50%;"
                                                            src="{{item.NguoiTao.image}}">
                                                    </div>
                                                    <div class="font-chu">
                                                        <div class="col-md-12">
                                                            <span
                                                                style="font-weight: bold;">{{item.NguoiTao.hoten}}</span>&nbsp;<span>{{item.action}}</span>&nbsp;
                                                            <span
                                                                style="font-weight: bold;">{{item.CreatedDate}}</span>&nbsp;
                                                            <span style="color: green; cursor: pointer;"
                                                                (click)="ViewDetail(item.id_row)"
                                                                *ngIf="item.view_detail">
                                                                {{'filter.detail' | translate}}
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </perfect-scrollbar>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </div>
            </div>
        </kt-portlet-body>
    </kt-portlet>
    <popover-content #myPopoverA placement="bottom-left" [closeOnClickOutside]="true">
        <kt-choose-users [options]="options" (ItemSelected)="ItemSelected($event)"></kt-choose-users>
    </popover-content>
</div>