:host {
    .aside {
      height: 100%;
  
      .aside-menu {
        margin: 0;
      }
    }
      .menu-text {
      white-space: nowrap;
    }
  }
  .hover-to-show{
    opacity: 0;
  }
  .hover-action{
    &:hover{
      .hover-to-show{
        opacity: 1;
      }
    }
  }
  