:host {
  .aside {
    height: 100%;

    .aside-menu {
      margin: 0;
    }
  }

  .menu-text {
    font-size: 13px;
    white-space: nowrap;
    margin-left: -5px;
  }
}

.hover-to-show {
  position: absolute;
  right: 0;
  opacity: 0;
  top:5px;
}
.icon-menu{
  right: 60px;
  &:hover {
    background: #80808059;
    border-radius: 50%;
  }
  
}
.icon-add{
  right: 30px;
  &:hover {
    background: #80808059;
    border-radius: 50%;
  }
}
.hover-action {
  &:hover {
    .hover-to-show {
      opacity: 1;
    }
  }
  .icon-add{
    .icon-menu{
      right: 60px;
    }
  }
}

.box-icon {
  width: 19px;
  height: 20px;
  display: flex;
  align-items: center;
  /* padding-left: 3px; */
  background: red;
  /* margin: -2px 3px; */
  border: 1px solid;
  border-radius: 5px;
  font-size: 9pt;
  justify-content: center;
}
.active-btn {
  color: orange;
  // background-color: blue;
} 
