:host {
    .aside {
      height: 100%;
  
      .aside-menu {
        margin: 0;
      }
    }
      .menu-text {
      white-space: nowrap;
    }
  }
  .hover-to-show{
    opacity: 0;
  }
  .hover-action{
    &:hover{
      .hover-to-show{
        opacity: 1;
      }
    }
  }

.box-icon{
  width: 26px;
  height: 27px;
  display: flex;
  align-items: center;
  padding-left: 7px;
  background: red;
  margin: -2px 3px;
  border: 1px solid;
  border-radius: 5px;
}
  