<!--begin::Brand-->
<div class="brand flex-column-auto" id="kt_brand" [ngClass]="brandClasses">
    <!--begin::Logo-->
    <a href="/" class="brand-logo">
        <img alt="Logo" style="height: 30px;" [attr.src]="headerLogo" />
    </a>
    <!-- <span>Quản lý công việc</span> -->
    <!--end::Logo-->

    <ng-container *ngIf="asideSelfMinimizeToggle">
        <button class="brand-toggle btn btn-sm px-0" id="kt_aside_toggle">
            <span [inlineSVG]="
            './assets/media/svg/icons/Navigation/Angle-double-left.svg'
          " cacheSVG="true" class="svg-icon svg-icon-xl"></span>
        </button>
    </ng-container>
</div>
<!--end::Brand-->

<!--begin::Aside Menu-->
<div class="aside-menu-wrapper flex-column-fluid" id="kt_aside_menu_wrapper">
    <ng-container *ngIf="disableAsideSelfDisplay">
        <!--begin::Header Logo-->
        <a routerLink="/">
            <img alt="Logo" style="width: 40px;" [attr.src]="headerLogo" />
        </a>
        <!--end::Header Logo-->
    </ng-container>
    <!--begin::Menu Container-->
    <ng-container *ngIf="menuAsideService && menuAsideService.menuList$">
        <!--begin::Menu Container-->
        <div id="kt_aside_menu" class="aside-menu" [ngClass]="asideMenuCSSClasses" data-menu-vertical="1"
            [attr.data-menu-scroll]="asideMenuScroll" [attr.data-menu-dropdown]="asideMenuDropdown"
            data-menu-dropdown-timeout="500">
            <!-- begin::Menu Nav -->
            <ul class="menu-nav" [ngClass]="ulCSSClasses">
                <!--- END DYNAMIC DATA ARRAY MENU -->
                <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover"
                    routerLinkActive="menu-item-open" *ngFor="let p of menuData2 | async">
                    <a class="menu-link menu-toggle" routerLinkActive="active">
                        <span [inlineSVG]="'./assets/media/svg/icons/Design/Layers.svg'" cacheSVG="true"
                            class="svg-icon menu-icon"></span>
                        <span class="menu-text"> {{'MainMenu.' + p.Title | translate }}</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="menu-submenu" *ngIf="p.Child ? p.Child.length > 0 : false">
                        <i class="menu-arrow"></i>
                        <ul class="menu-subnav">
                            <!-- begin::2 Level -->
                            <li *ngFor="let k of p.Child" class="menu-item" aria-haspopup="true"
                                data-menu-toggle="hover" routerLinkActive="menu-item-active">
                                <a class="menu-link" routerLink="{{k.ALink}}" routerLinkActive="active">
                                    <i class="menu-bullet menu-bullet-dot">
                                        <span></span>
                                    </i>
                                    <span class="menu-text"> {{'SubMenu.' + k.Title | translate }}</span>
                                </a>
                            </li>
                            <!-- end::2 Level -->
                        </ul>
                    </div>
                </li>
                <!-- end::1 Level -->
                <!-- Custom -->
                <!-- begin::section -->
                <li class="menu-section">
                    <h4 class="menu-text">{{ 'GeneralKey.khonggianlamviec' | translate }}</h4>
                    <i class="menu-icon flaticon-more-v2"></i>
                </li>
                <!-- end:: section -->

                <!-- Wizards -->
                <!-- begin::1 Level -->
                <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover"
                    routerLinkActive="menu-item-open">
                    <div #asideMenu ktMenu [perfectScrollbar]="{wheelPropagation: false}"
                        [ngStyle]="{'max-height': '90vh', 'position': 'relative'}" id="kt_aside_menu" class="aside-menu"
                        [ngClass]="asideMenuCSSClasses" data-menu-vertical="1" [attr.data-menu-scroll]="asideMenuScroll"
                        [attr.data-menu-dropdown]="asideMenuDropdown" data-menu-dropdown-timeout="500">
                        <!-- begin::Menu Nav -->
                        <ul class="menu-nav" [ngClass]="ulCSSClasses">
                            <ng-container *ngFor="let child of menuAsideService.menuList$ | async">
                                <!-- <ng-container *ngIf="child.section" [ngTemplateOutlet]="menuItemSectionTemplate"
                                [ngTemplateOutletContext]="{ item: child }"></ng-container> -->
                                <!-- <ng-container *ngIf="child.separator" [ngTemplateOutlet]="menuItemSeparatorTemplate"
                                [ngTemplateOutletContext]="{ item: child }"></ng-container> -->
                                <!-- <ng-container *ngIf="!child.title" [ngTemplateOutlet]="workspace"></ng-container> -->
                                <ng-container *ngIf="child.title" [ngTemplateOutlet]="menuItemTemplate"
                                    [ngTemplateOutletContext]="{ item: child }"></ng-container>
                            </ng-container>
                            <ng-container [ngTemplateOutlet]="addStatus"></ng-container>
                        </ul>
                        <!-- end::Menu Nav -->
                    </div>
                </li>
                <!-- end::1 Level -->
            </ul>
            <!-- end::Menu Nav -->
        </div>
    </ng-container>
    <!--end::Menu Container-->
</div>
<!--end::Aside Menu-->

<ng-template #addStatus>
    <div *ngIf="commonService.CheckRole_WeWork(3402).length>0" class="menu-item menu-item-submenu" (click)="Add()">
        <a class="menu-link  menu-toggle">
            <i class="menu-icon fas fa-plus"></i>
            <span class="menu-text" translate="department.themmoi"></span>
        </a>
    </div>
</ng-template>
<!-- https://share-devgcs.basecdn.net/apps/wework.png -->
<ng-template #menuItemTemplate let-item="item" let-parentItem="parentItem">
    <ng-container *ngIf="!item.permission" [ngTemplateOutlet]="menuItemInnerTemplate"
        [ngTemplateOutletContext]="{ item: item, parentItem: parentItem  }"></ng-container>
    <ng-template *ngIf="item.permission" ngxPermissionsOnly="{{ item.permission }}">
        <ng-container [ngTemplateOutlet]="menuItemInnerTemplate"
            [ngTemplateOutletContext]="{ item: item, parentItem: parentItem  }"></ng-container>
    </ng-template>
</ng-template>
<!-- Custom -->
<!-- begin::section -->
<li class="menu-section">
    <h4 class="menu-text">Custom</h4>
    <i class="menu-icon flaticon-more-v2"></i>
</li>
<!-- end:: section -->
<ng-template #menuItemInnerTemplate let-item="item" let-parentItem="parentItem">
    <li class="menu-item {{item.id_phanloai<0?'menu-item-open':''}} {{item.submenu?'menu-item-submenu':''}}"
        aria-haspopup="true" data-menu-toggle="hover" routerLinkActive="menu-item-active"
        [ngClass]="{ 'menu-item-open': isMenuItemActive(item.page) }" data-placement="right">

        <!-- if menu item hasn't submenu -->
        <a *ngIf="!item.submenu" class="kt-menu__link kt-menu__toggle menu-link hover-action">
            <ng-container [ngTemplateOutlet]="menuItemTextTemplate"
                [ngTemplateOutletContext]="{ item: item, parentItem: parentItem }"></ng-container>
        </a>
        <!-- if menu item has sumnenu child  white-space: break-spaces;-->
        <a *ngIf="item.submenu" class="kt-menu__link kt-menu__toggle menu-link  menu-toggle hover-action"
            (click)="item.folderOpen=!item.folderOpen">
            <ng-container [ngTemplateOutlet]="menuItemTextTemplate"
                [ngTemplateOutletContext]="{ item: item, parentItem: parentItem }"></ng-container>
        </a>

        <!-- if menu item has submenu child then recursively call new menu item component -->
        <div *ngIf="item.submenu" class="kt-menu__submenu menu-submenu">
            <span class="kt-menu__arrow menu-arrow"></span>
            <div *ngIf="item['custom-class'] === 'kt-menu__item--submenu-fullheight'" class="kt-menu__wrapper">
                <!-- wrap submenu to full height -->
                <ng-container [ngTemplateOutlet]="menuSubmenuTemplate"
                    [ngTemplateOutletContext]="{ item: item, parentItem: parentItem }"></ng-container>
            </div>
            <!-- normal submenu -->
            <ng-container *ngIf="item['custom-class'] !== 'kt-menu__item--submenu-fullheight'"
                [ngTemplateOutlet]="menuSubmenuTemplate"
                [ngTemplateOutletContext]="{ item: item, parentItem: parentItem }">
            </ng-container>
        </div>
    </li>

    <ng-container *ngIf="item.id_phanloai==1 && item.id == QuickInsert">
        <div class="form-group" style="margin: auto;width: 90%;">
            <!-- <input type="text" #inputDuan class="form-control" placeholder="{{'projects.nhaptenduan'  | translate}}"
                (keyup.enter)="focusOutProject($event.target.value,item)"
                (focusout)="focusOutProject($event.target.value,item)"> -->
            <app-focus-block class="form-control" type="text" isbd="true" style="width:100%"
                placeholder="{{'projects.nhaptenduan'  | translate}}" (out)="focusOutProject($event,item);">
            </app-focus-block>
        </div>
    </ng-container>
</ng-template>

<ng-template #menuSubmenuTemplate let-item="item" let-parentItem="parentItem">
    <ul class="menu-subnav">
        <ng-container *ngFor="let child of item.submenu">
            <ng-container *ngIf="child.section" [ngTemplateOutlet]="menuItemSectionTemplate"
                [ngTemplateOutletContext]="{ item: child, parentItem: item }"></ng-container>
            <ng-container *ngIf="child.separator" [ngTemplateOutlet]="menuItemSeparatorTemplate"
                [ngTemplateOutletContext]="{ item: child, parentItem: item }"></ng-container>
            <ng-container *ngIf="child.title" [ngTemplateOutlet]="menuItemTemplate"
                [ngTemplateOutletContext]="{ item: child, parentItem: item }"></ng-container>
        </ng-container>
    </ul>
</ng-template>

<ng-template #menuItemTextTemplate let-item="item" let-parentItem="parentItem">
    <!-- if menu item has icon -->
    <span class="svg-icon menu-icon" *ngIf="item.icon">
        <ng-container *ngIf="item.icon == 'flaticon-signs-1'; else icon">
            <div class="text-white box-icon" [ngStyle]="{'backgroundColor': getColorText(item)}">{{getText(item)}}</div>
        </ng-container>
        <ng-template #icon>
            <i class="color-folder fa"></i>
            <!--[ngClass]="getActiveClass(item.folderOpen)"-->
        </ng-template>
    </span>

    <!-- if menu item using bullet -->
    <i *ngIf="parentItem && parentItem.bullet === 'dot' && !item.IsFolder" _ngcontent-jgl-c108=""
        class="menu-bullet menu-bullet-dot"><span _ngcontent-jgl-c108=""></span></i>

    <i *ngIf="parentItem && parentItem.bullet === 'line'" class="kt-menu__link-bullet kt-menu__link-bullet--line">
        <span></span>
    </i>
    <!-- menu item title text -->
    <span class=" menu-text" *ngIf="!item.submenu" (click)="NavigateTo(item.page)" style="white-space:break-spaces;"
        [translate]="item.translate">{{item.title.trim()}}</span>

    <span class=" menu-text" *ngIf="item.submenu" [translate]="item.translate"
        style="white-space:break-spaces;">{{item.title.trim()}}</span>
    <!-- menu item with badge -->
    <span *ngIf="item.badge" class="kt-menu__link-badge">
        <span class="kt-badge" [ngClass]="item.badge.type">{{item.badge.value}}</span>
    </span>

    <!-- Tạo mới space -->
    <div *ngIf="item.id_phanloai == 0 && commonService.CheckRole_WeWork(3501).length>0" class="hover-to-show icon-add"
        style="text-align:right">
        <button mat-icon-button [matMenuTriggerFor]="menu" class="bolder">
            <i class="las la-ellipsis-h m--font-brand text-primary" style="font-size: 2.2rem;"></i>
        </button>
        <mat-menu #menu="matMenu">
            <!-- <button mat-menu-item [matMenuTriggerFor]="tc"><span translate="GeneralKey.templatecenter"></span></button> -->

            <button mat-menu-item color="accent">
                <mat-icon style="color: rgb(35, 93, 201)">view_comfy
                </mat-icon>
                <a [routerLink]="['/project',item.id]" mat-icon-button color="accent">
                    <span>
                        <span translate="work.xemchitiet"></span>
                    </span>
                </a>
            </button>
            <button mat-menu-item *ngIf="item.Locked" (click)="ClosedProject(item)">
                <mat-icon style="color:rgb(8, 122, 52)">lock_open</mat-icon>
                <span>
                    <span translate="GeneralKey.moteam"></span>
                </span>
            </button>
            <ng-container *ngIf="item && !item.Locked">

                <button mat-menu-item *ngIf="!item.Locked" (click)="ClosedProject(item)">
                    <mat-icon style="color:rgb(89, 94, 92)">lock</mat-icon>
                    <span>
                        <span translate="GeneralKey.dongteam"></span>
                    </span>
                </button>
                <button mat-menu-item (click)="DuplicateProject(item)">
                    <mat-icon style="color:rgb(149, 14, 211);">filter_none</mat-icon>
                    <span>
                        <span translate="GeneralKey.nhanbanteam"></span>
                    </span>
                </button>
                <button mat-menu-item (click)="AddAutomation(item)">
                    <mat-icon style="color:rgb(207, 65, 8);">autorenew</mat-icon>
                    <span translate="GeneralKey.automation"></span>
                </button>
                <button mat-menu-item [matMenuTriggerFor]="recent" color="accent">
                    <mat-icon class="icon-sua">create</mat-icon>
                    <span>
                        <span translate="GeneralKey.chinhsua"></span>
                    </span>
                </button>
                <button mat-menu-item [matMenuTriggerFor]="tc" color="accent">
                    <mat-icon class="icon-them">add</mat-icon>
                    <span>
                        <span translate="GeneralKey.templatecenter"></span>
                    </span>
                </button>
                <button mat-menu-item (click)="Deleted(item)">
                    <mat-icon class="icon-xoa">clear</mat-icon>
                    <span>
                        <span translate="GeneralKey.xoateam"></span>
                    </span>
                </button>

            </ng-container>

        </mat-menu>
        <mat-menu #tc="matMenu">
            <!-- <h5 style="color:#101010">{{ 'GeneralKey.templatecenter' | translate }}</h5> -->
            <button mat-menu-item><span translate="GeneralKey.browsetemplate" (click)="AddTemplate()"></span></button>
            <button mat-menu-item><span translate="GeneralKey.saveastemplate"
                    (click)="UpdateTemplate(1,item)"></span></button>
            <button mat-menu-item><span translate="GeneralKey.updateexitingtemplate"
                    (click)="UpdateTemplate(2,item)"></span></button>
        </mat-menu>
        <mat-menu #recent="matMenu">
            <button type="button" (click)="AddProject(item,true)" mat-menu-item>
                <mat-icon style="color:rgb(13, 92, 240)">create</mat-icon>
                <span translate="GeneralKey.chinhsuanhanh"></span>
            </button>
            <button type="button" (click)="UpdateStatus(item)" mat-menu-item>
                <mat-icon style="color:rgb(203, 14, 209)">update</mat-icon>
                <span translate="GeneralKey.chinhsuastatus"></span>
            </button>
            <button mat-menu-item (click)="updateStage(item)">
                <mat-icon style="color:rgb(5, 116, 29)">done</mat-icon>
                <span>
                    <span translate="GeneralKey.capnhattrangthai"></span>
                </span>
            </button>
        </mat-menu>
    </div>

    <ng-container *ngIf="item.id_phanloai > 0">
        <!-- *ngIf="item.id_phanloai > 0 && commonService.CheckRole_WeWork(3402).length>0" -->
        <div style="text-align:right" class="hover-to-show icon-menu">
            <button mat-icon-button [matMenuTriggerFor]="belowMenu" class="bolder">
                <i class="las la-ellipsis-h m--font-brand text-primary" style="font-size: 2.2rem;"></i>
            </button>
            <mat-menu #belowMenu="matMenu" yPosition="below">
                <a [routerLink]="['/depts',item.id,'projects']" [queryParams]="{id: item.id}" *ngIf="commonService.CheckRole_WeWork(3402).length>0">
                    <button mat-menu-item>
                        <span translate="work.xemdanhsachduan"></span>
                    </button>
                </a>
                <a [routerLink]="['/depts',item.id,'task',item.id]">
                    <button mat-menu-item>
                        <span translate="work.xemchitietcongviec"></span>
                    </button>
                </a>
                <ng-container *ngIf="commonService.CheckRole_WeWork(3402).length>0">
                    <button mat-menu-item [matMenuTriggerFor]="tc"><span
                            translate="GeneralKey.templatecenter"></span></button>
                    <mat-menu #tc="matMenu" yPosition="below">
                        <button mat-menu-item><span translate="GeneralKey.browsetemplate"
                                (click)="AddTemplate()"></span></button>
                        <button mat-menu-item><span translate="GeneralKey.saveastemplate"
                                (click)="UpdateTemplate(1,item)"></span></button>
                        <button mat-menu-item><span translate="GeneralKey.updateexitingtemplate"
                                (click)="UpdateTemplate(2,item)"></span></button>
                    </mat-menu>
                    <a [routerLink]="['/depts',item.id,'report',item.id]">
                        <button mat-menu-item>
                            <span translate="work.xemchitietbaocao"></span>
                        </button>
                    </a>
                    <button (click)="AddDept(item,item.id)" mat-menu-item><span
                            translate="department.{{item.IsFolder?'chinhsuafolder':'chinhsua'}}"></span></button>
                    <button (click)="UpdateSpaceStatus(item)" mat-menu-item><span
                            translate="department.{{item.IsFolder?'chinhsuatrangthaifolder':'chinhsuatrangthaidepartment'}}"></span>
                    </button>
                    <button (click)="DeleteDept(item)" mat-menu-item><span
                            translate="department.{{item.IsFolder?'xoafolder':'xoa'}}"></span></button>
                    <button mat-menu-item (click)="AddAutomation(item)">
                        <span translate="GeneralKey.automation"></span>
                    </button>
                </ng-container>
            </mat-menu>
        </div>

        <ng-container *ngIf="commonService.CheckRole_WeWork(3402).length>0">
            <ng-container *ngIf="item.IsFolder;then IsFolder else DuanSpace"></ng-container>
            <ng-template #IsFolder>
                <i *ngIf="commonService.CheckRole_WeWork(3501).length>0"
                    matTooltip="{{'projects.themnhanhduan' | translate}}" matTooltipPosition="above"
                    class="align-items-center d-flex las la-plus hover-to-show icon-add text-primary"
                    style="font-size: 20px;padding: 10px;" (click)="ThemDuan(item.id)"></i>
            </ng-template>
            <ng-template #DuanSpace>
                <i [matMenuTriggerFor]="folder" matTooltipPosition="above"
                    class="align-items-center d-flex las la-plus hover-to-show icon-add text-primary"
                    style="font-size: 20px;padding: 10px;"></i>
                <mat-menu #folder="matMenu" yPosition="below">
                    <button *ngIf="commonService.CheckRole_WeWork(3501).length>0" (click)="ThemDuan(item.id)"
                        mat-menu-item><span translate="projects.themnhanhduan"></span></button>
                    <button (click)="AddQuickFolder(item)" mat-menu-item><span
                            translate="projects.themnhanhfolder"></span></button>
                    <button (click)="AddFolder(item)" mat-menu-item><span
                            translate="projects.themfolder"></span></button>
                </mat-menu>
            </ng-template>
        </ng-container>

    </ng-container>
    <!-- if menu item has submenu child then put arrow icon -->
    <i *ngIf="item.submenu" class="menu-arrow"></i>
</ng-template>

<ng-template #menuItemSeparatorTemplate let-item="item" let-parentItem="parentItem">
    <li class="kt-menu__separator"><span></span></li>
</ng-template>

<ng-template #menuItemSectionTemplate let-item="item" let-parentItem="parentItem">
    <li class="kt-menu__section">
        <h4 class="kt-menu__section-text">{{item.section}}</h4>
        <i class="kt-menu__section-icon flaticon-more-v2"></i>
    </li>
</ng-template>