<div class="kt-portlet repeat-edit-page"
    [ngClass]="{ 'kt-portlet--body-progress kt-portlet--body-progress-overlay' : viewLoading }">
    <div class="kt-portlet__head kt-portlet__head__custom">
        <div class="kt-portlet__head-label">
            <h5>{{getTitle()}}</h5>

        </div>
    </div>
    <div style="overflow-y: auto; max-height: 70vh; overflow-x: hidden; padding: 0 10px;">
        <form class="kt-form {{(!isUpdatesubtask && !isUpdatetodolist)?'':'d-none'}} " [formGroup]="itemForm">
            <div class=" kt-form__group">
                <div class="row">
                    <div class="col-md-12 kt--margin-bottom-10-mobile">
                        <mat-form-field class="mat-form-field-fluid ">
                            <input matInput placeholder="{{ 'work.tencongviec' | translate }}" class="require" required
                                formControlName="title" />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 m--margin-bottom-10-mobile">
                        <mat-form-field class="mat-form-field-fluid">
                            <mat-select formControlName="frequency" [disabled]="this.item.id_row > 0" class="require"
                                required placeholder="{{ 'repeated.tansuatlaplai' | translate }}"
                                (selectionChange)="Change_frequency($event.value)">
                                <mat-option selected value="1">
                                    <span translate="repeated.hangtuan"></span>
                                </mat-option>
                                <mat-option value="2">
                                    <span translate="repeated.hangthang"></span>
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-12 kt--margin-bottom-10-mobile">
                        <mat-form-field class="mat-form-field-fluid">
                            <mat-select formControlName="id_project_team" class="require"
                                (selectionChange)="LoadUser($event.value)" required [disabled]="isUpdate"
                                (selectionChange)="BindList($event.value)"
                                placeholder="{{ 'topic.projectteam' | translate}}">
                                <mat-option>
                                    <ngx-mat-select-search [formControl]="projectFilterCtrl" [placeholderLabel]="''"
                                        [noEntriesFoundLabel]="''">
                                    </ngx-mat-select-search>
                                </mat-option>
                                <mat-option value="{{user.id_row}}" *ngFor="let user of filtereproject | async">
                                    <span style="color: black;">{{ user.title }}</span>
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row align-items-center">
                    <span style="color: black; font-weight: 500;font-size: 14px; margin-left: 10px; line-height: 30px;"
                        translate="repeated.cacngaylaplai"></span>
                </div>
                <div *ngIf="!show_frequency" class="row align-items-center">
                    <div class="col-lg-6 m--margin-bottom-20-mobile" *ngFor="let day of check_weekdays">
                        <mat-checkbox [checked]="day.Checked" (change)="Checked(day.Code, $event.checked)"
                            value="{{day.Code}}" style="margin-left: 20px"> {{day.Title}}</mat-checkbox>
                    </div>
                </div>
                <div *ngIf="show_frequency" class="row">
                    <div class="col-md-12 kt--margin-bottom-10-mobile">
                        <mat-form-field class="mat-form-field-fluid">
                            <mat-select multiple formControlName="repeated_day"
                                (selectionChange)="checkDays($event.value)" class="require" required
                                placeholder="{{ 'work.danhsachcacngay' | translate }}">
                                <mat-option *ngFor="let item of dayofmonth" [value]="item">
                                    {{item}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row align-items-center">
                    <small class="text-muted col-12" translate="work.chonduantruockhigiaoviec"></small>
                </div>
                <div class="row">
                    <div class="col-md-12 row kt--margin-bottom-10-mobile">
                        <span style="padding-right: 20px; align-items: center; font-size: 18px;" class="d-flex"> {{
                            'topic.assign' | translate }} : </span>
                        <div class="row" style="flex-grow: 1;">
                            <ng-container *ngFor="let us of this.selectedUser;let index = index">
                                <div *ngIf="index < 3" class="user url scale-hover-02 position-relative"
                                    style="justify-content: flex-end;">
                                    <ng-container>
                                        <kt-avatar-user [image]="us.image" size="25" [name]="us.hoten">
                                        </kt-avatar-user>
                                    </ng-container>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="this.selectedUser && this.selectedUser.length > 3">
                                <div class="m--img-rounded m--marginless m--img-centered background"
                                    [matMenuTriggerFor]="menu1" [ngStyle]="{'width.px': 29,'height.px':29}">
                                    <div class="user w-100 h-100"
                                        style="opacity: 1;color:white;padding-top:3px;text-align: center;background: grey;"
                                        [ngStyle]="{'font-size.px': 16}">
                                        +{{this.selectedUser.length-3}}
                                    </div>
                                </div>
                                <mat-menu #menu1="matMenu">
                                    <div *ngFor="let user of this.selectedUser;let index = index"
                                        style="justify-content: flex-end;">
                                        <ng-container *ngIf="index > 2">
                                            <div class="position-relative">
                                                <i class="fas fa-times scale-hover-01 url"
                                                    style="position: absolute;top:0;right:0"
                                                    (click)="ItemSelectedUser(user)"></i>
                                                <div class="row">
                                                    <kt-avatar-user [image]="user.image" size="35" [name]="user.hoten"
                                                        [showFull]="true" [info]="'@' + user.username">
                                                    </kt-avatar-user>
                                                </div>
                                            </div>
                                        </ng-container>
                                    </div>
                                </mat-menu>
                            </ng-container>
                            <div matTooltip="Chọn người" matTooltipPosition="above" class="url user"
                                [matMenuTriggerFor]="owner"
                                style="border: 1px dashed #676363;border-radius: 50%;padding: 5px;display: inline-block;width: 29px;height: 29px; ">
                                <mat-icon style="font-size: 16px!important;">person_add</mat-icon>
                            </div>
                        </div>
                        <mat-menu #owner="matMenu">
                            <div class="page-work-detail">
                                <kt-choose-users isNewView="true" [options]="options"
                                    (IsSearch)="stopPropagation($event)" (ItemSelected)="ItemSelectedUser($event)">
                                </kt-choose-users>
                            </div>
                        </mat-menu>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 kt--margin-bottom-10-mobile">
                        <mat-form-field class="mat-form-field-fluid ">
                            <input matInput class="require" required placeholder="{{ 'repeated.deadline' | translate }}"
                                formControlName="deadline" />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 kt--margin-bottom-10-mobile">
                        <editor apiKey="test" formControlName="description" [init]="tinyMCE"
                            style="margin-bottom: 15px;">
                        </editor>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 m--margin-bottom-10-mobile">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput [matDatepicker]="dp1" type="text" class="require" required
                                [max]="itemForm.value.end_date" placeholder="{{ 'GeneralKey.ngaybatdau' | translate}}"
                                formControlName="start_date">
                            <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
                            <mat-datepicker #dp1></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6 m--margin-bottom-10-mobile">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput [matDatepicker]="dp2" type="text" class="require" required
                                [min]="itemForm.value.start_date"
                                placeholder="{{ 'GeneralKey.ngayketthuc' | translate}}" formControlName="end_date">
                            <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
                            <mat-datepicker #dp2></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 m--margin-bottom-10-mobile">
                        <mat-form-field class="mat-form-field-fluid">
                            <mat-select formControlName="Locked" placeholder="{{ 'filter.trangthai' | translate }}">
                                <mat-option [value]="false">
                                    <span translate="filter.kichhoat"></span>
                                </mat-option>
                                <mat-option [value]="true">
                                    <span translate="filter.vohieuhoa"></span>
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </form>
        <div class="row" style="margin-bottom: 20px;" *ngIf="!showtask">
            <button class="btn btn-success" (click)="showtask=!showtask" style="margin: 0 auto;">
                <span translate="repeated.tuychonnangcao"></span>
            </button>
        </div>
        <div *ngIf="showtask">
            <div class="subtask" [ngStyle]="{'margin-top.px': isUpdatesubtask?'20':'0'}"
                *ngIf="(!isUpdatetodolist && !isUpdatesubtask) || isUpdatesubtask">
                <div class="title-subtask">
                    <span translate="repeated.subtasks"></span>
                </div>
                <div class="row header-subtask">
                    <div class="col-md-1 m--margin-bottom-5-mobile center-title">
                        <span translate="GeneralKey.stt"></span>
                    </div>
                    <div class="col-md-4 m--margin-bottom-5-mobile center-title">
                        <span translate="repeated.subtasks"></span>
                    </div>
                    <div class="col-md-4 m--margin-bottom-5-mobile center-title">
                        <span translate="repeated.assign"></span>
                    </div>
                    <div class="col-md-3 m--margin-bottom-5-mobile center-title">
                        <span translate="repeated.deadline_hour"></span>
                    </div>
                </div>
                <div class="row body-subtask bg-white" *ngFor="let list of listColumn; let i = index"
                    style="border-bottom: 0.5px solid rgb(222, 222, 222);">
                    <div class="col-md-1 m--margin-bottom-5-mobile"
                        style="justify-content: center; display: flex;font-size: 11pt; padding-top: 20px;border-right: 1px solid #eeee;">
                        {{i + 1}}
                    </div>
                    <div class="col-md-4 kt--margin-bottom-10-mobile" style="border-right: 1px solid #eeee;">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput placeholder="{{ 'repeated.subtasks' | translate}} #{{i+1}}"
                                (focusout)="checkShow($event,listColumn)" [(ngModel)]="listColumn[i].SubTask">
                        </mat-form-field>
                    </div>
                    <div class="col-md-4 kt--margin-bottom-10-mobile" style="border-right: 1px solid #eeee;">
                        <mat-form-field class="mat-form-field-fluid">
                            <mat-select [(ngModel)]="listColumn[i].id_nv">

                                <mat-option value="">
                                    <span class="text-muted"> -- {{ 'workprocess.giaocho' | translate }} --</span>
                                </mat-option>
                                <mat-option [value]="user.id_nv" *ngFor="let user of filter_member | async">
                                    <span style="color: black;">{{ user.hoten }}</span>
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3 kt--margin-bottom-10-mobile">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput placeholder="{{ 'repeated.deadline_hour' | translate}}"
                                [(ngModel)]="listColumn[i].Deadline">
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="subtask" [ngStyle]="{'margin-top.px': isUpdatetodolist?'20':'0'}"
                *ngIf="(!isUpdatetodolist && !isUpdatesubtask) || isUpdatetodolist">
                <div class="title-subtask">
                    <span translate="repeated.checklist"></span>
                </div>
                <div class="row header-subtask ">
                    <div class="col-md-1 m--margin-bottom-5-mobile center-title">
                        <span translate="GeneralKey.stt"></span>
                    </div>
                    <div class="col-md-6 m--margin-bottom-5-mobile center-title">
                        <span translate="repeated.subtasks"></span>
                    </div>
                    <div class="col-md-5 m--margin-bottom-5-mobile center-title">
                        <span translate="repeated.assign"></span>
                    </div>
                </div>
                <div class="row body-subtask bg-white" *ngFor="let list of listCol_Todo; let i = index"
                    style="border-bottom: 0.5px solid rgb(222, 222, 222);">
                    <div class="col-md-1 m--margin-bottom-5-mobile"
                        style="justify-content: center; display: flex;font-size: 11pt; padding-top: 20px;border-right: 1px solid #eeee;">
                        {{i + 1}}
                    </div>
                    <div class="col-md-6 kt--margin-bottom-10-mobile" style="border-right: 1px solid #eeee;">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput placeholder="{{ 'repeated.todos' | translate}} #{{i+1}}"
                                (focusout)="checkShow_Todo($event,listCol_Todo)" [(ngModel)]="listCol_Todo[i].todo">
                        </mat-form-field>
                    </div>
                    <div class="col-md-5 kt--margin-bottom-10-mobile">
                        <mat-form-field class="mat-form-field-fluid">
                            <mat-select [(ngModel)]="listCol_Todo[i].id_nv">
                                <mat-option value="">
                                    <span class="text-muted"> -- {{ 'workprocess.giaocho' | translate }} --</span>
                                </mat-option>
                                <mat-option [value]="user.id_nv" *ngFor="let user of filter_member_todo | async">
                                    <span style="color: black;">{{ user.hoten }}</span>
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="kt-portlet__foot">
        <div class="kt-form__actions kt-form__actions--solid">
            <div class="row text-right">
                <div class="col-lg-12">
                    <button type="button" class="mat-raised-button" (click)="close()" [disabled]="disabledBtn"
                        cdkFocusInitial matTooltip="{{ 'GeneralKey.trolai' | translate }}">
                        <span translate="GeneralKey.trolai"></span>&nbsp;&nbsp;<div *ngIf="disabledBtn"
                            class="spinner-button-pad"></div>
                    </button>&nbsp;
                    <button type="button" mat-raised-button class="jee_btn-addcontinue" (click)="onSubmit(true)"
                        [disabled]="disabledBtn" matTooltip="{{ 'GeneralKey.luudong' | translate }}">
                        <span translate="GeneralKey.luudong"></span>&nbsp;&nbsp;<div *ngIf="disabledBtn"
                            class="spinner-button-pad"></div>
                    </button> &nbsp;
                </div>
            </div>
        </div>
    </div>
</div>