.cu-search {
    display: flex;
    position: relative;
    align-items: center;
}

.cu-checkbox {
    position: relative;
    display: flex;
    align-items: center;
}

.cu-list-status__item {
    padding: 6px 15px;
    cursor: pointer;
    white-space: nowrap;
}

.user-list__header {
    flex-shrink: 0;
}

.cu-list-status__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 10px;
    padding: 0 15px;
}

.cu-search {
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
}

input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=text] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.cu-search__input {
    font-family: var(--global-font-support);
}

.cu-search__input {
    font-family: Gotham Pro, Proxima Nova, arial, serif;
    display: block;
    width: 100%;
    padding: 16px 20px 15px 50px;
    border: 0;
    border-bottom: 1px solid #f4f4f4;
    font: 15px/1.15 Gotham Pro, Proxima Nova, arial, serif;
    margin: 0 0 -1px;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 0;
    flex-shrink: 0;
}

.cu-icon,
.icon {
    width: 100%;
    height: 100%;
}


.help-question-mark {
    transition: fill .2s cubic-bezier(.785, .135, .15, .86) 0s;
    width: 14px;
    height: 14px;
    margin-left: 5px;
    margin-top: -2px;
    display: inline-block;
    cursor: pointer;
    fill: #b9bec7;
    z-index: 5;
}

.cu-search__icon {
    position: absolute;
    left: 18px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    stroke: #cccdde;
    cursor: pointer;
}

.cu-list-status__select-all {
    color: #7b68ee;
    font: 13px Gotham Pro, Proxima Nova, arial, serif;
    text-decoration: none;
}

.cu-list-status__select-all {
    color: var(--theme-main-color);
}

input[type=email]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=text]:focus {
    outline: none;
}

.cu-search__input:focus {
    outline: none;
}

.cu-btn {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all .2s cubic-bezier(.785, .135, .15, .86) 0s;
    background-color: #7b68ee;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    padding: 0 30px;
    cursor: pointer;
    color: #fff;
    border: 1px solid;
    border-radius: 5px;
    text-decoration: none;
    font: 600 18px/63px Gotham Pro, Proxima Nova, arial, serif;
    white-space: nowrap;
}

.cu-btn {
    background-color: var(--theme-main-color);
    border-color: var(--theme-main-color);
}

.cu-btn.cu-btn_sm {
    height: 40px;
    border-radius: 3px;
    padding: 0 20px;
    font-size: 13px;
    line-height: 11px;
    font-weight: 500;
}

.cu-btn.cu-btn_full-width {
    width: 100%;
}

.mat-checkbox {
    padding: 5px;
}

.cu-status-filter__down {
    width: 16px;
    height: 16px;
    fill: rgba(52, 52, 52, .6);
    transform: rotate(90deg);
    margin-left: 4px;
    transition: all .1s cubic-bezier(.785, .135, .15, .86) 0s;
}

.point{
    height: 12px;
    width: 12px;
    margin: 5px auto;
}
.mat-menu-content{
    max-height: 350px;
}