.pd-contact{
  padding: 5px;
}

.friend-list{
  // position: fixed;
  height: 100%;
  width: 100%;
  // max-width: 450px;
  right: 1px;
  bottom: 1px;
  z-index: 222;
}

#contact{
  max-height: 400px;
  overflow: hidden;
}

#contact li{
  list-style: none;   
  padding-left: 15px; 
}

#contact li:hover{
   background-color: rgb(241, 237, 237);
   border-radius: 10px;
   cursor: pointer;
}

.label{
  border-radius: 10px;
}

.label-u{
  position: absolute;
  right: -5px;
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}


.online:after {
  content: "";
  width: 10px;
  height: 10px;
  border: 1px solid #fff;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  position: absolute;
  right: -1px;
  top: 33px;
  background-color: #63b814;
  z-index: 100;
}

.ofline:after {
  content: "";
  width: 10px;
  height: 10px;
  border: 1px solid #fff;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  position: absolute;
  right: -1px;
  top: 33px;
  /* background-color: #63b814; */
  z-index: 100;
}
.img-person{    max-width: 45px;
  max-height: 45px;

}

::ng-deep.mat-mini-fab .mat-button-wrapper
{
 font-size: 10px;
}

.more {
  flex-grow: 1;
  padding-left: 10px;
  margin-top: -45px;

  .more-string {
      flex-grow: 1;
      color: black;
      line-height: 27px;
      .url {
          font-weight: normal;
          color: #4CAF50;

          &:hover {
              text-decoration: underline;
          }
      }
  }

  &:hover {
          .action {
              display: inline-block !important;
          }
      }

  .action {
      display: none;
      font-size: 17px !important;

      &:hover {
          border: solid 1px #eee;
          border-radius: 50%;
          color: white;
          background-color: #c0c5c0;
      }
  }
}