<div class="card card-custom">
  <div class="kt-form__filtration projects-team-tablist">
    <div class="row align-items-center" style="padding-left:25px">
      <div class="action-left row">
        <div class="col-search m--margin-bottom-10-mobile">
          <div class="search-box float-left" style="margin-right:20px">
            <div class="search">
              <div class="input">
                <span class="las la-search url"
                  style="position: absolute; top: 2px; left: 10px; font-size: 18px;"></span>
                <app-search-box-custom [placeholder]=" 'filter.filtertailieu' | translate "
                  (submitSearch)="applyFilter($event)">
                </app-search-box-custom>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="action-right row">
        <div class="col-button m--margin-bottom-10-mobile d-flex align-items-center"
          style="text-align: right; padding-right:40px">
          <button mat-raised-button type="button" [matMenuTriggerFor]="menu1" class="ja_btn-addnew" type="button"
            matTooltip="{{ 'GeneralKey.themmoi' | translate }}">
            <span translate="GeneralKey.themmoi"></span>
          </button>
          <mat-menu #menu1="matMenu">
            <button mat-menu-item (click)="Add_Link_Cloud()">
              <mat-icon style="color:rgb(5, 116, 29)">cloud_upload</mat-icon>
              <span translate="GeneralKey.uploadfromdrive"></span>
            </button>
            <button mat-menu-item (click)="csvInput.click()">
              <mat-icon style="color:rgb(78, 24, 226)">attach_file</mat-icon>
              <span translate="work.themtailieu"></span>
            </button>
            <input #csvInput hidden="true" type="file" (change)="onSelectFile_PDF($event)" />
          </mat-menu>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="card-header">
    <div class="m-form mb-5">
      <div class="m-form__filtration">
        <div class="row align-items-center">
          <div class="col-md-4 m--margin-bottom-10-mobile">
            <div class="m-form__control">
              <app-search-box-custom [placeholder]=" 'filter.filtertailieu' | translate "
                (submitSearch)="applyFilter($event)">
              </app-search-box-custom>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-toolbar">
      <button mat-raised-button type="button" [matMenuTriggerFor]="menu1" class="ja_btn-addnew" type="button"
        matTooltip="{{ 'GeneralKey.themmoi' | translate }}">
        <span translate="GeneralKey.themmoi"></span>
      </button>
      <mat-menu #menu1="matMenu">
        <button mat-menu-item (click)="Add_Link_Cloud()">
          <mat-icon style="color:rgb(5, 116, 29)">cloud_upload</mat-icon>
          <span translate="GeneralKey.uploadfromdrive"></span>
        </button>
        <button mat-menu-item (click)="csvInput.click()">
          <mat-icon style="color:rgb(78, 24, 226)">attach_file</mat-icon>
          <span translate="work.themtailieu"></span>
        </button>
        <input #csvInput hidden="true" type="file" (change)="onSelectFile_PDF($event)" />
      </mat-menu>
    </div>
  </div> -->
  <div class="card-body">
    <div class="example-container mat-table__wrapper" [ngStyle]="{ height: getHeight() }">
      <table mat-table class="lmat-elevation-z8" [dataSource]="dataSource" matSort matSortActive="id"
        style="width: 100%" matSortDirection="asc" matSortDisableClear>
        <ng-container matColumnDef="STT">
          <th mat-header-cell *matHeaderCellDef class="mat-column-vinCode mat-header-cell-stt">
            <span translate="GeneralKey.stt"></span>
          </th>
          <td mat-cell *matCellDef="let item; let vi = index" class="mat-column-vinCode mat-cell-stt text-center">
            {{ vi + 1 }}
          </td>
        </ng-container>
        <ng-container matColumnDef="filename">
          <th mat-header-cell *matHeaderCellDef><span translate="attachment.tenfile"></span></th>
          <td mat-cell *matCellDef="let file">
            <img src="{{file.icon}}" alt="{{file.filename}}" *ngIf="!file.link_cloud">
            <span *ngIf="!file.link_cloud">{{file.filename}}</span>
            <a href="{{file.link_cloud}}" *ngIf="file.link_cloud" target="_blank">
              <span>{{file.filename}}</span>
            </a>
          </td>
        </ng-container>
        <ng-container matColumnDef="NguoiTao">
          <th mat-header-cell *matHeaderCellDef style="width:200px"><span translate="GeneralKey.nguoitao"></span></th>
          <td mat-cell *matCellDef="let file">{{file.NguoiTao}}</td>
        </ng-container>
        <ng-container matColumnDef="CreatedDate">
          <th mat-header-cell *matHeaderCellDef style="width:200px"><span translate="GeneralKey.ngaytao"></span></th>
          <td mat-cell *matCellDef="let file">{{file.CreatedDate}}</td>
        </ng-container>
        <ng-container matColumnDef="size">
          <th mat-header-cell *matHeaderCellDef class="text-center" style="width:80px"><span
              translate="attachment.kichthuoc"></span></th>
          <td mat-cell *matCellDef="let file" class="text-center">
            <span *ngIf="!file.link_cloud">{{(file.size/1024) | number: '1.0-0'}} kb</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef class="text-center"><span translate="GeneralKey.tacvu"></span></th>
          <td mat-cell *matCellDef="let file;let index = index" style="justify-content: center" class="text-center">
            <button mat-icon-button class="text-success" (click)="DownloadFile(file.path)"
              *ngIf="file.isImage && !file.link_cloud" type="button"
              matTooltip="{{ 'GeneralKey.xemtruoc' | translate}}">
              <mat-icon>remove_red_eye</mat-icon>
            </button>
            <button mat-icon-button class="text-success" (click)="preview(file.path)"
              *ngIf="!file.isImage && !file.link_cloud" type="button"
              matTooltip="{{ 'GeneralKey.xemtruoc' | translate}}">
              <mat-icon>remove_red_eye</mat-icon>
            </button>
            <button mat-icon-button color="primary" (click)="DownloadFile(file.path)"
              *ngIf="!file.isImage && !file.link_cloud" type="button"
              matTooltip="{{ 'GeneralKey.taixuong' | translate}}">
              <mat-icon>cloud_download</mat-icon>
            </button>
            <button mat-icon-button color="warn" type="button" (click)="Delete_File(file.id_row)"
              matTooltip="{{ 'GeneralKey.xoa' | translate}}">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"
          [ngClass]="{hovered: row.hovered, highlighted: row.highlighted}" (mouseover)="row.hovered = true"
          (mouseout)="row.hovered = false"></tr>
      </table>
      <div style="padding: 50px; text-align: center" class="mat-table__message" *ngIf="!dataSource.hasItems">
        <span translate="GeneralKey.khongcodulieu"></span>
      </div>
    </div>
    <div style="padding-left: 10px; padding-right: 10px">
      <app-paginator class="d-flex justify-content-between align-items-center flex-wrap" style="padding: 0 20px;"
        [paginator]="paginatorNew" [isLoading]="dataSource.loading$  | async" (paginate)="paginate($event)">
      </app-paginator>
    </div>
  </div>
</div>