.scale-2{
    transform: scale(2);
}
.cu-view-space{
    position: relative;
    width: 100%;
    min-height: 400px;

    .close-dialog{
        min-height: 25px;
    }

    .nguoithamgia{
        margin-top: 25px;
        min-height: 100px;

    }

    .view-template{
        margin-top: 25px;
        min-height: 500px;
        padding-bottom: 80px;
        max-height: calc(100vh - 250px);
        // css con view template
        .edit-template{
            display: none;
            i{
                padding: 0 5px;
            }
        }
        .item-template{
            display: flex;
            font-size: 15px;
            line-height: 2;
            font-weight: 500;
            .title-template{
                flex-grow: 1;
            }

            &:hover{
                .edit-template{
                    min-width: 55px;
                    text-align: right;
                    display: block;
                }
            }

        }

        .header-view{
            display: flex;
            &-title{
                flex-grow: 1;
                font-size: 15px;
                font-weight: 500;
                color: gray;
            };

            i{
                padding: 0 5px;
            }
        }

        .add-new-template{
            input{
                border: none;
                &:focus,
                &:active{
                    outline: none;
                    border: none;
                    border-bottom: 1px solid green;
                }
            }
        }

        
    }

    .line-tab{
        padding: 15px;
        font-size: 18px;
        display: flex;
        .line-title{
            flex-grow: 1;
        }
    }

    .card-view{
        margin: 15px 15px 0 0;
    }
    .card-active{
        border: 2px solid #21d121;
    }

    .template-selected{
        background-color: #1DB954;
        color: white;
        font-size: 14px;
        padding: 0 8px;
        height: 30px;
        align-items: center;
        border-radius: 3px;
        display: flex;
    }
    .item-template{
        background-color: white;
        color: black;
        font-size: 14px;
        padding: 0 8px;
        height: 30px;
        align-items: center;
        border-radius: 3px;
        display: flex;
        &.template-selected{
            background-color: #1DB954;
            color: white;
        }
    }
}

.btn-next{
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 15px;
    font-size: 20px;
}

.color-picker{
    width: 20px ;
    height: 20px;
    margin: 4px;
    border-radius: 50%;
    cursor: pointer;
    &:hover{
        transform: scale(1.2);
    }
}

.themoi{
    font-size: 18px;
    border-bottom: 1px solid;
    cursor: default;
    font-weight: 500;
}

.btn-template{
    font-size: 18px;
    cursor: pointer;
    font-weight: 500;
    margin-left: 15px;
}

.scale-hover-02{
    &:hover{
        z-index: 10;
        transform: scale(1.05);
        transition:all .001s;
        border: 0;
        .view-hover{
            display: block;
        }
        &.user{
            border-radius: 0;
            background: rgba(253, 253, 253, 0)
        }
    }
}
.user-admin{
    position: absolute;
    top: 0;
    right: 0; 
    border-radius: 50%;
    width:10px;
    height:10px;
}

.status-input{
    display: flex;
    margin: 3px 0 5px 0;
    .box-color{
        width: 15px;
        height: 15px;
        background-color: red;
        margin: auto;
        margin-right: 5px;
        cursor: pointer;
    }
    .input{
        flex-grow: 1;
        input{
            width: 100%;
            border:none;
            &:focus{
                border:none;
                outline: none;
                border-bottom: 1px solid gray;
            }
        }
    }
    .action-input{
        min-width: 20px;
    }

}
.drag-icon {
    position: relative;
  }
  .drag-icon i {
    cursor: move;
  }
.box-stt{
    width: 15px;
    height: 15px;
    margin: auto 10px;
    position: relative;
    border-radius: 3px;
    border: 1px solid transparent;
    transition: .1s;
    cursor: pointer;
    color: transparent;
}

