<kt-portlet class="d-block" [options]="{hideHeader: true}">
	<kt-portlet-body>
		<nav mat-tab-nav-bar>
			<a mat-tab-link [routerLink]="['./projects']" (click)="activeLink = 'projects'"
				[active]="activeLink == 'projects'">{{'projects.project' | translate}}</a>
<!--			*ngIf="commonService.CheckRole_WeWork(3502).length>0"-->
			<a mat-tab-link [routerLink]="['./activities']" (click)="activeLink = 'activities'"
				[active]="activeLink == 'activities'">{{'projects.hoatdong' | translate}}</a>
<!--			*ngIf="commonService.CheckRole_WeWork(3610).length>0"-->
			<a mat-tab-link [routerLink]="['./discussions']" (click)="activeLink = 'discussions'"
				[active]="activeLink == 'discussions'">{{'projects.discuss' | translate}}</a>
		</nav>
		<router-outlet></router-outlet>
	</kt-portlet-body>
</kt-portlet>
