<kt-portlet>
    <kt-portlet-header [sticky]="true" title="{{'wuser.list_uyquyen'|translate}}" [class]="'kt-portlet__head--lg'">
        <ng-container ktPortletTools>
            <button class="btn jee_btn-duyet" (click)="uyquyen(false)"> Thêm mới </button>
        </ng-container>
    </kt-portlet-header>
    <kt-portlet-body class="pd-0">
        <div class="example-container mat-table__wrapper" [ngStyle]="{'height': getHeight()}">
            <table mat-table class="lmat-elevation-z8 lst-project" [dataSource]="dataSource" matSort
                matSortActive="hoten" matSortDirection="asc" matSortDisableClear>
                <ng-container matColumnDef="hoten">
                    <th mat-header-cell *matHeaderCellDef style="justify-content: center">
                        <span translate="wuser.hoten" class="text-uppercase"></span> &nbsp;
                        <app-sort-icon column="hoten" [activeColumn]="sorting.column"
                            [activeDirection]="sorting.direction" (sort)="sortField($event)"></app-sort-icon>
                    </th>
                    <td mat-cell *matCellDef="let item" style="justify-content: center;">
                        <div style="display:flex">
                            <div style="margin-right:10px">
                                <ngx-avatar size="35" matTooltip="{{item.hoten}}" src="{{item.image}}"
                                    *ngIf="item.image;else bindText">
                                </ngx-avatar>
                                <ng-template #bindText>
                                    <ngx-avatar textSizeRatio="2.5" matTooltip="{{item.hoten}}" [style]="customStyle"
                                        size="35" [name]="WeWorkService.getNameUser(item.hoten)"
                                        bgColor="{{WeWorkService.getColorNameUser(item.hoten)}}">
                                    </ngx-avatar>
                                </ng-template>
                            </div>
                            <div>
                                <div><a>{{ item.hoten }}</a></div>
                                <span style="color: #888">{{ item.tenchucdanh }}</span>
                            </div>
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="listproject">
                    <th mat-header-cell *matHeaderCellDef style="justify-content: center">
                        <span translate="wuser.listproject" class="text-uppercase"></span>
                    </th>
                    <td mat-cell *matCellDef="let item" style="justify-content: center">
                        <div style="font-size: 14px;color: black; line-height: 2;" *ngFor="let pr of item.data_project">
                            <span>
                                {{pr.title}}
                            </span>
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="thoigian">
                    <th mat-header-cell *matHeaderCellDef style="justify-content: center">
                        <span translate="wuser.thoigianuyquyen" class="text-uppercase"></span>
                    </th>
                    <td mat-cell *matCellDef="let item" style="justify-content: center">
                        {{item.start_date | date :'dd/MM/yyyy'}} - {{item.end_date | date :'dd/MM/yyyy'}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="createddate">
                    <th mat-header-cell *matHeaderCellDef style="justify-content: center">
                        <span translate="GeneralKey.ngaytao" class="text-uppercase"></span>
                    </th>
                    <td mat-cell *matCellDef="let item" style="justify-content: center">
                        {{item.createddate  | timezone}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef style="justify-content: center;min-width:20px">
                    </th>
                    <td mat-cell *matCellDef="let item" style="justify-content: center">
                        <button (click)="uyquyen(item)" mat-icon-button color="primary" matTooltip="Chỉnh sửa">
                            <mat-icon>visibility</mat-icon>
                        </button>
                        <button (click)="xoauyquyen(item)" mat-icon-button color="warn" matTooltip="Xóa">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="row.highlighted = !row.highlighted"
                    [ngClass]="{hovered: row.hovered, highlighted: row.highlighted}" (mouseover)="row.hovered = true"
                    (mouseout)="row.hovered = false"></tr>
            </table>
            <div class="mat-table__message" *ngIf="!dataSource.hasItems">
                <span translate="GeneralKey.khongcodulieu"></span>
            </div>
        </div>
        <app-paginator class="d-flex justify-content-between align-items-center flex-wrap" style="padding: 0 20px;"
            [paginator]="paginatorNew" [isLoading]="dataSource.loading$  | async" (paginate)="paginate($event)">
        </app-paginator>
    </kt-portlet-body>
</kt-portlet>