<style>
	.kt-form .kt-form__actions {
		padding: 10px;
		margin-bottom: 15px
	}

	:host>>>.mat-table__wrapper {
		overflow-x: visible;
	}

	.mat-table__wrapper .mat-table {
		min-width: 100%;

	}

	:host>>>.kt-portlet__body {
		max-height: initial !important;
	}

	.mat-tab-body.mat-tab-body-active {
		position: relative;
		overflow-x: hidden;
		/* overflow-y: auto; */
		z-index: 1;
		flex-grow: 1;
	}
</style>
<kt-portlet [options]="{headLarge: true, enableSticky: true}">
	<kt-portlet-header [sticky]="true" [class]="'kt-portlet__head--lg'">
		<ng-container ktPortletTitle>
			<div class="kt-form__filtration">
				<div class="row align-items-center">
					{{ (IsGroup?'phanquyen.phanquyennhomnguoidung':'phanquyen.phanquyennguoidung') |translate}}<span
						style="color: red;">&nbsp;- {{Title}}</span>
				</div>
			</div>
		</ng-container>
		<ng-container ktPortletTools>
			<button (click)="goBack()" mat-raised-button matTooltip="{{'GeneralKey.dong'|translate}}" type="button">
				<span>{{'GeneralKey.dong'|translate}}</span>
			</button>&nbsp;&nbsp;
			<button type="button" mat-raised-button class="btn-luutieptuc" (click)="luuQuyen(false)"
				[disabled]="disabledBtn">
				&nbsp;&nbsp;<span>{{'GeneralKey.luu'|translate}}</span>&nbsp;&nbsp;<div *ngIf="disabledBtn"
					class="spinner-button-pad"></div>
			</button>
		</ng-container>
	</kt-portlet-header>
	<kt-portlet-body class="pd-0">
		
		<div class="mat-table__wrapper" style="overflow-y: hidden !important;">
			<table mat-table class="lmat-elevation-z8 table-responsive d-table" [dataSource]="dataSource" matSort matSortActive="id"
				style="width: 100%;height: 100%;" matSortDirection="asc" matSortDisableClear>
				<ng-container matColumnDef="Id_Quyen">
					<th mat-header-cell *matHeaderCellDef class="mat-column-vinCode">
						<span translate="phanquyen.ID"></span>
						&nbsp;
                        <app-sort-icon column="Id_Quyen" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
                            (sort)="sortField($event)"></app-sort-icon>
					</th>
					<td mat-cell *matCellDef="let item" class="mat-column-vinCode">
						{{item.Id_Quyen}}
					</td>
				</ng-container>
				<ng-container matColumnDef="Tenquyen">
					<th mat-header-cell *matHeaderCellDef class="mat-column-vinCode">
						<span translate="phanquyen.quyen"></span>
						&nbsp;
                        <app-sort-icon column="Tenquyen" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
                            (sort)="sortField($event)"></app-sort-icon>
					</th>
					<td mat-cell *matCellDef="let item" class="mat-column-vinCode"><span
							translate="SubMenu.{{item.LangKey}}">
						</span>
					</td>
				</ng-container>
				<ng-container matColumnDef="ChinhSua">
					<th mat-header-cell *matHeaderCellDef class="mat-column-vinCode"
						style="width: 10%; text-align: center;">
						<mat-checkbox (change)="masterToggle1($event)" *ngIf="disthEdit" [(ngModel)]="Edit">
						</mat-checkbox>
					</th>
					<td mat-cell *matCellDef="let item" class="mat-column-vinCode" style="text-align: center;">
						<mat-checkbox [disabled]="!item.IsEdit_Enable" (change)="changeChinhSua($event,item)"
							[checked]="item.IsEdit">
						</mat-checkbox>
					</td>
				</ng-container>
				<ng-container matColumnDef="ChiXem">
					<th mat-header-cell *matHeaderCellDef class="mat-column-vinCode" style="text-align: center;">
						<mat-checkbox (change)="masterToggle($event)" *ngIf="disthRead" [(ngModel)]="Read">
							<span translate="phanquyen.xem"></span>
						</mat-checkbox>
						<span translate="phanquyen.xem" *ngIf="!disthRead"></span>
					</th>
					<td mat-cell *matCellDef="let item" class="mat-column-vinCode" style="text-align: center;">
						<mat-checkbox (change)="changeChiXem($event,item)" *ngIf="item.IsReadPermit"
							[checked]="item.IsRead" [disabled]="!item.IsRead_Enable">
						</mat-checkbox>
					</td>
				</ng-container>
				<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
				<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
			</table>
		</div>
		<!-- <app-paginator class="d-flex justify-content-between align-items-center flex-wrap" style="padding: 0 20px;" [paginator]="paginatorNew"
        [isLoading]="dataSource.loading$  | async" (paginate)="paginate($event)"></app-paginator> -->
	</kt-portlet-body>
</kt-portlet>