// h3 {
// 	margin: 0;
//   }
//   .container-fluid {
// 	padding-top: 70px;
//   }
//   @media (min-width: 768px) {
// 	.container-fluid {
// 	  height: 100vh;
// 	}
//   }
//   .spacer-top {
// 	margin-top: 15px;
//   }
//   .sidebar-nav {
// 	padding-left: 5px;
//   }
//   .sidebar-nav h4 {
// 	margin-bottom: 20px;
//   }
//   .sidebar-nav ul {
// 	margin-bottom: 0;
//   }
//   .sidebar-nav li {
// 	margin-bottom: 10px;
// 	font-size: 90%;
//   }
//   .sidebar-nav a:not(.active) {
// 	color: #777;
//   }
//   .sidebar-nav a:hover {
// 	color: #0275d8;
// 	text-decoration: none;
//   }
//   .sidebar-nav a.active {
// 	color: #373a3c;
// 	font-weight: 700;
//   }
//   pre {
// 	background-color: #f5f5f5;
// 	padding: 15px;
//   }
//   .fill-height {
// 	height: 100%;
//   }
// .scroll-y {
//     overflow-y: auto;
// }
//   .code-container {
// 	position: relative;
//   }
//   .copy-code {
// 	position: absolute;
// 	top: 15px;
// 	right: 15px;
//   }
//   h3 {
// 	margin: 0;
//   }
//   .container-fluid {
// 	padding-top: 70px;
//   }
//   @media (min-width: 768px) {
// 	.container-fluid {
// 	  height: 100vh;
// 	}
//   }
//   .spacer-top {
// 	margin-top: 15px;
//   }
//   .sidebar-nav {
// 	padding-left: 5px;
//   }
//   .sidebar-nav h4 {
// 	margin-bottom: 20px;
//   }
//   .sidebar-nav ul {
// 	margin-bottom: 0;
//   }
//   .sidebar-nav li {
// 	margin-bottom: 10px;
// 	font-size: 90%;
//   }
//   .sidebar-nav a:not(.active) {
// 	color: #777;
//   }
//   .sidebar-nav a:hover {
// 	color: #0275d8;
// 	text-decoration: none;
//   }
//   .sidebar-nav a.active {
// 	color: #373a3c;
// 	font-weight: 700;
//   }
pre {
    background-color: #f5f5f5;
    padding: 15px;
}

.fill-height {
    height: 100%;
}

.scroll-y {
    overflow-y: auto;
}

.code-container {
    position: relative;
}

.copy-code {
    position: absolute;
    top: 15px;
    right: 15px;
}

.btn-todo {
    background-color: #B2B2B2;
}

.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d
}

.btn-secondary:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62
}

.btn-secondary.focus,
.btn-secondary:focus {
    box-shadow: 0 0 0 .2rem rgba(108, 117, 125, .5)
}

.custom-gstc {
    .gantt-schedule-timeline-calendar__list {
        height: 70vh!important;
    }
    .gantt-schedule-timeline-calendar__list-column-rows {
        height: 100%!important;
    }
}

// .custom-gstc {
//     .gantt-schedule-timeline-calendar__list-column-rows {
//         height: 70vh!important;
//     }
//     .gantt-schedule-timeline-calendar__list-column-rows--scroll-compensation {
//         height: 100%!important;
//     }
// }