<style>
	.example-form {
		min-width: 150px;
		max-width: 500px;
		width: 100%;
	}

	.example-full-width {
		width: 100%;
	}
</style>
<div class="kt-portlet" [ngClass]="{ 'kt-portlet--body-progress kt-portlet--body-progress-overlay' : viewLoading }">
	<div class="kt-portlet__head kt-portlet__head__custom">
		<div class="kt-portlet__head-label">
			<h5 class="kt-portlet__head-title">{{getTitle()}}</h5>
		</div>
	</div>
	<form class="kt-form" [formGroup]="itemForm">
		<div class="kt-portlet__body">
			<div class="row">
				<div class="col-md-6">
					<mat-form-field appearance="fill" class="w-100">
						<mat-label>Ngày bắt đầu</mat-label>
						<input formControlName="start" matInput [matDatepicker]="picker">
						<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
						<mat-datepicker #picker></mat-datepicker>
					  </mat-form-field>					  
				</div>
				<div class="col-md-6">
					<mat-form-field appearance="fill" class="w-100">
						<mat-label>Ngày kết thúc</mat-label>
						<input formControlName="end" matInput [matDatepicker]="picker1">
						<mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
						<mat-datepicker #picker1></mat-datepicker>
					  </mat-form-field>					  
				</div>

				<div class="col-md-4 kt--margin-bottom-10-mobile" style="padding: 25px;">
					<span translate="wuser.chonnguoiuyquyen"></span>
				</div>
				<div class="col-md-8 kt--margin-bottom-10-mobile">
					<mat-form-field class="mat-form-field-fluid">
						<mat-select style="width: 100%;" placeholder="{{ 'wuser.chonnguoiuyquyen' | translate }}"
							formControlName="id_user" class="require" required>
							<mat-option>
								<ngx-mat-select-search [formControl]="bankFilterCtrl" [placeholderLabel]="''"
									[noEntriesFoundLabel]="''">
								</ngx-mat-select-search>
							</mat-option>
							<mat-option value="{{user.id_nv}}" *ngFor="let user of filteredBanks | async">
								<span style="color: black;">{{ user.hoten }}</span>
							</mat-option>
						</mat-select>
					</mat-form-field>
				</div>

				
				<div class="col-md-4 kt--margin-bottom-10-mobile" style="padding: 25px;">
					<span translate="wuser.tatcaduan"></span>
				</div>
				<div class="col-md-8 kt--margin-bottom-10-mobile">
					<section class="example-section">
						<mat-checkbox [(ngModel)]="is_all_project" [ngModelOptions]="{standalone: true}" class="example-margin">Chọn tất cả dự án!</mat-checkbox>
					  </section>
				</div>
				
				<div class="col-md-4 kt--margin-bottom-10-mobile" style="padding: 25px;">
					<span translate="wuser.listproject"></span>
				</div>
				<div class="col-md-8 kt--margin-bottom-10-mobile">
					<mat-form-field class="mat-form-field-fluid">
						<mat-select [disabled]="is_all_project" multiple (selectionChange)="checkProject($event.value)" formControlName="list_project"
							placeholder="{{ 'wuser.listproject' | translate }}">
							<mat-option *ngFor="let item of ds_project" [value]="item.id_row">
								{{item.title}}
							</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
				
			</div>
		</div>
	</form>
	<div class="kt-portlet__foot">
		<div class="kt-form__actions kt-form__actions--solid">
			<div class="row text-right">
				<div class="col-lg-12">
					<button type="button" class="mat-raised-button" (click)="close()" 
						cdkFocusInitial matTooltip="{{ 'GeneralKey.trolai' | translate }}">
						<span translate="GeneralKey.trolai"></span>&nbsp;&nbsp;<div *ngIf="disabledBtn"
							class="spinner-button-pad"></div>
					</button>&nbsp;
					<button type="button" mat-raised-button class="jee_btn-addclose" (click)="onSubmit(true)"
						 matTooltip="{{ 'GeneralKey.luudong' | translate }}">
						<span translate="GeneralKey.luudong"></span>&nbsp;&nbsp;<div *ngIf="disabledBtn"
							class="spinner-button-pad"></div>
					</button>
					&nbsp;
				</div>
			</div>
		</div>
	</div>
</div>