<div class="cu-automation-tab-browse__container">
    <div class="cu-automation-tab-browse__sidebar ps">
        <div
            class="cu-automation-tab-browse__sidebar-category cu-automation-tab-browse__sidebar-category_custom cu-automation-tab-browse__sidebar-category_active cu-automation-tab-browse__sidebar-category_custom-active cu-automation-tab-browse__sidebar-category_custom-automation">
            <div icon="cu2-plus-3"
                class="cu-automation-tab-browse__sidebar-category-icon cu-automation-tab-browse__sidebar-category-icon_plus icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" id="svg-sprite-cu2-plus-3">
                    <path
                        d="M8.513 8.376l5.38.007a.89.89 0 000-1.78l-5.38.007.006-5.38a.89.89 0 00-1.779 0l.007 5.38-5.38-.006a.886.886 0 00-.89.89.886.886 0 00.89.889l5.38-.007-.007 5.38a.886.886 0 00.89.89.884.884 0 00.889-.89l-.006-5.38z">
                    </path>
                </svg>
            </div>Add Custom Automation

        </div><label class="cu-automation-tab-browse__sidebar-categories-label"> Categories: </label>

        <div>
            <div class="cu-automation-tab-browse__sidebar-category cu-automation-tab-browse__sidebar-category-task"
                data-category="Move">
                <div
                    class="cu-automation-tab-browse__sidebar-category-icon cu-automation-tab-browse__sidebar-category-icon_automation-category-move">
                    <div>
                        <div class="icon" style="fill: rgb(187, 107, 217);">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 25"
                                id="svg-sprite-automation-category-move">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M16.629.072a1 1 0 011.095.238l10 10.5a1 1 0 010 1.38l-10 10.5A1 1 0 0116 22v-6.075a11.417 11.417 0 00-.53-.001c-.9.018-2.177.145-3.655.582-2.939.868-6.735 2.976-9.973 8.033A1 1 0 010 24c0-4.244 1.045-7.478 2.666-9.925 1.619-2.443 3.77-4.04 5.893-5.082 2.119-1.04 4.224-1.535 5.791-1.773.65-.098 1.212-.153 1.65-.183V1a1 1 0 01.629-.928zM16.982 9h-.146c-.105.002-.264.007-.47.018-.41.022-1.002.072-1.716.18-1.433.217-3.328.667-5.21 1.59-1.877.922-3.725 2.306-5.106 4.391-.942 1.422-1.687 3.197-2.064 5.425 3-3.504 6.259-5.213 8.978-6.016a16.017 16.017 0 014.18-.664c.524-.01.945.01 1.242.034a7.896 7.896 0 01.448.049l.03.004.01.002h.005L17 15l.164-.986A1 1 0 0118 15v4.5l7.619-8L18 3.5V8a1 1 0 01-1.017 1h-.001z">
                                </path>
                            </svg>

                        </div>


                    </div>
                </div> Move
            </div>
        </div>

        <div>
            <div class="cu-automation-tab-browse__sidebar-category cu-automation-tab-browse__sidebar-category-task"
                data-category="Statuses">
                <div
                    class="cu-automation-tab-browse__sidebar-category-icon cu-automation-tab-browse__sidebar-category-icon_automation-category-statuses">
                    <div>
                        <div class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25"
                                id="svg-sprite-automation-category-statuses">
                                <path
                                    d="M6.78 9.78a3 3 0 013-3h5.44a3 3 0 013 3v5.44a3 3 0 01-3 3H9.78a3 3 0 01-3-3V9.78z">
                                </path>
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M20 2H5a3 3 0 00-3 3v15a3 3 0 003 3h15a3 3 0 003-3V5a3 3 0 00-3-3zM5 0a5 5 0 00-5 5v15a5 5 0 005 5h15a5 5 0 005-5V5a5 5 0 00-5-5H5z">
                                </path>
                            </svg>
                        </div>


                    </div>
                </div> Statuses
            </div>
        </div>

        <div>
            <div class="cu-automation-tab-browse__sidebar-category cu-automation-tab-browse__sidebar-category-task"
                data-category="Creation">
                <div
                    class="cu-automation-tab-browse__sidebar-category-icon cu-automation-tab-browse__sidebar-category-icon_automation-category-creation">
                    <div>
                        <div class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"
                                id="svg-sprite-automation-category-creation">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M6 2.4A1.4 1.4 0 017.4 1h1.2A1.4 1.4 0 0110 2.4V6h3.5A1.5 1.5 0 0115 7.5v1a1.5 1.5 0 01-1.5 1.5H10v3.6A1.4 1.4 0 018.6 15H7.4A1.4 1.4 0 016 13.6V10H2.5A1.5 1.5 0 011 8.5v-1A1.5 1.5 0 012.5 6H6V2.4zm1 .1a.5.5 0 01.5-.5h1a.5.5 0 01.5.5V7h4.5a.5.5 0 01.5.5v1a.5.5 0 01-.5.5H9v4.5a.5.5 0 01-.5.5h-1a.5.5 0 01-.5-.5V9H2.5a.5.5 0 01-.5-.5v-1a.5.5 0 01.5-.5H7V2.5z">
                                </path>
                            </svg>
                        </div>


                    </div>
                </div> Creation
            </div>
        </div>

        <div>
            <div class="cu-automation-tab-browse__sidebar-category cu-automation-tab-browse__sidebar-category-task"
                data-category="Dates">
                <div
                    class="cu-automation-tab-browse__sidebar-category-icon cu-automation-tab-browse__sidebar-category-icon_automation-category-dates">
                    <div>
                        <div class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"
                                id="svg-sprite-automation-category-dates">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M4.5 3a.5.5 0 01-.5-.5V2H2.5a.5.5 0 00-.5.5V4h12V2.5a.5.5 0 00-.5-.5H12v.5a.5.5 0 11-1 0V2H5v.5a.5.5 0 01-.5.5zM11 1H5V.5a.5.5 0 10-1 0V1H2.5A1.5 1.5 0 001 2.5v11A1.5 1.5 0 002.5 15h11a1.5 1.5 0 001.5-1.5v-11A1.5 1.5 0 0013.5 1H12V.5a.5.5 0 00-1 0V1zM2 5v8.5a.5.5 0 00.5.5h11a.5.5 0 00.5-.5V5H2z">
                                </path>
                                <path
                                    d="M8.5 11V7.5a.502.502 0 00-.145-.351L8.22 7.05a.498.498 0 00-.578.101L6.396 8.396a.5.5 0 00.707.708l.397-.397V11H7a.5.5 0 100 1h2a.5.5 0 000-1h-.5z">
                                </path>
                                <path d="M8.5 7.5a.5.5 0 11-1 0 .5.5 0 011 0z"></path>
                            </svg>
                        </div>


                    </div>
                </div> Dates
            </div>
        </div>

        <div>
            <div class="cu-automation-tab-browse__sidebar-category cu-automation-tab-browse__sidebar-category-task"
                data-category="Assignees">
                <div
                    class="cu-automation-tab-browse__sidebar-category-icon cu-automation-tab-browse__sidebar-category-icon_automation-category-assignees">
                    <div>
                        <div class="icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"
                                id="svg-sprite-automation-category-assignees">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M5 2a3 3 0 110 6 3 3 0 010-6zm2 3a2 2 0 11-4 0 2 2 0 014 0zm1.75 9A1.25 1.25 0 0010 12.75a3.744 3.744 0 00-1.695-3.137A3.732 3.732 0 006.25 9h-2.5A3.75 3.75 0 000 12.75C0 13.44.56 14 1.25 14h7.5zM1 12.75A2.75 2.75 0 013.75 10h2.5A2.75 2.75 0 019 12.75a.25.25 0 01-.25.25h-7.5a.25.25 0 01-.25-.25zM14.75 14c.69 0 1.25-.56 1.25-1.25A3.75 3.75 0 0012.25 9H10.5a.5.5 0 000 1h1.75A2.75 2.75 0 0115 12.75a.25.25 0 01-.25.25H11.5a.5.5 0 000 1h3.251zM11 8a3 3 0 10-2.169-5.072c-.19.2-.129.514.1.67.228.154.536.088.743-.095a2 2 0 110 2.993c-.207-.182-.514-.248-.743-.093-.229.155-.29.47-.1.67a2.991 2.991 0 002.17.927z">
                                </path>
                            </svg>
                        </div>


                    </div>
                </div> Assignees
            </div>
        </div>

        <div>
            <div class="cu-automation-tab-browse__sidebar-category cu-automation-tab-browse__sidebar-category-task"
                data-category="Priorities">
                <div
                    class="cu-automation-tab-browse__sidebar-category-icon cu-automation-tab-browse__sidebar-category-icon_automation-category-priorities">
                    <div>
                        <div class="icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"
                                id="svg-sprite-automation-category-priorities">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M3 .5a.5.5 0 011 0V1h9.5a.5.5 0 01.362.845L11.124 5.5l2.74 3.657A.498.498 0 0113.5 10H4v5.5a.5.5 0 01-1 0V.5zm7.086 5.28a.49.49 0 00.028.038L12.5 9H4V2h8.498l-2.384 3.182a.49.49 0 00-.028.037l-.002.003a.498.498 0 000 .555l.002.003z">
                                </path>
                            </svg>
                        </div>


                    </div>
                </div> Priorities
            </div>
        </div>

        <div>
            <div class="cu-automation-tab-browse__sidebar-category cu-automation-tab-browse__sidebar-category-task"
                data-category="Other">
                <div
                    class="cu-automation-tab-browse__sidebar-category-icon cu-automation-tab-browse__sidebar-category-icon_cu2-logo-icon-outline">
                    <div>
                        <div class="cu-automation-tab-browse__sidebar-category-icon_stroke icon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 16"
                                id="svg-sprite-cu2-logo-icon-outline">
                                <path
                                    d="M10.663 11.261l1.63 1.201C10.668 14.482 8.73 15.5 6.534 15.5c-2.191 0-4.152-1.015-5.826-3.028l1.606-1.23c1.255 1.484 2.642 2.235 4.22 2.235 1.57 0 2.924-.742 4.128-2.216zM6.855 4.02l-.327-.284-.328.283-3.89 3.353L.987 5.84l5.546-4.78 5.5 4.781-1.327 1.527L6.855 4.02z">
                                </path>
                            </svg>
                        </div>


                    </div>
                </div> Other
            </div>
        </div>

        <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
            <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
        </div>
        <div class="ps__rail-y" style="top: 0px; right: 0px;">
            <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div>
        </div>
    </div>

    <app-edit-automation class="w-100" [ID_department]="ID_department" [ID_projectteam]="ID_projectteam" ></app-edit-automation>

</div>