<style>
    .conntentmess
    {
     font-size: 15px;
    }
    .body
    {
        padding: 1.25rem !important;
    }
    .avatar-group
  {
    display: flex;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    flex-wrap: wrap;
  }
</style>
<div [ngClass]="getClass()" id="{{user.user.IdGroup}}" class="card chat-box">
    <div style="padding: 5px;" *ngIf="!user.user.isGroup" class="card-header">
        <div class="d-flex" *ngFor="let item of user.user.InfoGroupUser">
            <div class="mr">
               
                <ngx-avatar [size]="45" src="{{item.Avatar}}">
                </ngx-avatar>
                <ngx-avatar [size]="45" [name]="item.Fullname.slice(0, 1)" bgColor="{{ item.BgColor }}" *ngIf="!item.Avatar"></ngx-avatar>

            </div>
            <div style="padding-left: 10px;">
             
                <span *ngIf="item.Fullname.lenght>0;then show1;else show2">

                </span>
                <ng-template #show1>
                    <a   href="/" class="text-primary" style="text-decoration: none;">{{item.Fullname}}
                  
                    </a>
                </ng-template>
                <ng-template #show2>
                    <a  href="/" class="text-primary" style="text-decoration: none;">{{item.Fullname| slice:0:15 }}
                  
                    </a>
                </ng-template>
               
                <!-- <div class="text-muted">{{user.lastActive}}</div> -->
               <div *ngIf="user.user.Active" class="text-muted">Online</div> 
               <div *ngIf="!user.user.Active" class="text-muted">Offline</div> 
            </div>
            <div class="child-right" >
                <a class="mr btn" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseChatBox">
                    <mat-icon>remove</mat-icon>
                    </a>
                <a class="mr" href="javascript:;" (click)="closeBoxChat()">
                    
                    <mat-icon>clear</mat-icon>
                </a>
            </div>
        </div>

      
    </div>

    <div  style="padding: 5px;" *ngIf="user.user.isGroup" class="card-header">
        <div class="d-flex">
            <div class="avatar-group">
                <div *ngFor="let mb of user.user.ListMember | slice:0:4;let i=index">
              
                <div *ngFor="let it of mb.InfoMemberUser ">
                  <div  *ngIf="i>=0&&i<3" >
                    <ngx-avatar [size]="25" [name]="it.Fullname.slice(0, 1)" bgColor="{{ it.BgColor }}" *ngIf="!it.Avatar"></ngx-avatar>
                    <ngx-avatar [size]="25" src="{{ it.Avatar }}" *ngIf="it.Avatar"></ngx-avatar>
                   
                  </div>
                  <ngx-avatar *ngIf="i==3&&user.user.ListMember.length>=4" [size]="25" name="{{user.user.ListMember.length-3}}" bgColor="#ad3838" ></ngx-avatar>
                 
              </div>
            </div>
          </div>
            <!-- <div class="mr">     <img src="./assets/iconGroup.jpg"  class="rounded-circle img-person" alt="" /></div> -->
            <div style=" display: flex;
          flex-direction: column;padding-left: 5px;">
              
                <span *ngIf="user.user.GroupName.lenght>0;then show1;else show2">

                </span>
                <ng-template #show1>
                    <span  href="/"  style="text-decoration: none;font-weight: bold;">{{user.user.GroupName}}
                  
                    </span>
                    <span>{{user.user.ListMember.length}} Thành viên</span>
                </ng-template>
                <ng-template #show2>
                    <span   href="/" style="text-decoration: none; font-weight: bold;
                       ">{{user.user.GroupName| slice:0:15 }}
                  
                    </span>
                    <span>{{user.user.ListMember.length}} Thành viên</span>
                </ng-template>
               
                <!-- <div class="text-muted">{{user.lastActive}}</div> -->
            </div>
            <div class="child-right" >
                <a class="mr btn" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseChatBox">
                    <mat-icon>remove</mat-icon>
                    </a>
                <a class="mr" href="javascript:;" (click)="closeBoxChat()">
                    
                    <mat-icon>clear</mat-icon>
                </a>
            </div>
        </div>
    </div>
    <div [collapse]="isCollapsed" [isAnimated]="true" id="collapseChatBox">
      
        <div  class="card-body body"  #scrollMeChat >
            <cdk-virtual-scroll-viewport (scroll)="scrollHandler($event,user.user.IdGroup)"  itemSize="30"  style="height: 350px;" ngx-auto-scroll lock-y-offset="10" observe-attributes  >

        
            <ul class="chat chat-frame">
                <a  href="{{hostjeechat}}" target="_blank" *ngIf="(messageService.messageThread$ | async)?.length==100">Xem thêm tin nhắn</a>
                <li class="pd-5" *cdkVirtualFor="let message of (messageService.messageThread$ | async)">                
                    <div [ngClass]=" message.UserName !==userCurrent ? 'd-flex' : 'parent-sent' ">
                        <div class="mr" *ngIf="message.UserName !== userCurrent">
                            <div *ngFor="let info of  message.InfoUser">
                                <ngx-avatar [size]="20" src="{{info.Avatar}}">
                                </ngx-avatar>
                                <ngx-avatar [size]="20" [name]="info.Fullname.slice(0, 1)" bgColor="{{ info.BgColor }}" *ngIf="!info.Avatar"></ngx-avatar>
                              
                              
                            </div>
                        </div>
                        
                        <div  class="message-body" [class.message-send]="message.UserName === userCurrent">   
                            <div class="conntentmess" >{{message.Content_mess}}</div>
                            <!-- (list$ | async)?.length==0 -->
                         
                        </div>

                      
                  
                        <div *ngIf="(messageService.seenMessage$ | async) === user.username">
                            <img class="rounded-circle" src="{{user.photoUrl || './assets/user.png'}}" alt="{{user.Username}}" style="max-height: 10px;">
                        </div>              
                    </div>
                </li>
            </ul>
        </cdk-virtual-scroll-viewport>
        </div>
        <div style="padding: 0px;" class="card-footer">
            <form #messageForm="ngForm" (ngSubmit)="sendMessage()" autocomplete="off">
                <div class="input-group">
                    <input  style="   font-size: 15px;" type="text" name="messageContent" required [(ngModel)]="messageContent"
                        class="form-control input-sm" placeholder="Send a private message"
                        (focus)="onFocusEvent($event)"
                        >
                    <div class="input-group-append">
                        <button [disabled]=""  style="background:#6993FF"class="btn btn-primary" type="submit">Send</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
</div>

