<div class="email-setting-container">
    <div class=" kt-form__group">
        <div class="row">
            <div class="col-md-8 kt--margin-bottom-10-mobile">
                <hr />
                <h5>{{'projects.thaotaccongviec' | translate }}</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 kt--margin-bottom-10-mobile">
                <section>
                    <p>
                        <mat-checkbox class="text-gray -hover-black" [(ngModel)]="item1.email_assign_work"
                            (click)="update($event,'email_assign_work')">
                            {{'projects.email_assign_work' | translate }}
                        </mat-checkbox>
                    </p>
                    <p>
                        <mat-checkbox class="text-gray -hover-black" [(ngModel)]="item1.email_update_work"
                            (click)="update($event,'email_update_work')">
                            {{'projects.email_update_work' | translate }}
                        </mat-checkbox>
                    </p>
                    <p>
                        <mat-checkbox class="text-gray -hover-black" [(ngModel)]="item1.email_update_status"
                            (click)="update($event,'email_update_status')">
                            {{'projects.email_update_status' | translate }}
                        </mat-checkbox>
                    </p>
                    <p>
                        <mat-checkbox class="text-gray -hover-black" [(ngModel)]="item1.email_delete_work"
                            (click)="update($event,'email_delete_work')">
                            {{'projects.email_delete_work' | translate }}
                        </mat-checkbox>
                    </p>
                </section>
            </div>
        </div>
    </div>
    <div class=" kt-form__group">
        <div class="row">
            <div class="col-md-8 kt--margin-bottom-10-mobile">
                <hr />
                <h5>{{(IsProject? 'projects.project' :'projects.team' )| translate }}</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 kt--margin-bottom-10-mobile">
                <section>
                    <p>
                        <mat-checkbox class="text-gray -hover-black" [(ngModel)]="item1.email_update_team"
                            (click)="update($event,'email_update_team')">
                            {{'projects.email_update_team' | translate }}
                        </mat-checkbox>
                    </p>
                    <p>
                        <mat-checkbox class="text-gray -hover-black" [(ngModel)]="item1.email_delete_team"
                            (click)="update($event,'email_delete_team')">
                            {{'projects.email_delete_team' | translate }}
                        </mat-checkbox>
                    </p>
                    <p>
                        <mat-checkbox class="text-gray -hover-black" [(ngModel)]="item1.email_upload_file"
                            (click)="update($event,'email_upload_file')">
                            {{'projects.email_upload_file' | translate }}
                        </mat-checkbox>
                    </p>
                </section>
            </div>
        </div>
    </div>
</div>