<div class="kt-portlet" [ngClass]="{ 'kt-portlet--body-progress kt-portlet--body-progress-overlay' : viewLoading }">
	<div class="kt-portlet__head kt-portlet__head__custom">
		<div class="col-md-12 kt-margin-bottom-10-mobile" style="margin-top: 20px;">
			<h3 class="kt-portlet__head-title">{{ComponentTitle}}</h3>
		</div>
	</div>
	<div class="kt-portlet__body">
		<div class="form-group kt-form__group w-100">
			<div class="row">
				<div class="col-md-12 kt--margin-bottom-10-mobile">
					<mat-form-field class="mat-form-field-fluid ">
						<textarea #matInput [(ngModel)]="input" matInput placeholder="Chọn thành viên" class="require"
							required rows="3" [popover]="myPopover" [popoverOnHover]="false"
							(input)="onSearchChange($event)" (click)="click($event)"></textarea>
						<mat-hint>{{'work.tagthemthanhvien'|translate}}</mat-hint>
					</mat-form-field>
				</div>
			</div>
		</div>
	</div>
	<div class="kt-portlet__foot">
		<div class="form-group kt-form__group row">
			<div class="col-md-12 kt--margin-bottom-10-mobile text-right">
				<button mat-raised-button (click)="close()"><span translate="GeneralKey.dong"></span></button>&nbsp;
				<button mat-raised-button class="jee_btn-addclose"
					(click)="onSubmit()">{{'GeneralKey.luudong'|translate}}</button>
			</div>
		</div>
	</div>
</div>
<span #hiddenText style="visibility:hidden; white-space: pre;font-size:1.1rem; position:absolute">{{input}}</span>
<div style="position:absolute">
	<popover-content #myPopover placement="bottom-left" [closeOnClickOutside]="true">
		<kt-choose-users [options]="options" (ItemSelected)="ItemSelected($event)"></kt-choose-users>
	</popover-content>
</div>