<kt-portlet class="d-block" [options]="{headLarge: true, enableSticky: true}" [loading$]="loading1$">
	<kt-portlet-header class="activities" [sticky]="true" style="height: 60px;" [class]="'kt-portlet__head--lg'">
		<ng-container ktPortletTitle>
			<div class="kt-form__filtration">
				<h4>
					<i class="far fa-file-alt text-dark" style="padding-right: 5px;"></i>
					<b class="url text-dark">{{ 'projects.hoatdong' | translate }}</b>
				</h4>
			</div>
		</ng-container>
		<ng-container ktPortletTools>
			<div class="search-box" style="margin-right:20px">
				<div class="search">
					<div class="input">
						<span class="las la-search url"
							style="position: absolute; top: 2px; left: 10px; font-size: 18px;"></span>
						<input type="text" (keyup.enter)="applyFilter($event.target.value)"
							placeholder="{{ 'filter.filterhoatdong' | translate }}" style="overflow: hidden;" #keyword>
					</div>
				</div>
			</div>
		</ng-container>
	</kt-portlet-header>
	<kt-portlet-body class="bg-hoatdong pd-0" [ngStyle]="{'height': getHeight()}">
		<div class="workflow-hoatdong">
			<div class="row hoatdong-body">
				<div class="hoatdong-body-1" *ngFor="let item of ListData">
					<div class="hoatdong-header">
						<div>
							<mat-icon class="icon-header">check_circle</mat-icon>&nbsp;<span style="color: #aaa">
								{{ 'filter.congviectrong' | translate }}
							</span>&nbsp;
							<a [routerLink]="['/project',item.id_project_team]">
								<span class="sub-title" style="color: rgb(253, 169, 13);">{{item.project_team}}</span>
							</a>
						</div>
						<div>
							<a class="title url" (click)="Viewdetail(item)">
								{{ 'work.tencongviec' | translate }}:
								<span>{{item.title}}</span>
							</a>
						</div>
						<!-- <div>
							<span style="font-size: 14px; color: #aaa;">
								[{{item.project_team}}] - <span translate="workprocess.taoboi"></span>
								{{item.Activities[0].NguoiTao.hoten}}
							</span>
						</div> -->
					</div>
					<div *ngFor="let active of item.Activities">
						<div class="row">
							<div class="col-md-12" style="display: flex;">
								<div style="width: 100px;">
									<img src="{{active.icon}}" width="32px" height="32px" class="icon"
										style="border-radius: 0;">
								</div>
								<div style="flex-grow: 1 !important;">
									<a>
										<span
											style="font-size: 14px; color: rgb(5, 62, 146);">{{active.NguoiTao.hoten}}</span>
										- <span
											style="cursor: pointer; font-size:12pt; color: black;">{{getActionActivities(active)}}</span>&nbsp;
										<ng-container *ngIf="active.oldvalue">
											<span
												style="font-size: 14px; color: rgb(207, 22, 102); text-decoration: line-through;">{{active.oldvalue}}</span>&nbsp;-
										</ng-container>
										<ng-container *ngIf="active.newvalue">
											<span
												style="font-size: 14px; color: rgb(7, 116, 7)">{{active.newvalue}}</span>&nbsp;-
										</ng-container>
										<span style="font-size: 14px; color: #aaa;">{{active.CreatedDate}}</span>
									</a>
									<br>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</kt-portlet-body>
</kt-portlet>