.cu-notification-item__text{
  //color: #7b68ee;
  color: rgb(10 180 255);
  font-family: Gotham Pro,arial,serif;
  font-weight: 500;
  font-size: 11px;
  line-height: 11px;
  margin: 0 0 0 10px;
  padding: 4px 8px 3px;
  text-transform: uppercase;
  border-radius: 20px;
  //display: in;
  justify-content: center;
  align-items: center;
  overflow: visible;
  background: #fff;
  box-shadow: 0 0 3px 0 rgb(0 0 0 / 26%);
  flex-shrink: 0;
}

//.cu-notification-item__text {
//  color: var(--theme-main-color);//rgb(10 180 255)
//}

.cu-notification-item__text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.status_block {
  justify-content: center;
}

.status {
  background-color: #7b68ee;
  font-family: Gotham Pro,arial,serif;
  font-weight: 500;
  font-size: 11px;
  line-height: 11px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 22px;
  padding: 0 12px;
  border-radius: 3px;
  color: #fff;
  text-transform: uppercase;
}
.cu-notification-item__status_before {
  margin-left: 20px;
}
.cu-notification-item__status {
  margin: 0 10px;
}

.date-type{
  font-size: 14px;
  color: #aaa;
  word-break: break-word;
}

.max-height-50px{
  max-height: 50px;
}

