<div class="repeated-list">
    <kt-portlet style="padding-top: 50px !important;">
        <kt-portlet-header [sticky]="true" [class]="'kt-portlet__head--lg'">
            <ng-container ktPortletTitle>
                <span class="title-header -hover url" translate="GeneralKey.cvlaplai">
                </span>
            </ng-container>
            <ng-container ktPortletTools>
                <button *ngIf="id_project == 0" class="btn btn-outline-primary hide-more-text"
                    [matMenuTriggerFor]="menu" style="border-radius: 20px; max-width: 350px;">
                    <i class="far fa-folder"></i>
                    <span translate="department.project"></span> :
                    <span matTooltip={{text_filter}}>{{text_filter}}</span>
                </button>
                <button class="btn btn-outline-success" (click)="AddRepeated(0)"
                    style="border-radius: 20px;margin-left: 20px;">
                    <i class="fas fa-plus"></i>
                    <span translate="GeneralKey.them"></span>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="filterByProjectteam('')"
                        [ngStyle]="{'font-weight': id_project_team==''?'bold':''}"> {{'filter.tatca' | translate}}
                    </button>
                    <button style="max-width:300px" class="hide-more-text" mat-menu-item
                        (click)="filterByProjectteam(project)"
                        [ngStyle]="{'font-weight': id_project_team==project.id_row?'bold':''}"
                        *ngFor="let project of listProject;"> {{project.title}}
                    </button>
                </mat-menu>
            </ng-container>
        </kt-portlet-header>
        <kt-portlet-body class="pd-0">
            <div class="mat-table__wrapper" [ngStyle]="{'height': getHeight()}">
                <table style="width: 100%;">
                    <tbody>
                        <tr class="title text-uppercase">
                            <div class="row align-items-center row-phep"
                                style="border-bottom: 0.5px solid rgb(222, 222, 222);">
                                <td style="width: 1%;">
                                </td>
                                <td style="width: 34%;">
                                    <div [ngStyle]="{'width': getWidth()}">
                                        <div class="row nghiphep">
                                            <span class="url" style="padding-left:10px;">
                                                <span translate="workprocess.tencongviec"></span>
                                            </span>&nbsp;&nbsp;
                                        </div>
                                    </div>
                                </td>
                                <td style="width: 10%;">
                                    <span translate="summary.thoigiantao"></span>
                                </td>
                                <td style="width: 10%;">
                                    <span translate="summary.thoigiancapnhat"></span>
                                </td>
                                <td style="width: 15%;">
                                    <span translate="workprocess.giaocho"></span>
                                </td>
                                <td style="width: 15%;">
                                    <span translate="mystaff.duanteam"></span>
                                </td>
                                <td style="width: 10%;">
                                    <span translate="filter.trangthai"></span>
                                </td>
                                <td style="width: 5%;">
                                    <span translate="GeneralKey.tacvu"></span>
                                </td>
                            </div>
                        </tr>
                        <tr>
                            <div class="row align-items-center row-phep"
                                style="border-bottom: 0.5px solid rgb(222, 222, 222);">
                                <div style="padding: 10px; font-weight: bold; color: black;flex-grow: 1;">
                                    <span class="text-uppercase" translate="repeated.hangtuan"></span>
                                </div>
                                <div style="padding-right: 10px;">
                                    <button class="btn btn-sm btn-outline-success text-center" style="min-width: 100px;"
                                        (click)="AddRepeated(1)"
                                        matTooltip="{{ 'projects.themcongviec' | translate }}">
                                        <!-- <mat-icon style="color: darkgreen;">add</mat-icon> -->
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                        <span style="font-size: 9pt;"
                                            translate="projects.themcongviec"></span>
                                    </button>
                                </div>
                            </div>
                        </tr>
                        <tr>
                            <div class="row align-items-center row-phep" *ngFor="let item of listData_week"
                                style="border-bottom: 0.5px solid rgb(222, 222, 222);">
                                <td class="crepeated-active" style="width: 3%;">
                                    <i class="fas fa-circle text-{{item.Locked?'muted':'success'}} text-success"></i>
                                </td>
                                <td style="width: 32%;">
                                    <div [ngStyle]="{'width': getWidth()}" style="padding: 10px;">
                                        <div class="row text-success" style="font-weight: 500;">
                                            <span style="cursor: pointer;"
                                                matTooltip="{{'GeneralKey.chinhsuacongviec' | translate}}"
                                                (click)="UpdateRepeated(item,false)">
                                                {{item.title}}
                                            </span>&nbsp;&nbsp;
                                        </div>
                                        <div class="text-dark">
                                            <span class="url" *ngIf="numSubtasks(item.Tasks) > 0"
                                                (click)="UpdateSubtask(item,true)" style="margin-right: 10px;"> <i
                                                    class="fas fa-bolt"></i> {{numSubtasks(item.Tasks)}} {{
                                                'repeated.subtask1' | translate}}</span>
                                            <span class="url" *ngIf="numTodo(item.Tasks) > 0"
                                                (click)="UpdateSubtask(item,false)"><i class="far fa-check-circle"></i>
                                                {{numTodo(item.Tasks)}} {{ 'repeated.todos' | translate}}</span>
                                        </div>
                                    </div>
                                </td>
                                <td style="width: 10%;">
                                    <div (click)="UpdateRepeated(item,false)" class="text-success hide-more-text url"
                                        style="font-weight:500;">{{item.repeated_day}}</div>
                                    <div>{{item.CreatedDate.substr(0,10)}} - {{item.end_date}}</div>
                                </td>
                                <td style="width: 10%;">
                                    <a>{{ item.UpdatedDate  | timezone }}</a>
                                </td>
                                <td style="width: 15%;padding-left: 10px;">
                                    <div class="row" style="flex-grow: 1;">
										<ng-container *ngFor="let us of item.Users;let index = index">
											<div *ngIf="index < 3" class="user url scale-hover-02 position-relative"
												style="justify-content: flex-end;">
												<ng-container>
													<kt-avatar-user [image]="us.image" size="25" [name]="us.hoten">
													</kt-avatar-user>
												</ng-container>
											</div>
										</ng-container>
										<ng-container *ngIf="item.Users && item.Users.length > 3">
											<div class="m--img-rounded m--marginless m--img-centered background url"
												[matMenuTriggerFor]="menu1" [ngStyle]="{'width.px': 29,'height.px':29}">
												<div class="user w-100 h-100"
													style="opacity: 1;color:white;padding-top:3px;text-align: center;background: grey;"
													[ngStyle]="{'font-size.px': 16}">
													+{{item.Users.length-3}}
												</div>
											</div>
											<mat-menu #menu1="matMenu">
												<div *ngFor="let user of item.Users;let index = index"
													style="justify-content: flex-end;">
													<ng-container *ngIf="index > 2">
														<div class="position-relative">
															<div class="row">
																<kt-avatar-user [image]="user.image" size="35" [name]="user.hoten"
																	[showFull]="true" [info]="'@' + user.username">
																</kt-avatar-user>
															</div>
														</div>
													</ng-container>
												</div>
											</mat-menu>
										</ng-container>
									</div>
                                </td>
                                <td style="width: 15%;">
                                    <mat-form-field style="width: 80%;" class="mat-form-field-fluid">
                                        <mat-select style="width: 100%;" class="require"
                                            [disabled]="id_project>0?'true':'false'" required
                                            (selectionChange)="updateProject($event.value,item)"
                                            [value]="''+item.id_project_team">
                                            <mat-option value="{{project.id_row}}" *ngFor="let project of listProject;">
                                                {{project.title}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </td>
                                <td style="width: 10%;">
                                    <mat-form-field style="width: 80%;" class="mat-form-field-fluid">
                                        <mat-select (selectionChange)="Locked($event.value,item)"
                                            [value]="''+item.Locked">
                                            <mat-option value="false"><span translate="filter.kichhoat"></span>
                                            </mat-option>
                                            <mat-option value="true"><span translate="filter.vohieuhoa"></span>
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </td>
                                <td style="width: 5%;">
                                    <button mat-icon-button [matMenuTriggerFor]="menu">
                                        <i class="las la-ellipsis-h m--font-brand" style="font-size: 2.2rem;"></i>
                                    </button>
                                    <mat-menu #menu="matMenu">
                                        <button mat-menu-item (click)="UpdateRepeated(item,false)">
                                            <mat-icon style="color: #df8a0a;">create</mat-icon>
                                            <span>
                                                <span style="color: #df8a0a;font-size: 9pt"
                                                    translate="GeneralKey.chinhsua"></span>
                                            </span>
                                        </button>
                                        <button mat-menu-item (click)="Forcerun(item)"
                                            matTooltip="{{ 'repeated.forcerun' | translate }}" type="button">
                                            <mat-icon style="color: rgb(14, 133, 141);">exit_to_app</mat-icon>
                                            <span style="color: rgb(6, 116, 124);font-size: 9pt"
                                                translate="repeated.forcerun"></span>
                                        </button>
                                        <button mat-menu-item (click)="UpdateRepeated(item,true)">
                                            <mat-icon style="color: rgb(5, 107, 5);">done</mat-icon>
                                            <span>
                                                <span style="color: rgb(5, 75, 5);font-size: 9pt"
                                                    translate="repeated.nhanban"></span>
                                            </span>
                                        </button>
                                        <button mat-menu-item (click)="UpdateSubtask(item,true)">
                                            <mat-icon style="color: #8807a1;">create</mat-icon>
                                            <span>
                                                <span style="color: #600472;font-size: 9pt"
                                                    translate="repeated.chinhsuasubtask"></span>
                                            </span>
                                        </button>
                                        <button mat-menu-item (click)="UpdateSubtask(item,false)">
                                            <mat-icon style="color: rgb(37, 56, 224);">create</mat-icon>
                                            <span>
                                                <span style="color: rgb(7, 21, 145);font-size: 9pt"
                                                    translate="repeated.chinhsuatodolist"></span>
                                            </span>
                                        </button>
                                        <button mat-menu-item (click)="Deleted(item)">
                                            <mat-icon style="color: rgb(231, 24, 93);">clear</mat-icon>
                                            <span>
                                                <span style="color: rgb(231, 24, 93);font-size: 9pt"
                                                    translate="GeneralKey.xoa"></span>
                                            </span>
                                        </button>
                                    </mat-menu>
                                </td>
                            </div>
                        </tr>
                        <tr>
                            <div class="row align-items-center row-phep"
                                style="border-bottom: 0.5px solid rgb(222, 222, 222);">
                                <div style="padding: 10px; font-weight: bold; color: black;flex-grow: 1;">
                                    <span class="text-uppercase" translate="repeated.hangthang"></span>
                                </div>
                                <div style="padding-right: 10px;">
                                    <button class="btn btn-sm btn-outline-success text-center" style="min-width: 100px;"
                                        (click)="AddRepeated(2)"
                                        matTooltip="{{ 'projects.themcongviec' | translate }}">
                                        <!-- <mat-icon style="color: darkgreen;">add</mat-icon> -->
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                        <span style="font-size: 9pt;"
                                            translate="projects.themcongviec"></span>
                                    </button>
                                </div>
                            </div>
                        </tr>
                        <tr>
                            <div class="row align-items-center row-phep" *ngFor="let item of listData_month"
                                style="border-bottom: 0.5px solid rgb(222, 222, 222);">
                                <td class="crepeated-active" style="width: 3%;">
                                    <i class="fas fa-circle text-{{item.Locked?'muted':'success'}} text-success"></i>
                                </td>
                                <td style="width: 32%;">
                                    <div [ngStyle]="{'width': getWidth()}" style="padding: 10px;">
                                        <div class="row text-success" style="font-weight: 500;">
                                            <span style="cursor: pointer;" matTooltip=""
                                                (click)="UpdateRepeated(item,false)">
                                                {{item.title}}
                                            </span>&nbsp;&nbsp;
                                        </div>
                                        <div class="text-dark">
                                            <span class="url" *ngIf="numSubtasks(item.Tasks) > 0"
                                                (click)="UpdateSubtask(item,true)" style="margin-right: 10px;"> <i
                                                    class="fas fa-bolt"></i> {{numSubtasks(item.Tasks)}} {{
                                                'repeated.subtask1' | translate}}</span>
                                            <span class="url" *ngIf="numTodo(item.Tasks) > 0"
                                                (click)="UpdateSubtask(item,false)"><i class="far fa-check-circle"></i>
                                                {{numTodo(item.Tasks)}} {{ 'repeated.todos' | translate}}</span>
                                        </div>
                                    </div>
                                </td>
                                <td style="width: 10%;">
                                    <div (click)="UpdateRepeated(item,false)" class="text-success hide-more-text url"
                                        style="font-weight:500;">{{item.repeated_day}}</div>
                                    <div>{{item.CreatedDate.substr(0,10)}} - {{item.end_date}}</div>
                                </td>
                                <td style="width: 10%;">
                                    <a>{{item.UpdatedDate}}</a>
                                </td>
                                <td style="width: 15%;padding-left: 10px;">
                                    <div class="row" style="flex-grow: 1;">
										<ng-container *ngFor="let us of item.Users;let index = index">
											<div *ngIf="index < 3" class="user url scale-hover-02 position-relative"
												style="justify-content: flex-end;">
												<ng-container>
													<kt-avatar-user [image]="us.image" size="25" [name]="us.hoten">
													</kt-avatar-user>
												</ng-container>
											</div>
										</ng-container>
										<ng-container *ngIf="item.Users && item.Users.length > 3">
											<div class="m--img-rounded m--marginless m--img-centered background url"
												[matMenuTriggerFor]="menu1" [ngStyle]="{'width.px': 29,'height.px':29}">
												<div class="user w-100 h-100"
													style="opacity: 1;color:white;padding-top:3px;text-align: center;background: grey;"
													[ngStyle]="{'font-size.px': 16}">
													+{{item.Users.length-3}}
												</div>
											</div>
											<mat-menu #menu1="matMenu">
												<div *ngFor="let user of item.Users;let index = index"
													style="justify-content: flex-end;">
													<ng-container *ngIf="index > 2">
														<div class="position-relative">
															<div class="row">
																<kt-avatar-user [image]="user.image" size="35" [name]="user.hoten"
																	[showFull]="true" [info]="'@' + user.username">
																</kt-avatar-user>
															</div>
														</div>
													</ng-container>
												</div>
											</mat-menu>
										</ng-container>
									</div>
                                </td>
                                <td style="width: 15%;">
                                    <mat-form-field style="width: 80%;" class="mat-form-field-fluid">
                                        <mat-select style="width: 100%;" class="require"
                                            [disabled]="id_project>0?'true':'false'" required
                                            (selectionChange)="updateProject($event.value,item)"
                                            [value]="''+item.id_project_team">
                                            <mat-option value="{{project.id_row}}" *ngFor="let project of listProject;">
                                                {{project.title}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </td>
                                <td style="width: 10%;">
                                    <mat-form-field style="width: 80%;" class="mat-form-field-fluid">
                                        <mat-select (selectionChange)="Locked($event.value,item)"
                                            [value]="''+item.Locked">
                                            <mat-option value="false"><span translate="filter.kichhoat"></span>
                                            </mat-option>
                                            <mat-option value="true"><span translate="filter.vohieuhoa"></span>
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </td>
                                <td style="width: 5%;">
                                    <button mat-icon-button [matMenuTriggerFor]="menu">
                                        <i class="las la-ellipsis-h m--font-brand" style="font-size: 2.2rem;"></i>
                                    </button>
                                    <mat-menu #menu="matMenu">
                                        <button mat-menu-item (click)="UpdateRepeated(item,false)">
                                            <mat-icon style="color: #df8a0a;">create</mat-icon>
                                            <span>
                                                <span style="color: #df8a0a;font-size: 9pt"
                                                    translate="GeneralKey.chinhsua"></span>
                                            </span>
                                        </button>
                                        <button mat-menu-item (click)="Forcerun(item)"
                                            matTooltip="{{ 'repeated.forcerun' | translate }}" type="button">
                                            <mat-icon style="color: rgb(14, 133, 141);">exit_to_app</mat-icon>
                                            <span style="color: rgb(6, 116, 124);font-size: 9pt"
                                                translate="repeated.forcerun"></span>
                                        </button>
                                        <button mat-menu-item (click)="UpdateRepeated(item,true)">
                                            <mat-icon style="color: rgb(5, 107, 5);">done</mat-icon>
                                            <span>
                                                <span style="color: rgb(5, 75, 5);font-size: 9pt"
                                                    translate="repeated.nhanban"></span>
                                            </span>
                                        </button>
                                        <button mat-menu-item (click)="UpdateSubtask(item,true)">
                                            <mat-icon style="color: #8807a1;">create</mat-icon>
                                            <span>
                                                <span style="color: #600472; font-size: 9pt"
                                                    translate="repeated.chinhsuasubtask"></span>
                                            </span>
                                        </button>
                                        <button mat-menu-item (click)="UpdateSubtask(item,false)">
                                            <mat-icon style="color: rgb(37, 56, 224);">create</mat-icon>
                                            <span>
                                                <span style="color: rgb(7, 21, 145);font-size: 9pt"
                                                    translate="repeated.chinhsuatodolist"></span>
                                            </span>
                                        </button>
                                        <button mat-menu-item (click)="Deleted(item)">
                                            <mat-icon style="color: rgb(231, 24, 93);">clear</mat-icon>
                                            <span>
                                                <span style="color: rgb(231, 24, 93);font-size: 9pt"
                                                    translate="GeneralKey.xoa"></span>
                                            </span>
                                        </button>
                                    </mat-menu>
                                </td>
                            </div>
                        </tr>
                    </tbody>
                </table>
                <div class="mat-table__message" *ngIf="!_HasItem"><span translate="GeneralKey.khongcodulieu"></span>
                </div>
            </div>
        </kt-portlet-body>
    </kt-portlet>
</div>
