img{
    padding-top: 2px;
  }
  
  .nghiphep{
      font-size: 13px;
      .tieudequanlyduyet{
          color: #007BFF;
          font-size: 15px;
      }
      .thoigian {
      color: orange;
      padding-top: 2px;
      }
      .lydo {
      color: gray;
      padding-top: 2px;
      }
      .ngaygui {
      color: #0A9562;
      padding-top: 2px;
      }
  }
  
  .tangca{
      font-size: 13px;
      .tieudequanlyduyet{
          color: #F86252;
          font-size: 15px;
      }
      .thoigian {
      color: orange;
      padding-top: 2px;
      }
      .lydo {
      color: gray;
      padding-top: 2px;
      }
      .ngaygui {
      color: #0A9562;
      padding-top: 2px;
      }
      .lamviecbenngoai{
      color:#F86252;
      padding-top: 2px;
      }
      .hinhthucchitra{
        background-color: #5867DD10;
        height: 25px;
        text-align: center;
        border-radius: 10px;
        padding-top: 2px;
      }
      
  }
  
  .doicalamviec{
      font-size: 13px;
      .tieudequanlyduyet{
          color: #6F42C1;
          font-size: 15px;
      }
      .thoigian {
      color: orange;
      padding-top: 2px;
      }
      .lydo {
      color: gray;
      padding-top: 2px;
      }
      .ngaygui {
      color: #0A9562;
      padding-top: 2px;
      }
  }
  
  .giaitrinhchamcong{
      font-size: 13px;
      .tieudequanlyduyet{
          color: #5867DD;
          font-size: 15px;
      }
      .thoigian {
      color: orange;
      padding-top: 2px;
      }
      .lydo {
      color: gray;
      padding-top: 2px;
      }
      .ngaygui {
      color: #0A9562;
      padding-top: 2px;
      }
  }
  
  
  .tuyendung{
      font-size: 13px;
      .tieudequanlyduyet{
          color: #0A9562;
          font-size: 15px;
      }
      .thoigian {
      color: orange;
      padding-top: 2px;
      }
      .lydo {
      color: gray;
      padding-top: 2px;
      }
      .ngaygui {
      color: #0A9562;
      padding-top: 2px;
      }
  }
  
  .thoiviec{
      font-size: 13px;
      .tieudequanlyduyet{
          color: #BA6728;
          font-size: 15px;
      }
      .lydo {
      color: gray;
      padding-top: 2px;
      }
      .ngaygui {
      color: #0A9562;
      padding-top: 2px;
      }
  }


  .mat-table__wrapper{
      table{
          tr{
              td{
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
          }
      }
  }