<kt-portlet>

    <kt-portlet-body class="pd-0">
        
        <div class="row">
            <div class="col-md-4" >
                <ng-container *ngIf="dataFolder.length > 0 && loadListfolder">
                    <app-danhsachthumuc [dataSource]="dataFolder" (ChangeFolder)="ReloadList($event)"></app-danhsachthumuc>
                </ng-container>
            </div>
            <div class="{{ loadListfolder ? 'col-8':'col-12'}} overflow-auto" [ngStyle]="{'height.px': getHeight()}">
                <kt-report-tab-dashboard></kt-report-tab-dashboard>
            </div>
        </div>

    </kt-portlet-body>


</kt-portlet>