
<div class="my-form-header border-bottom border-top">
    <div class="cu2-views-bar__options ng-tns-c31-5 ng-star-inserted">
        <div class="cu-hidden-print cu-filter-block ng-tns-c31-5 ng-star-inserted">
            <ng-container>
                <div class="cu-search-filter cu-search-filter_v5" style="    padding: 0 10px;">
                    <input class="cu-search-filter__input ng-pristine ng-valid ng-touched" style="border:0;outline:0"
                        type="text" [formControl]="searchCtrl" placeholder="{{ 'work.filterbytaskname' | translate }}">

                    <div class="cu-search-filter__extra">
                        <div class="cu-filter-value-list-dropdown ng-star-inserted">
                            <div class="cu-dropdown_left cu-dropdown">
                                <i class="fas fa-filter"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
        <div style="flex-grow: 1;"></div>
        <div (click)="SelectFilterDate()" class="filter ">{{'filter.tu'|translate}}:
            <em>{{ filterDay.startDate | date:'dd/MM'}} -
                {{ filterDay.endDate | date:'dd/MM/yyyy'}}</em>
            &nbsp;
            <i class="fas fa-chevron-down"></i>
        </div>
        <div class="filter" [matMenuTriggerFor]="menu" matTooltip="{{'report.clicktoupdate'|translate}}">
            <em>{{column_sort.title}}</em>
            &nbsp;
            <i class="fas fa-chevron-down"></i>
            <mat-menu #menu="matMenu">
                <button mat-menu-item *ngFor="let item of sortField"
                    [ngStyle]="{'font-weight': column_sort.value==item.value?'bold':''}"
                    (click)="SelectedField(item)">{{item.title}}</button>
            </mat-menu>
        </div>
        <div class="cu-filter-right row text-dark">
            <div class="item-filter url -hover">
                <div [matMenuTriggerFor]="groupby">
                    <span class="filter-name" translate="filter.groupby"></span> : {{
                    'filter.'+filter_groupby.title | translate }}
                </div>
                <mat-menu #groupby="matMenu">
                    <button mat-menu-item *ngFor="let item of listFilter_Groupby" (click)="GroupBy(item)">
                        {{ 'filter.'+item.title | translate }}</button>
                </mat-menu>
            </div>

            <div class="item-filter url -hover">
                <i class="fas fa-ellipsis-h" [matMenuTriggerFor]="viewSetting"></i>
                <mat-menu #viewSetting="matMenu">
                    <div (click)="$event.stopPropagation()">
                        <div class="text-muted" style="padding: 0px 15px 5px 15px; font-size: 500;">
                            <span translate="viewsetting.title"></span>
                        </div>
                        <button mat-menu-item class="d-flex">
                            <div (click)="tasklocation=!tasklocation"
                                style="line-height: 2;margin-right: 10px;flex-grow: 1;">
                                <span translate="viewsetting.tasklocation"></span>
                            </div>
                            <mat-slide-toggle [(ngModel)]="tasklocation">
                            </mat-slide-toggle>
                        </button>
                        <button mat-menu-item class="d-flex">
                            <div (click)="ShowCloseTask()" style="line-height: 2;margin-right: 10px;flex-grow: 1;">
                                <span translate="viewsetting.showclosedtask"></span>
                            </div>
                            <mat-slide-toggle [(ngModel)]="showclosedtask">
                            </mat-slide-toggle>
                        </button>
                        <button mat-menu-item class="d-flex">
                            <div (click)="showclosedsubtask=!showclosedsubtask"
                                style="line-height: 2;margin-right: 10px;flex-grow: 1;">
                                <span translate="viewsetting.showclosedsubtask"></span>
                            </div>
                            <mat-slide-toggle [(ngModel)]="showclosedsubtask">
                            </mat-slide-toggle>
                        </button>
                        <button mat-menu-item class="d-flex">
                            <div (click)="showemptystatus=!showemptystatus"
                                style="line-height: 2;margin-right: 10px;flex-grow: 1;">
                                <span translate="viewsetting.showemptystatus"></span>
                            </div>
                            <mat-slide-toggle [(ngModel)]="showemptystatus">
                            </mat-slide-toggle>
                        </button>
                    </div>
                </mat-menu>
            </div>
        </div>
    </div>
</div>



<kt-portlet [options]="{hideHeader: true}">
    <kt-portlet-body class="pd-0" [ngStyle]="{'height.px': getHeight()}">
        <div class="kt-form__filtration cu-if-not-task-view-scroll cu-dashboard-table__scroll">
            <div class="cu-dashboard-table__body"> 
                <ng-container *ngFor="let item of this.DataSpace | async ">
                    <div class="border-list-group item-lis ">
                        <div class="cu-list-group__header">
                            <div class="cu-list-group__header-container">
                                <div class="cu-list-group__header-breadcrumbs">
                                     <div class="cu-list-group__category-name ng-star-inserted">
                                     </div>
                                 </div>
                                <div class="cu-list-group__header-inner">
                                    <div class="cu2-list-details-menu cu-list-group__name-container ng-star-inserted">
                                        <div class="cu2-list-details-menu">
                                            <div class="nav-menu cu-dropdown menu-options">
                                                <div data-test="dropdown__toggle"  class="cu-dropdown__toggle"> 

                                                    <div  class="cu-list-group__name font-size-h3 font-weight-bolder">
                                                        {{ item.projectname }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> 
                                </div> 
                            </div> 
                        </div>
                         <app-works-list-group-2 [showemptystatus]="showemptystatus" [tasklocation]="tasklocation" [type]="type"
                            [showclosedtask]="showclosedtask" [showclosedsubtask]="showclosedsubtask"
                            [project_data]="item.project_data" [ID_Project]="item.id_row" [filter]="filter" [Id_Department]="Id_Department" [listNewfield]="listNewfield"
                            [listField]="listField" [groupby]="filter_groupby.value" (pageReload)="LoadData()" (ColReload)="getListField($event)">
                        </app-works-list-group-2>
                    </div>
                </ng-container>

            </div>
        </div>
    </kt-portlet-body>
</kt-portlet>
