<div class="cu-automation-tab-manage__header ng-star-inserted">
    <div class="cu-automation-tab-manage__header-left">
        <div class="cu-automation-tab-manage__header-count"><span>{{ getAutomationActive() }}</span></div>
        <div class="cu-automation-tab-manage__header__main">
            <div class="cu-automation-tab-manage__header-title"> {{'GeneralKey.activeautomation'|translate}} </div>
            <div class="cu-automation-tab-manage__header-breadcrumbs">
                
                <div _ngcontent-abp-c307="" class="cu-automation-breadcrumbs" [innerHTML]="vitri">

                </div>
            </div>
        </div>
    </div>
    <div class="cu-automation-tab-manage__header-right">
        <button class="btn btn-skype" (click)="UpdateAutomation()"> {{'GeneralKey.themmoi'|translate}}
        </button></div>
</div>
<div class="cu-automation-tab-manage__item ng-star-inserted" *ngFor="let item of listAutomation">
    <div class="cu-automation-tab-manage__item-section">
        <div class="cu-automation-tab-manage__item-edit">
                <mat-icon class="text-dark url" (click)="UpdateAutomation(item)" matTooltip="Chỉnh sửa hành động">edit</mat-icon>
                <mat-icon mat-icon-button class="url" (click)="Delete(item)" color="warn" matTooltip="Xóa hành động">delete</mat-icon>
                
            <mat-slide-toggle [checked]="item.status==1" (click)="Update(item)"></mat-slide-toggle>

        </div>
    </div>

    <app-automation-label class="cu-automation-label" row="1" [value]="item"></app-automation-label>
</div>

<!-- 
<div class="cu-automation-tab-manage__item ng-star-inserted">
    <div class="cu-automation-tab-manage__item-section">
        <div class="cu-automation-tab-manage__item-edit">

            <div icon="cu2-trash-thick" matTooltip="Delete" class="cu-automation-tab-manage__item-edit-trash icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" id="svg-sprite-cu2-trash-thick">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M5 0a2 2 0 00-2 2v1H1a1 1 0 000 2h.5l.5 6a3 3 0 003 3h4a3 3 0 003-3l.5-6h.5a1 1 0 100-2h-2V2a2 2 0 00-2-2H5zm5.5 5h-7l.5 6a1 1 0 001 1h4a1 1 0 001-1l.5-6zM9 3H5V2h4v1zM5.502 6.065a1 1 0 011.063.933l.195 2.994a1 1 0 11-1.996.13L4.57 7.128a1 1 0 01.933-1.063zm1.933.933a1 1 0 011.996.13l-.195 2.994a1 1 0 01-1.996-.13l.195-2.994z">
                    </path>
                </svg>

            </div>

        </div>
    </div>

    <app-automation-label class="cu-automation-label" row="2"></app-automation-label>
</div> -->
